.pack-main-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 10rem;
  height: auto;
  box-shadow: 0.25em 0.25em 0px 0px rgb(255 255 255), 0.25em 0.25em 0px 1px #ddd,
    0.5em 0.5em 0px 0px rgb(255 255 255), 0.5em 0.5em 0px 1px #ddd,
    rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: box-shadow 0.2s ease-out;
  touch-action: pan-y !important;
}

.pack-main-card:hover {
  box-shadow: 0.4em 0.4em 0px 0px rgb(255 255 255), 0.4em 0.4em 0px 1px #ddd,
    0.8em 0.8em 0px 0px rgb(255 255 255), 0.8em 0.8em 0px 1px #ddd,
    rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

#pack-buttons {
  margin-top: 5px;
  position: relative;
}

.pack-icons {
  margin-top: 8px;
}

#fav-icon {
  animation: shake-heart 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.fav-icon {
  cursor: pointer;
}

.like-counter {
  display: flex;
  gap: 5px;
  transform: translateX(0px);
  transition: transform 0.2s ease;
}

.liked-this {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#pack-buttons:hover > .like-counter > .liked-this {
  opacity: 1;
}

#pack-buttons:hover > .like-counter {
  transform: translateX(0px);
}

@keyframes shake-heart {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-15deg) scale(1.1);
  }

  60% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

mat-icon {
  font-size: 20px;
  cursor: default;
}

.pack-desc {
  text-align: center;
  margin-bottom: 0px;
  font-family: "rubik";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content {
  transition: transform 0.2s ease-out;
}

.content:hover {
  transform: scale(1.03);
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl;
  text-align: right;
}

.free-label {
  position: relative;
  padding: 20%;
  right: 15px;
  margin-left: -20px;
  margin-top: -140px;
  width: 80%;
  text-align: center;
  border-radius: 8px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 600;
  animation: heartbeat 2s infinite;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  opacity: 0.9;
  rotate: 15deg;
  font-size: large;
}

.free-until-label {
  position: relative;
  padding: 2%;
  right: 15px;
  margin-left: -20px;
  margin-top: -55px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 600;
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
  25%,
  75% {
    transform: scale(0.95);
  }

  0%,
  50%,
  100% {
    transform: scale(1);
  }
}

.about-icon {
  color: #ffa800;
  font-size: x-large;
  margin-right: 5%;
}

.lock-icon {
  position: relative;
  top: 190px;
  right: 125px;
  color: #616161;
  scale: 1.2;
  margin-bottom: -24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.external-icon {
  scale: 0.8;
}

.pack-title {
  max-width: 10rem;
}
