<div class="d-flex flex-column content">
  <h3 class="pack-desc" [style.borderColor]="getBorderColor()">{{packInfo.name}}</h3>
  <!-- <div class="d-flex justify-content-center align-items-center">
    <h3 id="pack-desc">{{packInfo.name}}</h3>
    <mat-icon (click)="openAboutDialog()" matTooltip="מידע על יוצר הערכה" [matTooltipClass]="{'tooltip-class' : true}"
      *ngIf="packInfo.about && packInfo.about.length!=0" class="clickable about-icon">info</mat-icon>
  </div> -->
  <!-- Owned - list-->
  <img [style.borderColor]="getBorderColor()" *ngIf="packInfo.cards.length != 0" routerLink="/pack-view/{{packInfo.id}}"
    (load)="imgLoaded()" src={{packInfo.imgUrl}}
    matTooltip="קטגוריות: {{packInfo.categories | tooltipListView}} | תגיות: {{packInfo.tags | tooltipListView}}"
    matTooltipShowDelay="500" [matTooltipClass]="{'tooltip-class' : true}" class='clickable'>
  <!-- Not owned -->
  <img [style.borderColor]="getBorderColor()" *ngIf="packInfo.cards.length == 0" (click)="openPreviewDialog()"
    (load)="imgLoaded()" src={{packInfo.imgUrl}}
    matTooltip="קטגוריות: {{packInfo.categories | tooltipListView}} | תגיות: {{packInfo.tags | tooltipListView}}"
    matTooltipShowDelay="500" [matTooltipClass]="{'tooltip-class' : true}" class='clickable'>
  <label *ngIf="isStillFree" class="free-until-label">ערכה במתנה! עד - {{freeUntilDate}}</label>
  <div id="pack-buttons" class="d-flex justify-content-between">
    <div id="pack-icons">
      <mat-icon id="fav-icon" matTooltip="מחיקה מהמועדפים" matTooltipShowDelay="500" *ngIf="this.fav" matRipple
        [matRippleRadius]="10" [matRippleUnbounded]="true" [matRippleColor]="fav ? '#b3b3b357' : '#ff757569'"
        (click)="addRemoveFavorite()" [ngStyle]="{'color': '#ff5454'}">favorite</mat-icon>
      <mat-icon matTooltip="הוספה למועדפים" matTooltipShowDelay="500" *ngIf="!this.fav" matRipple [matRippleRadius]="10"
        [matRippleUnbounded]="true" [matRippleColor]="fav ? '#b3b3b357' : '#ff757569'" (click)="addRemoveFavorite()"
        [ngStyle]="{'color': '#a0a0a0'}">favorite_border</mat-icon>
    </div>
  </div>
</div>