img {
  /* border-style: solid;
  border-width: 0px 4px 4px 4px;
  border-radius: 0px 0px 4px 4px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  /* padding: 5px; */
  /* width: 10vw; */
  width: 10rem;
  height: auto;
  box-shadow: 0.25em 0.25em 0px 0px rgb(255 255 255), 0.25em 0.25em 0px 1px #ddd, 0.5em 0.5em 0px 0px rgb(255 255 255), 0.5em 0.5em 0px 1px #ddd, rgba(0, 0, 0, 0.09) 0px 3px 12px;
  transition: box-shadow 0.2s ease-out;
}

img:hover {
  box-shadow: 0.4em 0.4em 0px 0px rgb(255 255 255), 0.4em 0.4em 0px 1px #ddd, 0.8em 0.8em 0px 0px rgb(255 255 255), 0.8em 0.8em 0px 1px #ddd, rgba(0, 0, 0, 0.09) 0px 3px 12px;
  /* transform: scale(1.03); */
}

#pack-buttons {
  margin-top: 5px;
  /* margin-top: 14.2rem; */
  position: relative;
}

.pack-icons {
  margin-top: 8px;
}

#fav-icon {
  animation: shake-heart 1s cubic-bezier(.36, .07, .19, .97) both;
}

.fav-icon {
  cursor: pointer;
}

@keyframes shake-heart {

  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-15deg) scale(1.1);
  }

  60% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

mat-icon {
  /* margin: 0px 5px 0px 5px; */
  font-size: 20px;
  cursor: default;
}

.pack-desc {
  text-align: center;
  margin-bottom: 0px;
  font-family: 'rubik';
  /* border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-radius: 4px 4px 0px 0px; */
}

.content {
  transition: transform 0.2s ease-out;
}

.content:hover {
  transform: scale(1.03);
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl;
  text-align: right;
}

.free-until-label {
  position: relative;
  padding: 2%;
  right: 15px;
  margin-left: -20px;
  margin-top: -55px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 600;
  animation: heartbeat 2s infinite;
}
/* 
img {
  overflow-y: auto;
} */

@keyframes heartbeat {

  25%,
  75% {
    transform: scale(.95);
  }

  0%,
  50%,
  100% {
    transform: scale(1);
  }
}

.about-icon {
  color: #ffa800;
  font-size: x-large;
  margin-right: 5%;
}
