<section class=" flex justify-evenly  sm:justify-between items-center mt-2 sm:mt-0">
    <div class="flex">
        <div dir="rtl" class=" flex items-center justify-between ms-4">
            <button class="xl:hidden block" [matMenuTriggerFor]="allButtons">
                <mat-icon>menu</mat-icon>
            </button>
            <button *ngIf="!loggedIn" class="hidden sm:flex items-center" (click)="signInSignUp()">
                <img src="/assets/New/nav-bar/user.svg" alt="user image" /> <span class="text-[#e67c73] ms-2"> כניסה
                </span>
            </button>
            <button *ngIf="loggedIn" [matMenuTriggerFor]="userMenu" class="hidden sm:flex">
                <img src="/assets/New/nav-bar/user.svg" alt="user image" />
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </div>
        <div class="ms-20 hidden lg:flex items-center">
            <mat-form-field>
                <mat-label>{{'pages.all-packs-page.new-search-placeholder' | translate}}</mat-label>
                <input matInput type="text" autocomplete="off" />
            </mat-form-field>
            <img src="/assets/New/nav-bar/search.svg" alt="user image" class="h-5 ms-2" />
        </div>
    </div>
    <div class="hidden sm:flex align-middle items-center">
        <div *ngFor="let item of navBarItems" class="flex items-center align-middle">
            <button *ngIf="item.name === 'pages.nav.navbar.digital-courses'" (click)="openNewTab()"
                class="text-black hover:cursor-pointer mx-2" (mouseenter)="hover(item)" (mouseleave)="leave(item)"
                (touchstart)="hover(item)" (touchend)="leave(item)">
                <div style="font-weight: 700; font-size: 13px;">
                    {{item.name | translate}}
                </div>
                <div class="underline-on-hover" [class.hidden]="!item.hovering">
                    &nbsp;
                </div>
                <div class="no-underline-on-hover" [class.hidden]="item.hovering">
                    &nbsp;
                </div>
            </button>
            <button *ngIf="item.name != 'pages.nav.navbar.digital-courses'" [routerLink]="item.route"
                routerLinkActive="active" class="text-black hover:cursor-pointer mx-2" (mouseenter)="hover(item)"
                (mouseleave)="leave(item)" (touchstart)="hover(item)" (touchend)="leave(item)">
                <div style="font-weight: 700; font-size: 13px;">
                    {{item.name | translate}}
                </div>
                <div class="underline-on-hover" [class.hidden]="!item.hovering">
                    &nbsp;
                </div>
                <div class="no-underline-on-hover" [class.hidden]="item.hovering">
                    &nbsp;
                </div>
            </button>
        </div>
        <button id="admin-drop-down" *ngIf="loggedIn && userAttributes?.groupRole === 'SUPER_USER'"
            [matMenuTriggerFor]="managementMenu">
            {{ "pages.nav.navbar.admin" | translate }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </div>
    <div class="lg:me-40" matRipple [matRippleColor]="matRippleColor" (click)="navigate('/home-page')">
        <img id="logo-name" src="/assets/New/nav-bar/logo.svg" alt="Mentor-Cards full logo" />
    </div>
</section>

<mat-menu class="mat-menu-news" #newsMenu="matMenu">
    <div class="news">
        <span id="news-title">{{ "pages.nav.news-updates" | translate }}</span>
        <div class="line"></div>
        <ul id="news-list">
            <li class="news-list-item" *ngFor="let n of news">
                <span class="news-list-data">{{ n.message }}
                    <span class="news-list-date">({{ n.createdAt | date : "dd.MM.yyyy" }})</span>
                </span>
            </li>
            <li class="news-list-item" *ngIf="news?.length == 0">
                {{ "pages.nav.no-news-updates" | translate }}
            </li>
        </ul>
    </div>
</mat-menu>

<mat-menu #allButtons="matMenu">
    <button *ngIf="!loggedIn" class=" flex items-center" (click)="signInSignUp()">
        <img src="/assets/New/nav-bar/user.svg" alt="user image" /> <span class="text-[#e67c73] ms-2"> כניסה </span>
    </button>
    <button id="user-drop-down" *ngIf="loggedIn" class="btn navbar-btn" [matMenuTriggerFor]="userMenu">
        <mat-icon id="account_circle">account_circle</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <div class="align-middle items-center">
        <div *ngFor="let item of navBarItems" class="flex items-center align-middle">
            <button [routerLink]="item.route" routerLinkActive="active" class="text-black hover:cursor-pointer mx-2"
                (mouseenter)="hover(item)" (mouseleave)="leave(item)" (touchstart)="hover(item)"
                (touchend)="leave(item)">
                <div style="font-weight: 700; font-size: 13px;">
                    {{item.name | translate}}
                </div>
                <div class="underline-on-hover" [class.hidden]="!item.hovering">
                    &nbsp;
                </div>
                <div class="no-underline-on-hover" [class.hidden]="item.hovering">
                    &nbsp;
                </div>
            </button>
        </div>
    </div>

    <button mat-menu-item *ngIf="loggedIn && userAttributes?.groupRole === 'SUPER_USER'"
        [matMenuTriggerFor]="managementMenu">
        {{ "pages.nav.navbar.admin" | translate }}
    </button>
    <mat-divider *ngIf="loggedIn"></mat-divider>
    <button mat-menu-item *ngIf="loggedIn" (click)="openEnterCouponCodeModal()">
        {{ "pages.nav.navbar.coupon-codes" | translate }}
    </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item *ngIf="loggedIn" (click)="navigate('/user-page')">
        {{ "pages.nav.user-menu.user-details" | translate }}
    </button>
    <button mat-menu-item *ngIf="loggedIn && userAttributes?.status === 'NOPLAN'" (click)="navigate('/price-page')">
        {{ "pages.nav.user-menu.register-plan" | translate }}
    </button>

    <button mat-menu-item *ngIf="loggedIn && userAttributes?.myAffiliate" (click)="navigate('/affiliate-dashboard')">
        {{ "pages.nav.user-menu.affiliate" | translate }}
    </button>
    <button mat-menu-item type="button" *ngIf="
      loggedIn &&
      userAttributes?.groupId &&
      (userAttributes?.groupRole === 'ADMIN' ||
        userAttributes?.groupRole === 'SUPER_USER')
    " (click)="navigate('/group-management')">
        {{ "pages.nav.user-menu.group-management" | translate }}
    </button>
    <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
        {{ "pages.nav.user-menu.logout" | translate }}
    </button>
</mat-menu>

<mat-menu #tourMenu="matMenu" backdropClass="mat-menu">
    <button mat-menu-item (click)="navigate('/all-packs-page')" *ngIf="showTour">
        <div>{{ "pages.nav.tour-menu.tour-main-page" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/pack-view/50')" *ngIf="showTour">
        <div>{{ "pages.nav.tour-menu.how-to-work-with-cards" | translate }}</div>
    </button>
</mat-menu>

<mat-menu #managementMenu="matMenu" backdropClass="mat-menu">
    <button mat-menu-item (click)="navigate('/dashboard')" *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>{{ "pages.nav.management-menu.dashboard" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/news-management')" *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>{{ "pages.nav.news-updates" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/guide-book-management')"
        *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>
            {{ "pages.nav.management-menu.guidebook-management" | translate }}
        </div>
    </button>
    <button mat-menu-item (click)="navigate('/coupon-codes-management')"
        *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>
            {{ "pages.nav.management-menu.coupon-codes-management" | translate }}
        </div>
    </button>
    <button mat-menu-item (click)="navigate('/orgs-management')" *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>{{ "pages.nav.management-menu.orgs-management" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/packs-management')" *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>{{ "pages.nav.management-menu.packs-management" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/payment-programs-management')"
        *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>
            {{ "pages.nav.management-menu.payment-programs-management" | translate }}
        </div>
    </button>
    <button mat-menu-item (click)="navigate('/receipts-management')" *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>{{ "pages.nav.management-menu.receipts-management" | translate }}</div>
    </button>
    <button mat-menu-item (click)="navigate('/affiliate-management')"
        *ngIf="userAttributes?.groupRole === 'SUPER_USER'">
        <div>
            {{ "pages.nav.management-menu.affiliate-management" | translate }}
        </div>
    </button>
</mat-menu>