<div class="flex justify-between gap-4 items-start mt-8 flex-col md:flex-row">
    <div class="md:m-10 my-10  mx-auto"> <img src="/assets/New/home-page/try-this-2.png" alt="user image" class="md:ms-8 mx-auto" /></div>
    <div class="2xl:-me-32 mx-auto">
        <div class=" sm:text-4xl text-2xl font-bold text-center">מנטור-קארדס - <br>
            הפלטפורמה הזו היא האס שלכם!</div>
        <div class="justify-center">
            <div class="md:w-[35vw] w-[90vw] text-center text-md font-bold mt-8 mx-auto">מנטור-קארדס הם הרבה מעבר לערכות קלפי השלכה.
                <br>
                לצד גישה מלאה למאגר עצום של ערכות שכל הזמן מתעדכנות, תוכלו להנות ממגוון ענק של ספרי הדרכה בנושאים שונים,
                רעיונות להפעלה, ושאלות מנחות להשראה. הכל בחלוקה לפי קטגוריות ומטרה: פגישות קבוצתיות, פגישות אישיות,
                עבודה תהליכית, מול קבוצות ועוד ועוד.
            </div>
            <div class="md:w-[30vw] w-[90vw] text-center text-md font-bold mt-8 mx-auto">
                מקלפי מילה ועד קלפי תמונה, מקלפי מסרים ועד קלפי שאלה, מקלפים פותחים לקלפים עוקפי תת מודע –לכל שיטה יש
                לנו ערכה!
            </div>
            <div class="md:w-[30vw] w-[90vw] text-center text-xl font-bold mt-8 mx-auto">
                תנסו, מקסימום תתאהבו
            </div>
            <div class="md:w-[30vw] w-[90vw] text-center text-md font-bold mt-8 mx-auto">
                לרשותכם שתי ערכות קלפים להתנסות, ללא מנוי וללא התחייבות, מוגשים באהבה. <br>
                <b> מוזמנים לחוות, להתנסות ולגלות כמה מנטור-קארדס הוא כל מה שחיפשתם. </b>
            </div>
            <div class=" flex justify-center mt-4">
                <button class="py-2 bg-[#E67C73] rounded-full px-8 text-white font-bold try-this-button text-lg">נסו את
                    הערכות חינם
                </button>
            </div>
        </div>
    </div>
    <div> <img src="/assets/New/home-page/try-this-1.png" alt="user image" /></div>
</div>