<div class="flex items-center justify-center bg-white rounded-3xlmx-2-sm-mx-10 flex-col mt-12">
    <div class="mt-8 sm:text-4xl text-2xl text-center font-bold">
        חדשות ועדכונים
    </div>
    <div class="mt-4 text-center font-bold">
        אנחנו כל הזמן מחדשים ומשפרים והמערכת שלנו כל הזמן מתעדכנת, <br>
        כדאי שתראו מה חדש אצלנו.
    </div>
    <div class=" sm:flex justify-center gap-8 mb-16">
        <div class="sm:w-[22vw] w-[90vw] text-center sm:mt-4 mt-16 mx-auto justify-center">
            <div class="mt-4">
                הוספנו פיצ'ר חדש לעבודה משותפת אינטרקטיבית באתר! לוחצים על הלינק בתוך ערכת קלפים, שולחים אותו לאחרים
                בווצאפ ויש להם גישה חינם לערכת הקלפים באתר ל 3 שעות שלמות! תנסו, זה גאוני :)
            </div>
            <div>(20.02.2024)</div>
        </div>
        <div class="sm:w-[22vw] w-[90vw] text-center sm:mt-4 mt-16 mx-auto justify-center">
            <div class="mt-4">
                חידשנו את ערכת אימוג'ים! כעת מחכים לכם בערכה 80 קלפי אימוג'ים שונים ומוכרים. עובד נפלא עם ילדים ונוער,
                וכמובן, עם מבוגרים :) 
            </div>
            <div>(04.03.2024)</div>
        </div>
        <div class="sm:w-[22vw] w-[90vw] text-center sm:mt-4 mt-16 mx-auto justify-center">
            <div class="mt-4">
                לקראת חג פורים פתחתנו לכולם גישה לערכת מסכות! 👹🤠🤡 
            </div>
            <div>
                (04.03.2024)
            </div>
        </div>
    </div>
</div>