<div class="flex items-center justify-center bg-white rounded-3xlmx-2-sm-mx-10 flex-col mt-12">
    <div class="mt-8 sm:text-4xl text-2xl text-center font-bold">
        {{ 'pages.home-page.sections.updates.content.title' | translate }}
    </div>
    <div class="mt-4 text-center font-bold">
        {{ 'pages.home-page.sections.updates.content.description1' | translate }}<br>
        {{ 'pages.home-page.sections.updates.content.description2' | translate }}
    </div>
    <div class="sm:flex justify-center gap-8 mb-16">
        <div class="sm:w-[22vw] w-[90vw] text-center sm:mt-4 mt-16 mx-auto justify-center" *ngFor="let n of news">
            <div class="mt-4">
                {{ n.message }}
            </div>
            <div>{{ n.createdAt | date : "dd.MM.yyyy" }}</div>
        </div>
    </div>
</div>
