.scroll-container {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.scroller {
  /* Hide scrollbar for Chrome, Safari and Opera */
  overflow-y: scroll;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.scroller::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.dialog-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.dialog-container .content {
  margin-top: 48px;
  /* Additional styles if needed */
}

.dialog-container button {
  position: absolute;
  top: 0;
  right: 0;
}

.large-radio {
  transform: scale(1.5);
  /* Adjust the scale value as needed */
  margin: 10px;
  /* Add some margin to avoid overlap with other elements */
}

.all-packs-view__section {
  margin-bottom: 1%;
  border: 2px solid #fae8e5;
  border-top: none;
  border-left: none;
  border-right: none;
}

.message-bubble {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f3f9f9;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.message-bubble p {
  margin-bottom: 0;
}

.message-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f3f9f9;
  transform: translateY(-50%);
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.full-screen-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  max-width: none;
  max-height: none;
}

/* Existing CSS */

.full-screen-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  max-width: none;
  max-height: none;
}

.message-bubble {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f3f9f9;
  border-radius: 20px;
  position: relative;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.message-bubble p {
  margin-bottom: 0;
}

.message-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f3f9f9;
  transform: translateY(-50%);
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.grid-column-12 {
  grid-template-columns: repeat(12, minmax(0, 92px));
}

.reading-book { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pos-relative {
  position: relative;
}

.arrow-left {
  left: 0;
  top: 39%;
  position: absolute;
  background: #3b3b3b;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #a8a8a8;

}

.arrow-right {
  left: -25px;
  top: 35%;
  position: absolute;
  background: #3b3b3b;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #a8a8a8;

}
.middle {
  width: 90%;
  overflow: scroll;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}

.favourite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
 }
 

@media (min-width: 640px) {
  .content-ltr {
    width: 1800px !important;
    height: 9.5rem !important;
  }

  .content-rtl {
    width: 1500px !important;
    height: 8.5rem !important;
  }

   
  .favourite-icon {
    border-left: 2px solid black;
  }
   
}

.filtered-card {
  border: 2px solid #e67c73; /* Adjust the border style and color as needed */
  border-radius: 4px; /* Adjust the border radius as needed */
}


@media screen and (max-width: 768px) {
/* 
  .arrow-left,
  .arrow-right {
    position: absolute;
    background: #3b3b3b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #a8a8a8;
    z-index: 10; 
  }

  .arrow-left {
    left: 0;
    top: 50%;
  }

  .arrow-right {
    left: 21rem;
    top: 10rem;
  } */

  .grid-column-12 {
    grid-template-columns: repeat(12, minmax(0, 7rem));
  }

  .arrow-left,
  .arrow-right {
    display: none;
  }

  .overflow-x-scroll {
    overflow-x: scroll;
  }

  .scroll {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .ms-4 {
    margin-inline-start: 0.2rem;
  }

  .middle {
    width: 100%;
  }

}