<title>{{'pages.all-packs-page-new.title' | translate}}</title>
<div id="content" [dir]="langDirectionService.currentLangDirection" class=" bg-[#fcf4f2] min-h-screen">
    <div class=" min-h-screen">

        <div class="w-screen overflow-x-scroll lg:overflow-visible mb-2 z-20"
            style="margin-bottom: 20px; padding-right: 15px;">

            <div id="content" [dir]="langDirectionService.currentLangDirection"
                class=" sm:w-[1590px] w-[1350px] h-32 mx-auto shadow-xl bg-[#f3f9f9] rounded-b-2xl flex items-center">
                <div *ngIf="!isMobileScreen" class="w-[12.5%] border-black h-[90%] px-2"
                    [ngClass]="{'sm:border-r-2': langDirectionService.currentLangDirection == 'ltr', 'sm:border-l-2': langDirectionService.currentLangDirection != 'ltr'}">
                    <div class="text-center" style="font-weight: 700; font-size: 12px;">
                        {{'pages.all-packs-page-new.content.favorites' | translate}}
                    </div>
                    <div class=" grid grid-cols-2 w-full justify-between pt-2">
                        <app-filters class=" col-span-1" [imageSrc]="'/assets/New/home-page/cards/0.svg'"
                            [buttonText]="'המועדפים עלי'" [filterText]="''" (categoryClick)="toggleIsFavSelected()">
                        </app-filters>
                        <app-filters class=" col-span-1" [imageSrc]="'/assets/New/home-page/cards/12.svg'"
                            [buttonText]="'לכל הערכות'" [filterText]="''" (categoryClick)="handleCategoryClick($event)">
                        </app-filters>
                    </div>
                </div>
                <div class="h-[90%] sm:w-[70%] w-[100%] border-black"
                    [ngClass]="{'sm:border-r-2': langDirectionService.currentLangDirection == 'ltr', 'sm:border-l-2': langDirectionService.currentLangDirection != 'ltr'}">
                    <div *ngIf="!isMobileScreen" class="text-right"
                        style="font-weight: 700; font-size: 12px; margin-right: 10px; ">
                        {{'pages.all-packs-page-new.content.favorites' | translate}}
                    </div>
                    <div *ngIf="isMobileScreen" class=" flex justify-start">
                        <div class="items-center h-4 flex ms-4">
                            <mat-form-field class=" w-60">
                                <mat-label>{{'pages.all-packs-page.new-search-placeholder' | translate}}</mat-label>
                                <input #filterText matInput type="text" autocomplete="off"
                                    [(ngModel)]="freeTextFilterSelected" (keyup)="filterOptions()"
                                    (keydown)="handleKeyDown($event)" />
                                <div *ngIf="!stopGenerateOptions && filteredOptions.length > 0"
                                    class="autocomplete-options absolute z-40 bg-white " id="autocomplete-options">
                                    <mat-option *ngFor="let option of filteredOptions; let i = index"
                                        (keydown)="handleKeyDown($event)" #autocompleteOptions
                                        (click)="selectOption(option)">
                                        {{ option }}
                                    </mat-option>
                                </div>
                            </mat-form-field>
                            <img src="/assets/New/nav-bar/search.svg" alt="user image" class="h-4 ms-2" />
                        </div>

                        <button [matMenuTriggerFor]="settingsMenu">
                            <img src="/assets/New/home-page/icons/settings.svg" alt="" class=" ms-4">
                        </button>
                    </div>
                    <div class="grid grid-cols-12 mx-1 pt-2">
                        <app-filters *ngFor="let filter of filterList" [imageSrc]="filter.image"
                            [buttonText]="filter.buttonText" [filterText]="filter.filterText"
                            (categoryClick)="handleCategoryClick($event)" class="col-span-1">
                        </app-filters>
                    </div>
                </div>

                <div *ngIf="!isMobileScreen" class="w-[22%] flex items-start  h-[100%]  ">
                    <div class="text-right  border-black h-[90%]" style="padding-inline: 10px;"
                        [ngClass]="{'sm:border-r-2': langDirectionService.currentLangDirection == 'ltr', 'sm:border-l-2': langDirectionService.currentLangDirection != 'ltr'}">
                        <div style="font-weight: 700; font-size: 12px; margin-bottom: 10px;">
                            {{'pages.all-packs-page-new.content.cardTypes' | translate}}</div>
                        <div>
                            {{'pages.all-packs-page-new.content.cardDisplayTypes' | translate}}
                        </div>
                        <div style="font-size: 12px;"></div>
                        <div class="flex gap-4">
                            <div>
                                <input type="checkbox" id="checkbox1" name="checkbox1" [(ngModel)]="filterOption.image"
                                    (ngModelChange)="handleCategoryClick('תמונה')" style="accent-color: #000000;">
                                <label style="font-size: 10px;"
                                    for="checkbox1">{{'pages.all-packs-page-new.content.image' | translate}}</label>
                            </div>
                            <div>
                                <input type="checkbox" id="checkbox2" name="checkbox2"
                                    [(ngModel)]="filterOption.question" (ngModelChange)="handleCategoryClick('שאלה')"
                                    style="accent-color: #000000;">
                                <label style="font-size: 10px;"
                                    for="checkbox2">{{'pages.all-packs-page-new.content.question' | translate}}</label>
                            </div>
                            <div>
                                <input type="checkbox" id="checkbox3" name="checkbox3" [(ngModel)]="filterOption.word"
                                    (ngModelChange)="handleCategoryClick('מילה')" style="accent-color: #000000;">
                                <label style="font-size: 10px;"
                                    for="checkbox3">{{'pages.all-packs-page-new.content.word' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-right border-black h-[90%]" style="padding-inline: 10px;"
                        [ngClass]="{'sm:border-r-2': langDirectionService.currentLangDirection == 'ltr', 'sm:border-l-2': langDirectionService.currentLangDirection != 'ltr'}">
                        <div *ngIf="!isMobileScreen" style="font-weight: 700; font-size: 12px; margin-bottom: 10px;">
                            {{'pages.all-packs-page-new.content.meetingLanguage' | translate}}</div>
                        <div *ngIf="!isMobileScreen" style="font-size: 12px;">
                            {{'pages.all-packs-page-new.content.cardLanguageAndGuide' |
                            translate}}</div>
                        <div class="flex gap-4 mt-4">
                            <div>
                                <input type="radio" id="radio1" name="radioGroup" [(ngModel)]="filterOption.language"
                                    value="Russian" (ngModelChange)="handleCategoryClick('רוסית')"
                                    style="accent-color: #000000;">
                                <label style="font-size: 10px;"
                                    for="radio1">{{'pages.all-packs-page-new.content.russian' | translate}}</label>
                            </div>
                            <div>
                                <input type="radio" id="radio2" name="radioGroup" [(ngModel)]="filterOption.language"
                                    value="Arabic" (ngModelChange)="handleCategoryClick('ערבית')"
                                    style="accent-color: #000000;">
                                <label style="font-size: 10px;" for="radio2">{{'pages.all-packs-page-new.content.arabic'
                                    | translate}}</label>
                            </div>
                            <div>
                                <input type="radio" id="radio3" name="radioGroup" [(ngModel)]="filterOption.language"
                                    value="English" (ngModelChange)="handleCategoryClick('אנגלית')"
                                    style="accent-color: #000000;">
                                <label style="font-size: 10px;"
                                    for="radio3">{{'pages.all-packs-page-new.content.english' | translate}}</label>
                            </div>
                            <div>
                                <input type="radio" id="radio4" name="radioGroup" [(ngModel)]="filterOption.language"
                                    value="Hebrew" (ngModelChange)="handleCategoryClick('עברית')"
                                    style="accent-color: #000000;">
                                <label style="font-size: 10px;" for="radio4">{{'pages.all-packs-page-new.content.hebrew'
                                    | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isMobileScreen" class="w-[7%] border-black h-[90%] ">
                    <div>&nbsp;</div>
                    <app-filters [imageSrc]="'/assets/New/home-page/cards/13.svg'" [buttonText]="'איפוס חיפוש'"
                        [filterText]="''" (categoryClick)="handleResetClick()">
                    </app-filters>
                </div>
            </div>
        </div>

        <div id="test" class="all-packs-view" #new>

            <div *ngIf="!showCategoryLine && !isfavSelected" class=" mt-16">

                <div class="mt-8 sm:text-4xl text-2xl text-center font-bold mb-16">
                    {{'pages.all-packs-page-new.content.packsForYourMeeting' | translate}}</div>
                <div class="all-packs-view__section flex justify-between mb-16">
                    <div
                        class=" w-40 items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-xl px-4">
                        &nbsp;</div>
                    <div #packScrollContainer
                        class="scroller overflow-x-scroll w-[100%] gap-4 grid custom-grid-cols-8 2xl:grid-cols-7 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2"
                        (mousemove)="onMouseMove($event, packScrollContainer)">
                        <div *ngFor="let packInfo of allPacks; let j = index" class=" col-span-1">
                            <app-packs-card [backgroundColor]="cardsColors[j % cardsColors.length].color" class=""
                                [packInfo]="packInfo" (loaded)="packLoaded()">
                            </app-packs-card>
                        </div>
                    </div>
                    <div
                        class=" w-40 items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-xl px-4">
                        &nbsp;</div>
                </div>
            </div>

            <div *ngIf="!isfavSelected && showCategoryLine && selectedFavorites.length == 0" class=" mt-16">
                <div class="all-packs-view__section flex flex-col sm:flex-row  justify-between ">
                    <div
                        class="  sm:items-center sm:w-40 w-full items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-3xl sm:text-xl px-1 sm:px-4">
                        {{allCategoryPacks[0].category}} </div>
                    <div *ngIf="allCategoryPacks[0]" #allPacksScrollContainer
                        class="scroller flex overflow-x-scroll w-[100%] gap-4 mt-4 sm:mt-0 ms-4 sm:ms-0 sm:mb-16 mb-8"
                        (mousemove)="onMouseMove($event, allPacksScrollContainer)">
                        <div *ngFor="let packInfo of allCategoryPacks[0].packs; let j = index">
                            <app-packs-card [backgroundColor]="cardsColors[j % cardsColors.length].color"
                                [packInfo]="packInfo" (loaded)="packLoaded()">
                            </app-packs-card>
                        </div>
                    </div>
                </div>
                <div class="all-packs-view__section flex flex-col sm:flex-row  justify-between "
                    *ngIf="this.userData?.status === 'NOPLAN'">
                    <div
                        class="sm:items-center sm:w-40 w-full items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-3xl sm:text-xl px-1 sm:px-4 ">
                        כל הערכות</div>
                    <div #allPacksScrollContainer
                        class="scroller flex overflow-x-scroll w-[100%] gap-4 mt-4 sm:mt-0 ms-4 sm:ms-0 mb-16"
                        (mousemove)="onMouseMove($event, allPacksScrollContainer)">
                        <app-subscribe-card></app-subscribe-card>
                        <div *ngFor="let packInfo of allPacks; let k = index">
                            <app-packs-card [backgroundColor]="cardsColors[k % cardsColors.length].color" class=""
                                [packInfo]="packInfo" (loaded)="packLoaded()">
                            </app-packs-card>
                        </div>
                    </div>
                </div>

                <div class="all-packs-view__section flex flex-col sm:flex-row justify-between"
                    *ngFor="let categoryPacks of allCategoryPacks; let i = index">
                    <div *ngIf="i > 0"
                        class="sm:items-center sm:w-40 w-full items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-3xl sm:text-xl px-1 sm:px-4">
                        {{categoryPacks.category}} </div>
                    <div *ngIf="categoryPacks  && i>0 " #allPacksScrollContainer
                        class="scroller flex overflow-x-scroll w-[100%] gap-4 mt-4 sm:mt-0 ms-4 sm:ms-0  mb-16 "
                        (mousemove)="onMouseMove($event, allPacksScrollContainer)">
                        <div *ngFor="let packInfo of categoryPacks.packs; let j = index">
                            <app-packs-card [backgroundColor]="cardsColors[j % cardsColors.length].color"
                                [packInfo]="packInfo" (loaded)="packLoaded()">
                            </app-packs-card>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isfavSelected" class=" mt-16">
                <div class="all-packs-view__section flex justify-between mb-16 ">
                    <div
                        class=" w-40 items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-xl px-4">
                        &nbsp;</div>
                    <div #allFavPackScrollContainer
                        class="scroller  w-[100%] gap-4  grid custom-grid-cols-8 2xl:grid-cols-7 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2"
                        (mousemove)="onMouseMove($event, allFavPackScrollContainer)">
                        <div *ngFor="let packInfo of allFavPacks; let j = index" class=" col-span-1">
                            <app-packs-card [backgroundColor]="cardsColors[j % cardsColors.length].color"
                                [packInfo]="packInfo" [isFavCard]="true" (loaded)="packLoaded()">
                            </app-packs-card>
                        </div>
                    </div>
                    <div
                        class=" w-40 items-start mt-8 font-bold text-center align-middle flex justify-center mx-auto text-xl px-4">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <app-home-page-footer></app-home-page-footer>
</div>


<mat-menu class="mat-menu-news" #settingsMenu="matMenu">
    <div style="width: 70vw; height: 80vh;">
        <div class="grid grid-cols-2 mt-8 border-b-2 border-black">
            <label class="grid col-span-1  justify-center">
                <input type="radio" name="filter" value="fav" (change)="handleFilterChange('fav')"
                    [(ngModel)]="selectedFilter">
                    {{ 'pages.all-packs-page-new.filterText.המועדפים עלי' | translate}}  
            </label>
            <label class="grid col-span-1  justify-center">
                <input type="radio" name="filter" value="category" (change)="handleFilterChange('category')"
                    [(ngModel)]="selectedFilter">
                    {{ 'pages.all-packs-page-new.filterText.לכל הערכות' | translate}}   
            </label>
        </div>

        <div class=" mt-8 border-b-2 border-black">
            <div class="flex gap-4">
                <div>
                    <input type="checkbox" id="checkbox1" name="checkbox1" [(ngModel)]="filterOption.image"
                        (ngModelChange)="handleCategoryClick('תמונה')" style="accent-color: #000000;">
                    <label style="font-size: 10px;"
                        for="checkbox1">{{'pages.all-packs-page-new.content.image' | translate}}</label>
                </div>
                <div>
                    <input type="checkbox" id="checkbox2" name="checkbox2"
                        [(ngModel)]="filterOption.question" (ngModelChange)="handleCategoryClick('שאלה')"
                        style="accent-color: #000000;">
                    <label style="font-size: 10px;"
                        for="checkbox2">{{'pages.all-packs-page-new.content.question' | translate}}</label>
                </div>
                <div>
                    <input type="checkbox" id="checkbox3" name="checkbox3" [(ngModel)]="filterOption.word"
                        (ngModelChange)="handleCategoryClick('מילה')" style="accent-color: #000000;">
                    <label style="font-size: 10px;"
                        for="checkbox3">{{'pages.all-packs-page-new.content.word' | translate}}</label>
                </div>
            </div>
        </div>

        
    </div>
</mat-menu>