<mat-toolbar class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button (click)="closeDialog()" cdkFocusInitial>
        <mat-icon style="font-family: 'Material Icons';">highlight_off</mat-icon>
    </button>
    <span class="title">הצטרפותך בוצעה בהצלחה!
        <span>&#127881;</span>
    </span>
    <!-- For symmetry -->
    <button style="opacity: 0;" class="iconButton" mat-icon-button>
        <mat-icon style="font-family: 'Material Icons'; font-size: large;">highlight_off</mat-icon>
    </button>
    <!-- For symmetry -->
</mat-toolbar>
<div class="line"></div>
<div id='summery' class="d-flex " mat-dialog-content>
    <p>איזה כיף! נרשמת ל</p>
    <p *ngIf="data.billingCycleInMonths == 1">תכנית חודשית</p>
    <p *ngIf="data.billingCycleInMonths == 6">תכנית חצי-שנתית</p>
    <p *ngIf="data.billingCycleInMonths == 12">תכנית שנתית</p>
    <p *ngIf="data.billingCycleInMonths == 1200">תכנית LifeTime</p>
</div>
<div class="line"></div>
<div class="actions" mat-dialog-actions>
    <p>המשך עבודה נעימה</p>
    <button class="action-button" type="button" (click)="navigate('/all-packs-page')">אישור</button>
</div>