mat-icon {
  font-family: 'Material Icons';
}

* {
  font-family: 'Open Sans Hebrew', sans-serif;
  direction: rtl;
  text-align: right;
}

.actions {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.buttons {
  margin-bottom: 1rem;
}

.action-button {
  border-radius: 5px;
  border: none;
  font-size: large;
  background: #ffa800;
  color: white;
  padding: 3%;
  margin-bottom: 12px;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.action-button:disabled {
  background: #cccccc;
  color: rgb(82, 82, 82);
  cursor: not-allowed;
}

a {
  color: #007bff !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

mat-toolbar {
  margin-top: -10px;
  background-color: transparent;
}

.title {
  margin-right: 10px;
  font-size: x-large;
}

.line {
  background-color: #ffa800;
  width: auto;
  height: 3px;
  margin-bottom: 1rem;
}

.iconButton {
  /* margin-top: -15px; */
  margin-left: -20px;
}

#summery {
  font-size: larger;
}

p,
li {
  font-size: large;
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl;
  text-align: right;
}

.instruction {
  max-width: 25vw;
}
