<mat-toolbar class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button (click)="closeDialog()" cdkFocusInitial>
        <mat-icon style="font-family: 'Material Icons'; font-size: large;">highlight_off</mat-icon>
    </button>
    <span class="title">הצטרפותך בוצעה בהצלחה!
        <span>&#127881;</span>
    </span>
    <!-- For symmetry -->
    <button style="opacity: 0;" class="iconButton" mat-icon-button>
        <mat-icon style="font-family: 'Material Icons'; font-size: large;">highlight_off</mat-icon>
    </button>
    <!-- For symmetry -->
</mat-toolbar>
<div class="line"></div>
<div id='summery' mat-dialog-content>
    <p>איזה כיף! נרשמת ל:</p>
    <p *ngIf="data.billingCycleInMonths == 1">תכנית חודשית</p>
    <p *ngIf="data.billingCycleInMonths == 6">תכנית חצי-שנתית</p>
    <p *ngIf="data.billingCycleInMonths == 12">תכנית שנתית</p>
    <div class="line"></div>
</div>
<div class="actions" mat-dialog-actions>
    <p>מה הלאה?</p>
    <div class="buttons d-flex flex-column">
        <div style="margin-bottom: 1rem;" class="d-flex flex-row align-items-center">
            <button class="action-button" type="button" (click)="navigate('/all-packs-page')">לחצו כאן למעבר לערכות
                הקלפים</button>
        </div>
    </div>
    <p style="font-size: x-large;">עבודה נעימה!</p>
</div>