<!-- <mat-toolbar class="d-flex justify-content-between">
    <span class="title">{{data.title}}</span>
    <button class="iconButton" mat-icon-button (click)="closeDialog()" cdkFocusInitial>
        <mat-icon style="font-family: 'Material Icons';">highlight_off</mat-icon>
    </button>
</mat-toolbar> -->
<div id="title-div" mat-dialog-title>
    <span class="title">{{data.title}}</span>
    <button class="iconButton" mat-icon-button (click)="closeDialog()" cdkFocusInitial>
        <mat-icon style="font-family: 'Material Icons';">highlight_off</mat-icon>
    </button>
</div>
<div class="line"></div>

<div mat-dialog-content>
    <p *ngFor="let line of data.content" style="text-align: right;">{{line}}</p>
</div>
<div class="buttons" mat-dialog-actions>
    <button id="approveBtn" *ngIf="data.acceptButton !== ''" mat-raised-button
        [mat-dialog-close]="true">{{data.acceptButton}}</button>
    <button id="denyBtn" *ngIf="data.denyButton !== ''" mat-raised-button
        (click)="closeDialog()">{{data.denyButton}}</button>
</div>