<div [dir]="langDirectionService.currentLangDirection">
  <div id="close-button">
    <button
      class="iconButton"
      mat-icon-button
      (click)="closeDialog()"
      cdkFocusInitial
    >
      <mat-icon style="font-family: 'Material Icons'">{{
        "pages.user-related.close-button" | translate
      }}</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content [dir]="langDirectionService.currentLangDirection">
  <mat-tab-group
    mat-stretch-tabs
    [selectedIndex]="selectedTab"
    (selectedTabChange)="tabChanged($event)"
    mat-align-tabs="center"
    dynamicHeight
  >
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">
        <div class="d-flex flex-column">
          <label class="loginRegisterLabel">{{
            "pages.user-related.tab-group.login-tab.label" | translate
          }}</label>
          <label class="subLabel">
            {{
              "pages.user-related.tab-group.login-tab.sub-label" | translate
            }}</label
          >
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-login
          (loggedInCloseDialog)="closeDialog()"
          (toRegister)="selectedTab = 1"
          [registeredEmail]="registeredEmail"
          [registeredPW]="registeredPW"
        >
        </app-login>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">
        <div class="d-flex flex-column">
          <label class="loginRegisterLabel">{{
            "pages.user-related.tab-group.register-tab.label" | translate
          }}</label>
          <label class="subLabel">
            {{
              "pages.user-related.tab-group.register-tab.sub-label" | translate
            }}</label
          >
        </div>
      </ng-template>
      <ng-template matTabContent>
        <app-register
          (registeredEmitter)="registered($event)"
          (toLogin)="selectedTab = 0"
        ></app-register>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
