<div class="content">
    <div class="content user-info">
        <div class="user-info-section">
            <h1>פרטי קבוצה</h1>
            <div class="line"></div>
        </div>

        <table mat-table [dataSource]="dataSource" class="table table-striped table-hover">
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> אימייל </th>
                <td mat-cell *matCellDef="let groupUser">
                    {{groupUser.email}}
                </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> תפקיד </th>
                <td mat-cell *matCellDef="let groupUser">
                    {{groupUser.role === 'ADMIN' ? 'מנהל' : 'משתמש'}}
                </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> עריכה </th>
                <td mat-cell *matCellDef="let groupUser">
                    <div *ngIf="groupUser.email !== userData.email" (click)="addEditGroupUser(groupUser)">
                        <mat-icon class="iconButton"> edit </mat-icon>
                    </div>
                </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> מחיקה </th>
                <td mat-cell *matCellDef="let groupUser">
                    <div *ngIf="groupUser.email !== userData.email" (click)="deleteGroupMember(groupUser)">
                        <mat-icon class="iconButton">
                            delete
                        </mat-icon>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <button class="action-button" type="button" (click)="addEditGroupUser()" [disabled]="false">
            הוספת משתמש
        </button>

    </div>
</div>