* {
  direction: rtl;
  font-family: 'rubik' !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

p {
  font-size: medium;
}

h1 {
  align-self: center;
}

.iconButton {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.action-button {
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 500;
  font-size: large;
  margin: 0 1%;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.action-button:disabled {
  background: #cccccc;
  color: rgb(82, 82, 82);
  cursor: not-allowed;
}

th.mat-header-cell {
  font-size: large;
  text-align: initial;
}

tr.mat-header-row {
  background: #ffebc7;
}

.table td,
.table th {
  text-align: center;
}

.user-info-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin-bottom: 5vh;
}

video {
  width: 70%;
  height: 100%;
  z-index: 0;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 20px;
}

.line {
  background-color: #ffa800;
  width: 30vw;
  height: 3px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.line-short {
  width: 10vw;
}

.changePlanBtn {
  height: 3rem;
  width: 10rem;
  border-radius: 5px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 500;
  font-size: x-large;
}

.changePlanBtn:hover {
  background: #e69900;
}

.changePlanBtn:active {
  background: #db9200;
}

.changePlanBtn:focus {
  outline: none;
}

ol {
  text-align: initial;
  font-size: medium;
  line-height: 2rem;
}
