<div class="content">
    <div class="content user-info">
        <div class="user-info-section">
            <h1>פרטי קבוצה</h1>
            <div class="line"></div>
            <p>שם משתמש: </p>
            <p>מייל: </p>
        </div>
        <!-- <div class="user-info-section">
            <h1>פרטי חבילה</h1>
            <div class="line"></div>
            <p>כמות משתמשים: {{userData?.subscription.subscriptionPlan.numberOfUsers}}</p>
            <p>כמות חבילות: {{userData?.subscription.subscriptionPlan.numberOfCardPacks}}</p>
            <p>תאריך הרשמה לחבילה: {{userData?.subscription.startDate | date:'shortDate'}}</p>
            <p>מחיר עבור חבילה נוכחית: {{userData?.subscription.subscriptionPlan.price -
                userData?.subscription.subscriptionPlan.discount}}₪</p>
            <p>ערכות נותרות להחלפה החודש: {{amountOfPacksToChangeThisMonth}}</p>
        </div>
        <button class="changePlanBtn" *ngIf="amountOfPlansToChangeThisMonth == 1" type="button"
            (click)="openChooseProgramModal()">החלף תכנית</button> -->
    </div>
</div>
