.user-info-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    background-color: #ffa800;
    width: 30vw;
    height: 3px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  
  .drag-button {
    cursor: move;
  }
  
  .iconButton {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  
  .news-list {
    width: 50vw;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .news-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    box-sizing: border-box;
    background: white;
    /* font-size: 1rem; */
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    direction: rtl;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .news-box:last-child {
    border: none;
  }
  
  .news-list.cdk-drop-list-dragging .news-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  #message {
    margin-right: 1vw;
    text-align: start;
    font-size: 1rem;
  }
  