<div
  class="sm:grid sm:grid-cols-3 bg-[#3d3a3b] rounded-3xl mx-2-sm-mx-10 mt-12"
>
<div class="col-span-1 flex justify-center items-center">
  <div class="grid sm:grid-cols-5 grid-cols-3 w-full mx-10 gap-4">
    <div class="col-span-1 mt-8">
      <div *ngFor="let item of clientList | slice:0:4" class="mt-8">
        <img [src]="item.image" alt="" class="w-full object-cover rounded-3xl" 
        style="border-radius: 42px;border: 2px solid pink;"/>
      </div>
    </div>
    <div class="col-span-1 mt-6">
      <div *ngFor="let item of clientList | slice:4:8" class="mt-8">
        <img [src]="item.image" alt="" class="w-full object-cover rounded-3xl" 
        style="border-radius: 42px;border: 2px solid pink;"/>
      </div>
    </div>
    <div class="col-span-1 mt-8">
      <div *ngFor="let item of clientList | slice:8:12" class="mt-8">
        <img [src]="item.image" alt="" class="w-full object-cover rounded-3xl" 
        style="border-radius: 42px;border: 2px solid pink;"/>
        
      </div>
    </div>
    <div class="col-span-1 mb-12" style="margin-top: 22px;">
      <div *ngFor="let item of clientList | slice:12:16" class="mt-8">
        <img [src]="item.image" alt="" class="w-full object-cover rounded-3xl" 
        style="border-radius: 42px;border: 2px solid pink;"
        />
      </div>
    </div>
    <div class="col-span-1 mt-8">
      <div *ngFor="let item of clientList | slice:16:20" class="mt-8">
        <img [src]="item.image" alt="" class="w-full object-cover rounded-3xl"
        style="border-radius: 42px;border: 2px solid pink; height: 75px; width: 82px;"
        />
      </div>
    </div>
  </div>
</div>


  <div class="col-span-1 flex justify-center items-center">
    <div class="w-full" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    ">
      <div
        class="text-white sm:text-4xl text-2xl font-bold sm:mt-24 mt-8 text-center"
      >
        {{ "pages.home-page.sections.clients-card.content.title1" | translate
        }}<br />
        {{ "pages.home-page.sections.clients-card.content.title2" | translate }}
      </div>

      <div class="text-white sm:w-[40vw] mt-8 text-center text-lg">
        {{
          "pages.home-page.sections.clients-card.content.description1"
            | translate
        }}<br />
        {{
          "pages.home-page.sections.clients-card.content.description2"
            | translate
        }}<br />
        {{
          "pages.home-page.sections.clients-card.content.description3"
            | translate
        }}
      </div>
      <div class="flex justify-center">
        <button
          (click)="navigateTo('/affiliates-page')"
          class="py-2 bg-[#E67C73] rounded-full px-8 text-white font-bold client-button text-lg mt-8 mb-24 text-center"
        >
          {{
            "pages.home-page.sections.clients-card.content.button.text"
              | translate
          }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-span-1 flex justify-center items-center"></div>
</div>
