<div
  class="rounded-xl w-44 h-64 p-3 relative bg-[#3d3a3b]"
  [dir]="langDirectionService.currentLangDirection"
>
  <div class="flex items-center justify-center mx-auto flex-col text-center" style="white-space: normal !important;">
    <img src="/assets/New/cards/crown.svg" alt="" />
    <p class="text-lg text-white font-bold mt-1 w-full"> {{ subscribeTitle | translate }}</p>
    <p *ngIf="!!subscribeSubTitle" class="text-xs text-white font-bold"> {{ subscribeSubTitle | translate }}</p>

    <p class="text-white text-xs font-bold mt-1 whitespace-normal">{{ subscribeDescription | translate }}</p>
    <div>
      <a
        [routerLink]="subscribeRoute"
        [fragment]="subscribeFragment"
        class="py-2 bg-[#7986CB] text-xs whitespace-nowrap rounded-full px-3 text-white font-bold mt-1 sub-button block"
      >
        {{subscribeLinkText | translate }}
      </a>
    </div>
  </div>
</div>
<!-- {{ 'pages.home-page.sections.hero.content.button-2-text' | translate }} -->
