<div class="content">
  <div class="content user-info" *ngIf="userData !== undefined">
    <div class="user-info-section">
      <h1>פרטי משתמש</h1>
      <div class="line"></div>
      <p>שם: {{userData.fullName}}</p>
      <p>מייל: {{userData.email}}</p>
      <p>תאריך הרשמה לאתר: {{userData.createdAt | date: 'd/M/yy'}}</p>
    </div>
    <div class="user-info-section">
      <h1>תכניות</h1>
      <div class="line"></div>
        <app-plan-table [tableData]="tableData" [userData]="userData"></app-plan-table>
    </div>
  </div>
</div>

<app-information-bar></app-information-bar>
