<div class="content">
    <video #videoPlayer width="1920px" height="600px" autoplay loop oncanplay="this.play()"
        onloadedmetadata="this.muted = true; this.style.opacity='1'">
        <source src="assets\About video.mp4" type="video/mp4">
        <source src="https://master-cards.s3.eu-west-2.amazonaws.com/About+video.mp4" type="video/mp4">
    </video>
    <div class="content user-info" *ngIf="userData !== undefined">
        <div class="user-info-section">
            <h1>פרטי משתמש</h1>
            <div class="line"></div>
            <p>שם משתמש: {{userData.username}}</p>
            <p>מייל: {{userData.email}}</p>
        </div>
        <div class="user-info-section">
            <h1>פרטי חבילה</h1>
            <div class="line"></div>
            <p>כמות משתמשים: {{userData.subscription.subscriptionPlan.numberOfUsers}}</p>
            <p>כמות ערכות: {{userData.subscription.subscriptionPlan.numberOfCardPacks | amountOfPacksView}}</p>
            <p>תאריך הרשמה לחבילה: {{userData.subscription.startDate | date:'d/M/y'}}</p>
            <p>מחיר עבור חבילה נוכחית: {{(userData.subscription.subscriptionPlan.price -
                userData.subscription.subscriptionPlan.discount).toFixed(2)}}₪</p>
            <!-- <p>חבילות נותרות להחלפה החודש: {{amountOfPlansToChangeThisMonth}}</p> -->
            <p>ערכות נותרות להחלפה החודש: {{amountOfPacksToChangeThisMonth}}</p>
        </div>
        <button class="changePlanBtn" *ngIf="amountOfPlansToChangeThisMonth == 1" type="button"
            (click)="openChooseProgramModal()">החלף תכנית</button>
        <!-- <button class="changePlanBtn" type="button" (click)="openCancelDialogModal()">בטל הרשמה לתכנית</button> -->
    </div>
</div>