<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="user-info-section">
        <div class="d-flex flex-row justify-content-between">
            <h1>תוכן לחדשות</h1>
            <div (click)="addEditNews()">
                <mat-icon class="iconButton">
                    add_circle
                </mat-icon>
            </div>
            <div (click)="saveNews()">
                <mat-icon class="iconButton">
                    save
                </mat-icon>
            </div>
        </div>
        <div class="line"></div>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="d-flex flex-row justify-content-between example-box" *ngFor="let d of data; let i = index"
            cdkDragLockAxis="y" cdkDrag>
            <div class="d-flex flex-row">
                <mat-icon class="drag-button" cdkDragHandle>
                    zoom_out_map
                </mat-icon>
                <span>{{d.value}}</span>
            </div>
            <div class="d-flex flex-row">
                <div (click)="addEditNews(i)">
                    <mat-icon class="iconButton"> edit </mat-icon>
                </div>
                <div (click)="deleteNews(i)">
                    <mat-icon class="iconButton">
                        delete
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>