<video #videoPlayer width="1920px" height="600px" autoplay loop oncanplay="this.play()"
  onloadedmetadata="this.muted = true; this.style.opacity='0.5'">
  <source src="assets\About video.mp4" type="video/mp4">
  <source src="https://master-cards.s3.eu-west-2.amazonaws.com/About+video.mp4" type="video/mp4">
</video>

<div class=content>
  <div class="d-flex flex-column actions actions-top">
    <img id="logo" src="/assets/Logo-NoBG.png" alt="Mentor-Cards full logo">>
    <br>
    <span id="top">בית לערכות קלפים דיגיטליות</span>
    <br>
    <span id="middle" *ngIf="userData && userData.status === 'NOPLAN' && !trialPeriodExpDate">עדין לא נרשמתם
      לתוכנית?</span>
    <span id="middle" *ngIf="userData && trialPeriodExpDate">יש ערכות קלפים הזמינות לשימושכם/ן</span>
    <!-- <span id="middle" *ngIf="userData && trialPeriodExpDate">אתם כבר מחוברים ויש לכם חודש מתנה, לכו
      לאמן!</span> -->
    <button style="font-size: x-large;" *ngIf="!userData" type="button" (click)="signInSignUp()">בואו נתחיל >>></button>
    <br>
    <span style="font-size: medium;" id="middle" *ngIf="!userData">הרשמו ותיהנו מ-14 ימי ניסיון בחינם!</span>
    <div *ngIf="userData && userData.status === 'NOPLAN' && !trialPeriodExpDate">
      <button style="font-size: x-large;" type="button" (click)="navigate('/price-page')">להרשמה לתוכנית</button>
    </div>
    <button style="font-size: x-large;" *ngIf="userData && (userData.status === 'PLAN' || trialPeriodExpDate)"
      type="button" (click)="navigate('/all-packs-page')">לכל ערכות הקלפים</button>
    <br>
  </div>
  <div *ngIf="news?.length > 0" class="d-flex flex-column actions actions-bottom">
    <span id="news-title">חדשות ועדכונים</span>
    <marquee style="font-size: 1rem;" vspace="1%" direction="up" width="90%" height="75px" scrollamount="1"
      onmouseover="this.stop();" onmouseout="this.start();">
      <ul>
        <li *ngFor="let new of news">
          {{new.message}}
        </li>
      </ul>
    </marquee>
  </div>
</div>

<app-information-bar></app-information-bar>