<video #videoPlayer width="1920px" height="600px" autoplay loop oncanplay="this.play()"
  onloadedmetadata="this.muted = true; this.style.opacity='0.5'">
  <source src="assets\About video.mp4" type="video/mp4">
  <source src="https://master-cards.s3.eu-west-2.amazonaws.com/About+video.mp4" type="video/mp4">
</video>

<div class=content>
  <div id="actions" class="d-flex flex-column">
    <span id="top-logo">Mentor-Cards</span>
    <br><br>
    <span id="top">פלטפורמת הקלפים הווירטואליים הגדולה בישראל</span>
    <br>
    <span id="middle" *ngIf="!userData">הירשמו, בחרו תוכנית והתחילו את תקופת הניסיון</span>
    <span id="middle" *ngIf="userData && userData.status === 'NOPLAN'">עדין לא נרשמתם לתוכנית?</span>
    <span id="middle" *ngIf="userData && userData.status === 'PLAN'">אתם כבר מחוברים, למה אתם מחכים? לכו לאמן!</span>
    <br>
    <button style="font-size: x-large;" *ngIf="!userData" type="button" (click)="signInSignUp()">התחברות/הרשמה</button>
    <button style="font-size: x-large;" *ngIf="userData && userData.status === 'NOPLAN'" type="button"
      (click)="navigate('/price-page')">להרשמה לתוכנית</button>
    <button style="font-size: x-large;" *ngIf="userData && userData.status === 'PLAN'" type="button"
      (click)="navigate('/all-packs-page')">לכל הערכות</button>
    <br>
    <span id="middle">רוצים לראות איך זה עובד?</span>
    <br>
    <button style="font-size: x-large;" type="button" (click)="navigate('/example-pack')">ערכה לדוגמא</button>
    <br>
    <span id="bottom">החל מ-19.90 ש"ח לחודש לאחר 30 ימי ניסיון חינם. בטלו בכל עת.</span>
  </div>
</div>