<video #videoPlayer width="1920px" height="600px" autoplay loop oncanplay="this.play()"
  onloadedmetadata="this.muted = true; this.style.opacity='0.5'">
  <source src="assets\About video.mp4" type="video/mp4">
  <source src="https://master-cards.s3.eu-west-2.amazonaws.com/About+video.mp4" type="video/mp4">
</video>

<div class=content>
  <div id="actions" class="d-flex flex-column actions-top">
    <span id="top-logo">Mentor-Cards</span>
    <br><br>
    <span id="top">פלטפורמת הקלפים הווירטואליים הגדולה בישראל</span>
    <br>
    <span id="middle" *ngIf="!userData">הירשמו והתחילו את תקופת הניסיון</span>
    <span id="middle" *ngIf="userData && userData.status === 'NOPLAN' && !trialMonthExpDate">עדין לא נרשמתם לתוכנית?</span>
    <span id="middle" *ngIf="userData && userData.status === 'PLAN'">אתם כבר מחוברים, למה אתם מחכים? לכו
      לאמן!</span>
    <span id="middle" *ngIf="userData && trialMonthExpDate">אתם כבר מחוברים ויש לכם חודש מתנה, לכו
      לאמן!</span>
    <br>
    <button style="font-size: x-large;" *ngIf="!userData" type="button" (click)="signInSignUp()">התחברות/הרשמה</button>
    <div *ngIf="userData && userData.status === 'NOPLAN' && !trialMonthExpDate">
      <button style="font-size: x-large;" type="button" (click)="navigate('/price-page')">להרשמה לתוכנית</button>
      <br>
      <span id="bottom">החל מ-19.90 ש"ח לחודש.
        בטלו בכל עת.</span>
    </div>
    <button style="font-size: x-large;" *ngIf="userData && (userData.status === 'PLAN' || trialMonthExpDate)" type="button"
      (click)="navigate('/all-packs-page')">לכל הערכות</button>
    <br>
    <span id="middle">רוצים לראות איך זה עובד?</span>
    <br>
    <button style="font-size: x-large;" type="button" (click)="navigate('/example-pack')">ערכה לדוגמא</button>
    <br>
    <span id="middle">יש לכם ערכה ואתם רוצים שהיא תופיע באתר?</span>
    <span style="font-size: large;">נשמח לשתף פעולה!</span>
    <br>
    <button style="font-size: x-large;" type="button" (click)="navigate('/contact-us')">צור קשר</button>
  </div>
  <div id="actions" class="d-flex flex-column actions-bottom">
    <span id="news-title">חדשות ועדכונים</span>
    <marquee style="font-size: 1rem;" vspace="1%" direction="down" width="90%" height="50px" scrollamount="1"
      onmouseover="this.stop();" onmouseout="this.start();">
      <ul>
        <li *ngFor="let new of news">
          {{new.message}}
        </li>
        <li *ngIf="news?.length == 0">
          אין חדשות ועדכונים
        </li>
      </ul>
    </marquee>
  </div>
</div>

<app-information-bar></app-information-bar>