/* 480, 768, 1024 */

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#logo {
  width: 100%;
}

.line {
  background-color: #ffa800;
  width: 80%;
  height: 3px;
  border-radius: 100%;
}

.actions {
  align-items: center;
  background: #fff1d6de;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 40%;
}

.actions-bottom,
.actions-top {
  margin-bottom: 2%;
  padding: 2%;
}

/* 
.actions-bottom {
  padding: 2%;
} */

#top {
  font-size: xx-large;
  line-height: 2rem;
  font-weight: bold;
}

#middle {
  font-size: x-large;
}

#news-title {
  font-size: x-large;
  font-weight: 600;
}

#bottom {
  font-size: medium;
}

.content {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

button {
  height: 3rem;
  /* width: 10rem; */
  border-radius: 5px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 500;
}

button:hover {
  background: #e69900;
}

button:active {
  background: #db9200;
}

button:focus {
  outline: none;
}

app-information-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

marquee li {
  margin-bottom: 1%;
}

@media screen and (max-width: 1024px) {
  .actions {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .actions {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .actions {
    width: 85%;
  }

  #top {
    font-size: x-large;
  }
}
