<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center">
        <!-- <div class="d-flex flex-row justify-content-between"> -->
        <h1 style="text-align: center;">ספרי הדרכה</h1>
        <!-- <div>
                <mat-icon class="iconButton">
                    add_circle
                </mat-icon>
            </div> -->
        <!-- </div> -->
        <div class="line"></div>
        <mat-form-field appearance="fill" style="text-align: initial;">
            <mat-label>ערכה</mat-label>
            <mat-select (selectionChange)="changePackSelected($event.value)">
                <mat-option *ngFor="let pack of allPacks" [value]="pack">
                    {{pack.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="d-flex flex-column">
        <button class="add-btn" *ngIf="selectedPack" mat-raised-button
            (click)="addElement(selectedPack.guideBook)">
            <mat-icon class="add-icon">
                add_circle
            </mat-icon>
            הוסף נושא
        </button>

        <mat-accordion *ngIf="selectedPack" class="accordion">
            <mat-expansion-panel *ngFor="let subject of selectedPack.guideBook; let i = index" hideToggle>
                <mat-expansion-panel-header #panelH1 style="align-items: center;">
                    <mat-panel-title style="align-items: center;">
                        <!-- <input type="text" [(ngModel)]="subject.subjectName"> -->
                        <button mat-icon-button color="primary" class="edit-remove-icon"
                            (click)="removeElement(i, selectedPack.guideBook)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" class="edit-remove-icon"
                            (click)="editElement(selectedPack.guideBook, i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        נושא -
                        {{subject.name}}
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        נושא
                    </mat-panel-description> -->
                    <button class="add-btn" *ngIf="selectedPack" mat-raised-button
                        (click)="addElement(subject.subElements)">
                        <mat-icon class="add-icon">
                            add_circle
                        </mat-icon>
                        הוסף תת נושא
                    </button>
                </mat-expansion-panel-header>

                <div class="d-flex flex-column">
                    <mat-accordion style="text-align: start;">
                        <mat-expansion-panel *ngFor="let subSubject of subject.subElements; let j=index" hideToggle>
                            <mat-expansion-panel-header #panelH2 style="align-items: center;">
                                <mat-panel-title style="align-items: center;" style="align-items: center;">
                                    <!-- <input type="text" [(ngModel)]="subSubject.subSubjectName"> -->
                                    <button mat-icon-button color="primary" class="edit-remove-icon"
                                        (click)="removeElement(j, subject.subElements)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" class="edit-remove-icon"
                                        (click)="editElement(subject.subElements, j)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    תת נושא -
                                    {{subSubject.name}}
                                </mat-panel-title>
                                <!-- <mat-panel-description>
                                    תת נושא
                                </mat-panel-description> -->
                                <button class="add-btn" *ngIf="selectedPack" mat-raised-button
                                    (click)="addElement(subSubject.subElements)">
                                    <mat-icon class="add-icon">
                                        add_circle
                                    </mat-icon>
                                    הוסף שאלה
                                </button>
                            </mat-expansion-panel-header>
                            <!-- <div *ngFor="let question of subSubject.questions">
                        <input type="text" [(ngModel)]="question.value">
                    </div> -->
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center"
                                    *ngFor="let question of subSubject.subElements; let k=index">
                                    <button mat-icon-button color="primary" class="edit-remove-icon"
                                        (click)="removeElement(k, subSubject.subElements)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" class="edit-remove-icon"
                                        (click)="editElement(subSubject.subElements, k)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <span style="text-align: initial;">
                                        שאלה -
                                        {{question.name}}
                                    </span>
                                </div>
                                <!-- <mat-icon class="iconButton authorize-click" (click)="addElement(subSubject.questions)">
                                    add_circle
                                </mat-icon> -->
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <mat-icon class="iconButton authorize-click"
                        (click)="addElement(subject.subSubjects, 'subSubject')">
                        add_circle
                    </mat-icon> -->
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <div class="d-flex justify-content-between"> -->
        <!-- <mat-icon *ngIf="selectedPack" class="iconButton authorize-click"
                (click)="addElement(selectedPack.guideBook.subjects, 'subject')">
                add_circle
            </mat-icon> -->
        <!-- <button disabled style="visibility: hidden;">שמירה</button> -->
        <button [disabled]="!changesMade" id="save-button" mat-raised-button (click)="saveChanges()">שמירה</button>
        <!-- </div> -->
    </div>
</div>