.line {
  background-color: #ffa800;
  width: 30vw;
  height: 3px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.accordion {
  width: 80vw;
}

.prevent-click {
  pointer-events: none;
}

.authorize-click {
  pointer-events: auto;
}

.iconButton {
  margin-top: 1%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

input {
  width: 100%;
}

#save-button, .add-btn {
  width: fit-content;
  margin: 1% 0%;
  background-color: #ffa800;
  color: white;
}

/* #save-button {
  margin-top: 1%;
  background-color: #ffa800;
  color: white;
} */

#save-button:disabled {
  /* margin-top: 1%; */
  background: #e0e0e0;
  color: rgb(102, 102, 102);
}

.edit-remove-icon {
  color: #ffa800 !important;
}

.add-icon {
  color: white !important;
}
