.chat-container {
  width: 25%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

}
/* ai-chat.component.css */

/* .chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: transform 0.3s ease;
}
*/
.chat-container.hide {
  transform: translateY(100%);
} 

@media (max-width: 768px) {
  .chat-container {
    width: 100%;
  }
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: height 0.3s ease;
  height: 150px; /* Initial height */
  position: relative; /* Add this line */
}

.chat-box.expanded {
  height: 400px; /* Expanded height */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-text {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.chat-response {
  flex: 1;
  overflow-y: auto;
  text-align: right;
}

.chat-input {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10px;
}

.chat-input input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 40px; /* Add space for the button inside the input */
  color:black
}

.chat-input .send-button {
  position: absolute;
  left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

mat-icon {
  font-size: 24px;
  color: #333;
  transform: rotateY(180deg);
}

.placeholder-text {
  position: absolute;
  color: #999;
  pointer-events: none;
  right: 15px;
  transition: opacity 0.3s;
}

.placeholder-text.hidden {
  opacity: 0;
}

.red-heart {
  color: red;
}
