.chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: height 0.3s ease;
  height: 100px; /* Initial height */
}

.chat-box.expanded {
  height: 400px; /* Expanded height */
}

.chat-message {
  margin-bottom: 10px;
}

.chat-text {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.chat-response {
  flex: 1;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  position: relative;
}

.chat-input input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 40px; /* Add space for the button inside the input */
}

.chat-input .send-button {
  position: absolute;
  left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

mat-icon {
  font-size: 24px;
  color: #333;
  transform: rotateY(180deg);
}

.placeholder-text {
  position: absolute;
  color: #999;
  pointer-events: none;
}

.hidden {
  display: none;
}

.red-heart {
  color: red;
}
