.hero-container {
    background-image: url(/assets/images/black-friday-background.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.hero {
    @apply h-[72vh];
}

.hero__gift {
    @apply flex justify-start md:justify-end h-52 w-full;
}

.hero__gift[lang="en"] {
    @apply justify-end md:justify-start;
}

.hero__buttons {
    @apply flex gap-8 flex-col sm:flex-row justify-center mt-8;
}

@media screen and (max-width: 768px) {
    .hero-container {
        background-image: url(/assets/images/black-friday-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.hero-button:hover {
    text-decoration: none;
    background-image: linear-gradient(90deg, #E67C73, #7986CB);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 100%;
}