button {
  font-size: 1rem;
}

.banner {
  background-color: #7617d4;
  color: #ffffff;              
  text-align: center;        
  font-size: large;
  padding: 10px;  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: relative;
}



[dir = "rtl"] .close-icon {
  cursor: pointer;
  position: absolute;
  left: 10px; 
  top: 50%; 
  transform: translateY(-50%);
}

[dir = "ltr"] .close-icon {
  cursor: pointer;
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
}

.banner p{
  margin-top: 10px;
}

.banner a {
  text-decoration: underline; 
  color: #ffffff;        
}

.banner a:hover {
  text-decoration: underline; 
  color: #9f9a9a; 
}

.nav {
  background-color: white;
  height: var(--top-nav-height)
}


.navbar-btn {
  margin-left: 5px;
}

.navbar-btn:hover {
  background-color: #f8f9fa;
  /* text-shadow: 2px 2px 2px rgba(255, 192, 75, 0.685); */
}

.navbar-btn:active {
  background-color: #e2e6ea;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem #ffcf008c;
}

#nav-buttons {
  margin: 5px 10px 5px 0px;
}

button:focus {
  outline: none;
}

#account_circle {
  transition: transform 0.5s
}

#user-drop-down:hover>#account_circle {
  transform: scale(1.2);
}

.sticky-top {
  z-index: 5;
}

img {
  height: 3rem;
  margin: 5px;
}

#logo-no-name {
  display: none;
}

#logo {
  /* margin: 10px 10px; */
  background-color: white;
  text-align: center;
  cursor: pointer;
  /* color: #fdcd00; */
}

#logo:hover {
  opacity: 0.8;
}

#logo:active {
  opacity: 0.8;
}

#notificationIcon {
  align-self: center;
}

.bell-icon {
  font-size: 2rem;
  opacity: 0.6;
  transition: transform 0.3s, opacity 0.5s;
}

#notificationIcon:hover .bell-icon {
  transform: scale(1.2);
  opacity: 1;
}

.shake {
  animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
}

@keyframes shake {

  5% {
    transform: translate3d(-1px, 0, 0);
  }

  10% {
    transform: translate3d(1px, 0, 0);
  }

  15%,
  25% {
    transform: translate3d(-3px, 0, 0);
  }

  20% {
    transform: translate3d(3px, 0, 0);
  }

  30% {
    transform: translate3d(0px, 0, 0);
  }

  100% {
    transform: translate3d(0px, 0, 0);
  }
}

#news-list {
  direction: rtl;
  text-align: initial;
  padding-left: 5%;
  min-width: 10rem;
  line-height: 2rem;
  list-style: disc;
}

.news-list-item .news-list-data {
  font-size: 1rem;
}

.news-list-item .news-list-date {
  font-size: 0.8rem;
  color: rgb(168, 168, 168);
  margin-right: 5px;
}

li span {
  color: black;
}

.line {
  background-color: #ffa800;
  height: 5px;
  width: 80%;
  border-radius: 100%;
  margin-bottom: 8px;
  margin-top: 7px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* li::marker {
  color: var(--main-color);
  content: "►";
} */

#news-title {
  font-size: large;
  font-weight: 600;
  direction: rtl;
}

::ng-deep .mat-menu-news {
  width: max-content!important;
}

.tooltip-class {
  font-size: 1rem;
}

::ng-deep .mat-menu-buttons {
  width: min-content;
}

#nav-buttons .menu-btn {
  display: none;
}

.mat-menu-item {
  text-align: start;
  direction: rtl;
}

/* #couponCodeBtn {
  background: #ffa800;
  color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */

@media screen and (max-width: 1190px) {
  #nav-buttons button:not(:first-child) {
    display: none;
  }

  #nav-buttons .menu-btn {
    display: inherit;
  }

}

@media screen and (max-width: 480px) {
  #logo-name {
    display: none;
  }

  #logo-no-name {
    display: inherit;
  }

  img {
    height: 2rem;
  }

  .banner p{
    padding-left: 20px;
    padding-right: 20px;
  }

}