<nav
  class="nav navbar-light align-items-center justify-content-between sticky-top"
>
  <div id="nav-buttons" class="d-flex flex-row">
    <div dir="rtl">
      <button class="btn navbar-btn menu-btn" [matMenuTriggerFor]="allButtons">
        <mat-icon>menu</mat-icon>
      </button>
      <button
        *ngIf="!loggedIn"
        class="btn navbar-btn"
        (click)="navigate('/home-page')"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        id="user-drop-down"
        *ngIf="loggedIn"
        class="btn navbar-btn"
        [matMenuTriggerFor]="userMenu"
      >
        <mat-icon id="account_circle">account_circle</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <button *ngIf="!loggedIn" class="btn navbar-btn" (click)="signInSignUp()">
      {{ "pages.nav.navbar.signin-signup" | translate }}
    </button>
    <button class="btn navbar-btn" (click)="navigate('/all-packs-page')">
      {{ "pages.nav.navbar.all-card-packs" | translate }}
    </button>
    <button class="btn navbar-btn" (click)="openNewTab()">
      {{ "pages.nav.navbar.digital-courses" | translate }}
    </button>
    <button class="btn navbar-btn" (click)="navigate('/price-page')">
      {{ "pages.nav.navbar.our-plans" | translate }}
    </button>
    <button class="btn navbar-btn" (click)="navigate('/guide-page')">
      {{ "pages.nav.navbar.faq" | translate }}
    </button>
    <!--<button class="btn navbar-btn" (click)="navigate('/services')">
      {{ "pages.nav.navbar.additional-services" | translate }}
    </button>-->
    <button class="btn navbar-btn" (click)="navigate('/about-page')">
      {{ "pages.nav.navbar.about-us" | translate }}
    </button>
    <!--<button class="btn navbar-btn" (click)="navigate('/all-blogs')">
      מרכז למידה
    </button>-->
    <button class="btn navbar-btn" (click)="navigate('/affiliates-page')">
      {{ "pages.nav.navbar.affiliates" | translate }}
    </button>
    <button class="btn navbar-btn" (click)="navigate('/contact-us')">
      {{ "pages.nav.navbar.contact-us" | translate }}
    </button>

  
    <button
      class="btn navbar-btn"
      id="admin-drop-down"
      *ngIf="loggedIn && userAttributes?.groupRole === 'SUPER_USER'"
      [matMenuTriggerFor]="managementMenu"
    >
      {{ "pages.nav.navbar.admin" | translate }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <!-- <button class="btn navbar-btn" (click)="navigate('/company-pack-choise')">בחירת ערכות</button> -->
  </div>
  <div class="d-flex flex-row">

    <!--<app-select-language style="display: flex; align-items: center;"></app-select-language>-->
    <button
      mat-icon-button
      color="primary"
      id="notificationIcon"
      *ngIf="news"
      [matMenuTriggerFor]="newsMenu"
      (click)="viewNotifications()"
      matTooltip="{{ 'pages.nav.news-updates' | translate }}"
      [matTooltipClass]="{ 'tooltip-class': true }"
    >
      <mat-icon
        matBadge="!"
        matBadgeColor="warn"
        matBadgeOverlap="true"
        matBadgeSize="small"
        class="shake bell-icon"
        style="color: #ffcc6c"
        *ngIf="newsNotification && news?.length != 0"
      >
        notifications_active</mat-icon
      >
      <mat-icon
        class="bell-icon"
        style="color: rgb(93, 93, 93)"
        *ngIf="!newsNotification || news?.length == 0"
      >
        notifications</mat-icon
      >
    </button>
    <div
      id="logo"
      matRipple
      [matRippleCentered]="true"
      [matRippleRadius]="30"
      (click)="navigate('/home-page')"
    >
      <img id="logo-name" src="/assets/Logo.png" alt="Mentor-Cards full logo" />
      <img
        id="logo-no-name"
        src="/assets/Logo-NoName-NoBG.png"
        alt="Mentor-Cards miniature logo"
      />
    </div>
  </div>
</nav>

<mat-menu class="mat-menu-news" #newsMenu="matMenu">
  <div class="news">
    <span id="news-title">{{ "pages.nav.news-updates" | translate }}</span>
    <div class="line"></div>
    <ul id="news-list">
      <li class="news-list-item" *ngFor="let n of news">
        <span class="news-list-data"
          >{{ n.message }}
          <span class="news-list-date"
            >({{ n.createdAt | date : "dd.MM.yyyy" }})</span
          >
        </span>
      </li>
      <li class="news-list-item" *ngIf="news?.length == 0">
        {{ "pages.nav.no-news-updates" | translate }}
      </li>
    </ul>
  </div>
</mat-menu>

<mat-menu class="mat-menu-buttons" #allButtons="matMenu">
  <button mat-menu-item *ngIf="!loggedIn" (click)="navigate('/home-page')">
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-menu-item
    id="user-drop-down"
    *ngIf="loggedIn"
    [matMenuTriggerFor]="userMenu"
  >
    <mat-icon id="account_circle">account_circle</mat-icon>
  </button>
  <button mat-menu-item *ngIf="!loggedIn" (click)="signInSignUp()">
    {{ "pages.nav.navbar.signin-signup" | translate }}
  </button>
  <button mat-menu-item (click)="navigate('/all-packs-page')">
    {{ "pages.nav.navbar.all-card-packs" | translate }}
  </button>
  <button mat-menu-item (click)="openNewTab()">
    {{ "pages.nav.navbar.digital-courses" | translate }}
  </button>
  <button mat-menu-item (click)="navigate('/price-page')">
    {{ "pages.nav.navbar.our-plans" | translate }}
  </button>
  <button mat-menu-item (click)="navigate('/guide-page')">
    {{ "pages.nav.navbar.faq" | translate }}
  </button>
  <!--<button mat-menu-item (click)="navigate('/services')">
    {{ "pages.nav.navbar.additional-services" | translate }}
  </button>-->
  <!--<button mat-menu-item (click)="navigate('/all-blogs')">מרכז למידה</button>-->
  <button mat-menu-item (click)="navigate('/about-page')">
    {{ "pages.nav.navbar.about-us" | translate }}
  </button>
  <button mat-menu-item (click)="navigate('/contact-us')">
    {{ "pages.nav.navbar.contact-us" | translate }}
  </button>
  <button
    mat-menu-item
    *ngIf="loggedIn && userAttributes?.groupRole === 'SUPER_USER'"
    [matMenuTriggerFor]="managementMenu"
  >
    {{ "pages.nav.navbar.admin" | translate }}
  </button>
  <mat-divider *ngIf="loggedIn"></mat-divider>
  <button mat-menu-item *ngIf="loggedIn" (click)="openEnterCouponCodeModal()">
    {{ "pages.nav.navbar.coupon-codes" | translate }}
  </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item *ngIf="loggedIn" (click)="navigate('/user-page')">
    {{ "pages.nav.user-menu.user-details" | translate }}
  </button>
  <button
    mat-menu-item
    *ngIf="loggedIn && userAttributes?.status === 'NOPLAN'"
    (click)="navigate('/price-page')"
  >
    {{ "pages.nav.user-menu.register-plan" | translate }}
  </button>

  <button
    mat-menu-item
    *ngIf="loggedIn && userAttributes?.myAffiliate"
    (click)="navigate('/affiliate-dashboard')"
  >
    {{ "pages.nav.user-menu.affiliate" | translate }}
  </button>
  <button
    mat-menu-item
    type="button"
    *ngIf="
      loggedIn &&
      userAttributes?.groupId &&
      (userAttributes?.groupRole === 'ADMIN' ||
        userAttributes?.groupRole === 'SUPER_USER')
    "
    (click)="navigate('/group-management')"
  >
    {{ "pages.nav.user-menu.group-management" | translate }}
  </button>
  <!-- <button mat-menu-item [matMenuTriggerFor]="managementMenu"
    *ngIf="loggedIn && userAttributes?.groupRole === 'SUPER_USER'">
    <span>ניהול תוכן האתר</span></button> -->
  <button mat-menu-item *ngIf="loggedIn" (click)="logout()">
    {{ "pages.nav.user-menu.logout" | translate }}
  </button>
</mat-menu>

<mat-menu #tourMenu="matMenu" backdropClass="mat-menu">
  <button mat-menu-item (click)="navigate('/all-packs-page')" *ngIf="showTour">
    <div>{{ "pages.nav.tour-menu.tour-main-page" | translate }}</div>
  </button>
  <button mat-menu-item (click)="navigate('/pack-view/50')" *ngIf="showTour">
    <div>{{ "pages.nav.tour-menu.how-to-work-with-cards" | translate }}</div>
  </button>
</mat-menu>

<mat-menu #managementMenu="matMenu" backdropClass="mat-menu">
  <button
    mat-menu-item
    (click)="navigate('/dashboard')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>{{ "pages.nav.management-menu.dashboard" | translate }}</div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/news-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>{{ "pages.nav.news-updates" | translate }}</div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/guide-book-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>
      {{ "pages.nav.management-menu.guidebook-management" | translate }}
    </div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/coupon-codes-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>
      {{ "pages.nav.management-menu.coupon-codes-management" | translate }}
    </div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/orgs-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>{{ "pages.nav.management-menu.orgs-management" | translate }}</div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/packs-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>{{ "pages.nav.management-menu.packs-management" | translate }}</div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/payment-programs-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>
      {{ "pages.nav.management-menu.payment-programs-management" | translate }}
    </div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/receipts-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>{{ "pages.nav.management-menu.receipts-management" | translate }}</div>
  </button>
  <button
    mat-menu-item
    (click)="navigate('/affiliate-management')"
    *ngIf="userAttributes?.groupRole === 'SUPER_USER'"
  >
    <div>
      {{ "pages.nav.management-menu.affiliate-management" | translate }}
    </div>
  </button>
</mat-menu>
