button {
  font-family: 'rubik';
  font-size: 1rem;
}

.navbar-btn {
  margin-left: 5px;
}

.navbar-btn:hover {
  background-color: #f8f9fa;
  /* text-shadow: 2px 2px 2px rgba(255, 192, 75, 0.685); */
}

.navbar-btn:active {
  background-color: #e2e6ea;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem #ffcf008c;
}

#nav-buttons {
  margin: 5px 10px 5px 0px;
}

button:focus {
  outline: none;
}

#account_circle {
  transition: transform 0.5s
}

#user-drop-down:hover>#account_circle {
  transform: scale(1.2);
}

/* .sticky-top {
  z-index: 1000;
  margin-bottom: 5px;
  margin-top: -1px;
} */

img {
  height: 3rem;
  margin: 5px;
}

#logo-no-name {
  display: none;
}

#logo {
  /* margin: 10px 10px; */
  background-color: white;
  text-align: center;
  cursor: pointer;
  /* color: #fdcd00; */
}

#logo:hover {
  opacity: 0.8;
}

#logo:active {
  opacity: 0.8;
}

#notificationIcon {
  align-self: center;
}

.bell-icon {
  font-size: 2rem;
  opacity: 0.6;
  transition: transform 0.3s, opacity 0.5s;
}

#notificationIcon:hover .bell-icon {
  transform: scale(1.2);
  opacity: 1;
}

.shake {
  animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
}

@keyframes shake {

  5% {
    transform: translate3d(-1px, 0, 0);
  }

  10% {
    transform: translate3d(1px, 0, 0);
  }

  15%,
  25% {
    transform: translate3d(-3px, 0, 0);
  }

  20% {
    transform: translate3d(3px, 0, 0);
  }

  30% {
    transform: translate3d(0px, 0, 0);
  }

  100% {
    transform: translate3d(0px, 0, 0);
  }
}

#news-list {
  direction: rtl;
  text-align: initial;
  padding-left: 5%;
  min-width: 10rem;
}

.news-list-item {
  font-size: 1rem;
}

#news-title {
  font-size: large;
  font-weight: 600;
  direction: rtl;
}

::ng-deep .mat-menu-news {
  width: max-content;
}

.tooltip-class {
  font-size: 1rem;
}

::ng-deep .mat-menu-buttons {
  width: min-content;
}

#nav-buttons .menu-btn {
  display: none;
}

@media screen and (max-width: 1060px) {
  #nav-buttons button:not(:first-child) {
    display: none;
  }

  #nav-buttons .menu-btn {
    display: inherit;
  }

}

@media screen and (max-width: 480px) {
  #logo-name {
    display: none;
  }

  #logo-no-name {
    display: inherit;
  }

  img {
    height: 2rem;
  }

}
