<!-- <div mat-dialog-title class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button [mat-dialog-close] cdkFocusInitial>
        <mat-icon>highlight_off</mat-icon>
    </button>
    <h2>לגבי יוצר הערכה</h2>
</div> -->
<mat-toolbar class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button [mat-dialog-close] cdkFocusInitial>
        <mat-icon>highlight_off</mat-icon>
    </button>
    <span class="title">על יוצר הערכה</span>
</mat-toolbar>
<div class="line"></div>
<div mat-dialog-content>
    <p>{{packInfo.about}}</p>
</div>
<!-- <div mat-dialog-actions>
</div> -->