p {
  text-align: right;
  font-size: medium;
  line-height: 1.5rem;
  direction: rtl;
  margin-left: 10%;
}

.line {
  background-color: #ffa800;
  width: auto;
  height: 3px;
  margin-top: -15px;
  margin-bottom: 15px;
}

mat-toolbar {
  margin-top: -10px;
  background-color: transparent;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45vw;
}

img {
  max-width: 25vw;
}

@media screen and (max-width: 1024px) {
  #content {
    max-width: 55vw;
  }
}

@media screen and (max-width: 768px) {
  #content {
    flex-direction: column;
    gap: 1rem;
    max-width: 60vw;
  }

  p {
    text-align: center;
    margin-left: inherit;
  }
}


@media screen and (max-width: 480px) {
  img {
    max-width: 70vw;
  }

  #content {
    max-width: initial;
  }
}
