<mat-toolbar class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button [mat-dialog-close] cdkFocusInitial>
        <mat-icon>highlight_off</mat-icon>
    </button>
    <span class="title">על יוצר הערכה</span>
</mat-toolbar>
<div class="line"></div>
<div mat-dialog-content>
    <div id="content">
        <img alt="The image represents the author of this pack" *ngIf="packInfo.about.imgUrl" src={{packInfo.about.imgUrl}}>
        <p>{{packInfo.about.text}}</p>
    </div>
</div>
<mat-dialog-actions align="center" *ngIf="packInfo.about.link">
    <a href="{{packInfo.about.link}}" id="cards-creator-url" target="_blank" style="text-align: center; font-size: x-large;">למידע נוסף לחצו
        כאן</a>
</mat-dialog-actions>