<div class="container d-flex justify-content-center align-items-center">
    <div id="layout" class="d-flex flex-column">
      <div id="header" class="d-flex justify-content-between">
        <span id="title">דשבורד ניהולי</span>
      </div>
    </div>
    <div id="chart">
      <apx-chart
        [(series)]="chartOptions.series"
        [(chart)]="chartOptions.chart"
        [(labels)]="chartOptions.labels"
        [(responsive)]="chartOptions.responsive"
      ></apx-chart>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>שם</th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>


      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>אימייל</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>טלפון</th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <!-- entries Column -->
      <ng-container matColumnDef="entries">
        <th mat-header-cell *matHeaderCellDef>מספר כניסות לאתר</th>
        <td mat-cell *matCellDef="let element"> {{element.entries}} </td>
      </ng-container>

    </table>
  </div>
  