<!-- <mat-toolbar class="d-flex justify-content-between">
    <button class="iconButton" mat-icon-button (click)="closeDialog()">
        <mat-icon>highlight_off</mat-icon>
    </button>
    <span id="title">תשלום באמצעות PayPal או כרטיס אשראי</span>
    <button style="opacity: 0;" class="iconButton" mat-icon-button>
        <mat-icon>highlight_off</mat-icon>
    </button>
</mat-toolbar> -->
<div
  mat-dialog-title
  style="
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <button class="iconButton" mat-icon-button (click)="closeDialog()">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <span id="title">{{ "pages.approvePurchaseDialog.title" | translate }} </span>
</div>
<div class="line"></div>
<div
  id="summery"
  mat-dialog-content
  [class.text-left]="langDirectionService.currentLangDirection === 'ltr'"
  [class.text-right]="langDirectionService.currentLangDirection === 'rtl'"
>
  <div
    [innerHTML]="'pages.approvePurchaseDialog.summery.intro' | translate"
  ></div>
  <ul>
    <li
      [innerHTML]="
        'pages.approvePurchaseDialog.summery.recurringPayment' | translate
      "
    ></li>
    <li
      [innerHTML]="
        'pages.approvePurchaseDialog.summery.autoRenewal' | translate
      "
    ></li>
    <li
      [innerHTML]="
        'pages.approvePurchaseDialog.summery.cancelAutoCharge' | translate
      "
    ></li>
    <li
      [innerHTML]="'pages.approvePurchaseDialog.summery.noRefunds' | translate"
    ></li>
    <li
      [innerHTML]="
        'pages.approvePurchaseDialog.summery.bankCharges' | translate
      "
    ></li>
    <li>
      <span
        [innerHTML]="
          'pages.approvePurchaseDialog.summery.ageConfirmation' | translate
        "
      ></span>
      <a
        (click)="openSiteRulesModal()"
        [innerHTML]="
          'pages.approvePurchaseDialog.summery.termsAgreement' | translate
        "
      ></a>
    </li>
    <li
      [innerHTML]="
        'pages.approvePurchaseDialog.summery.lifeTimePlan' | translate
      "
    ></li>
  </ul>
  <p id="payment-title">
    {{ "pages.approvePurchaseDialog.paymentTitle" | translate }}
  </p>
</div>
<div mat-dialog-actions>
  <div
    id="paypal"
    style="width: 100%"
    #paypal
    [matTooltipClass]="{ 'tooltip-class': true }"
    [matTooltipPosition]="'left'"
    matTooltip="{{ 'pages.approvePurchaseDialog.paypalTooltip' | translate }}"
  ></div>
</div>
