<div id="content" class="d-flex flex-column align-items-center">
    <h1>עמוד מחירון תכניות Mentor-Cards</h1>
    <img style="margin-bottom: 16px; width: 50%;" src="https://master-cards.s3.eu-west-2.amazonaws.com/responsive.png"
        alt="responsive">
    <ul>
        <span id="list-header">הצטרפו לתכנית ותקבלו:</span>
        <li>
            <mat-icon style="color: blue;">done</mat-icon><b> גישה מלאה ללא הגבלה </b> - נהנים מכל ערכות הקלפים באתר
        </li>
        <li>
            <mat-icon style="color: blue;">done</mat-icon><b> ספר הדרכה צמוד לכל ערכת קלפים</b> - עשרות שאלות
            עוצמתיות והצעות מגוונות לעבודה
        </li>
        <li>
            <mat-icon style="color: blue;">done</mat-icon><b> שימוש בכל היכולות </b> - קלפים גלויים וסמויים, בחירת
            קלף באופן אקראי, ערבוב, בחירה מרובה לעבודה תהליכית ועוד…
        </li>
        <li>
            <mat-icon style="color: blue;">done</mat-icon><b> תוכן מתחדש ודינמי</b> - ערכות קלפים נוספות וטכניקות
            עבודה חדשות המתעדכנות באופן שוטף ע"י יוצרי הבית שלנו ויוצרים מבחוץ
        </li>
        <li>
            <mat-icon style="color: blue;">done</mat-icon><b> שירות ותמיכה</b> - יש לכם שאלה? בא לכם להתייעץ? הצוות
            שלנו זמין לכם גם בווצאפ!
        </li>
    </ul>
</div>
<br />
<div style="text-align: center;">
    <div *ngIf="subPlans" class="d-flex justify-content-center program-cards">
        <mat-card>
            <mat-card-subtitle>הכי פשוט</mat-card-subtitle>
            <mat-card-title>תוכנית חודשית</mat-card-title>
            <mat-card-content>
                <p>{{ monthlySubscription.fullPrice / monthlySubscription.billingCycleInMonths }} ש"ח / חודש</p>
                <p>חיוב חודשי</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button class="action-button purchase-btn" type="button"
                    (click)="checkFreePeriod(monthlySubscription.id)">
                    קבלו גישה חודשית לכל ערכות הקלפים
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>
                <mat-icon>star</mat-icon>הכי פופולרית<mat-icon>star</mat-icon>
            </mat-card-subtitle>
            <mat-card-title>תוכנית חצי-שנתית</mat-card-title>
            <mat-card-content>
                <p>{{ halfYearlySubscription.fullPrice / halfYearlySubscription.billingCycleInMonths }} ש"ח / חודש</p>
                <p>משלמים מראש {{halfYearlySubscription.fullPrice}} ש"ח לחצי שנה וחוסכים 17%</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button class="action-button purchase-btn" type="button"
                    (click)="checkFreePeriod(halfYearlySubscription.id)">
                    קבלו גישה חצי שנתית לכל ערכות הקלפים
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-subtitle>הכי משתלמת</mat-card-subtitle>
            <mat-card-title>תוכנית שנתית</mat-card-title>
            <mat-card-content>
                <p>{{ yearlySubscription.fullPrice / yearlySubscription.billingCycleInMonths }} ש"ח / חודש
                </p>
                <p>משלמים מראש {{yearlySubscription.fullPrice}} ש"ח לשנה וחוסכים 30%</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button class="action-button purchase-btn" type="button"
                    (click)="checkFreePeriod(yearlySubscription.id)">
                    קבלו גישה שנתית לכל ערכות הקלפים
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <p *ngIf="noChangingProgramThisMonth" style="font-size: medium;font-weight: 600;">הוחלפה
        חבילה החודש. ניתן יהיה להחליף תכנית בתאריך {{nextPlanChangeDate | date:'d/M/y' }}</p>
    <!--<p *ngIf="!userSingedIn"  style="font-size: medium;font-weight: 600;">
    <button type="button" *ngIf="!loggedIn" class="btn navbar-btn" (click)=signInSignUp()>יש להתחבר על מנת להצטרף לתכנית</button>
    </p>-->
    <p *ngIf="userSingedIn && selectedProgramOwned" style="font-size: medium;font-weight: 600;">
        אתם רשומים לתכנית זו
    </p>
    <img style="height: 5%; width: 5%; margin-top: 2%;" src="https://master-cards.s3.eu-west-2.amazonaws.com/paypal.png"
        alt="Secure Payment">
</div>

<app-information-bar></app-information-bar>