<app-home-page-hero></app-home-page-hero>
<app-home-page-sub-hero></app-home-page-sub-hero>
<app-home-page-cards></app-home-page-cards>
<app-home-page-try-this></app-home-page-try-this>
<app-home-page-how-to-use></app-home-page-how-to-use>
<app-home-page-advantage></app-home-page-advantage>
<app-home-page-clients></app-home-page-clients>
<app-home-page-clients-card></app-home-page-clients-card>
<app-home-page-partners></app-home-page-partners>
<app-home-page-updates></app-home-page-updates>
<app-home-page-contact-us></app-home-page-contact-us>
