<div class="flex items-center justify-center bg-white rounded-3xl mx-2-sm-mx-10 flex-col mt-16">
    <div class="mt-8 sm:text-4xl text-2xl text-center font-bold">
        {{ 'pages.home-page.sections.advantage.content.title1' | translate }}<br>
        {{ 'pages.home-page.sections.advantage.content.title2' | translate }}<br>
        {{ 'pages.home-page.sections.advantage.content.title3' | translate }}
    </div>
    <div class="sm:w-[35vw] w-[90vw] text-center sm:text-base text-md font-bold mt-8">
        {{ 'pages.home-page.sections.advantage.content.description1' | translate }}<br class="hidden md:block">
        {{ 'pages.home-page.sections.advantage.content.description2' | translate }}<br>
        {{ 'pages.home-page.sections.advantage.content.description3' | translate }}
    </div>
    <div class="flex justify-center flex-col md:flex-row gap-8 mb-12">

        <div class="md:w-[15vw] w-[85vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-1.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.0.title1' | translate }}<br>
                {{ 'pages.home-page.sections.advantage.content.advantages.0.title2' | translate }}
            </div>
            <div class="mt-4 font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.0.description1' | translate }}<br>
                {{ 'pages.home-page.sections.advantage.content.advantages.0.description2' | translate }}
            </div>
        </div>

        <div class="md:w-[15vw] w-[85vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-2.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.1.title1' | translate }}<br>
                {{ 'pages.home-page.sections.advantage.content.advantages.1.title2' | translate }}
            </div>
            <div class="mt-4 font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.1.description' | translate }}
            </div>
        </div>

        <div class="md:w-[15vw] w-[85vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-3.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.2.title1' | translate }}<br>
                {{ 'pages.home-page.sections.advantage.content.advantages.2.title2' | translate }}
            </div>
            <div class="mt-4 font-bold">
                {{ 'pages.home-page.sections.advantage.content.advantages.2.description' | translate }}
            </div>
        </div>
    </div>
</div>
