<div class="flex items-center justify-center bg-white rounded-3xl mx-10 flex-col mt-12">
    <div class="mt-8 text-4xl text-center font-bold">
        סליחה, <br>
        מה זה כל הבאזז הזה <br>
        סביב קלפי השלכה?
    </div>
    <div class="mt-8 text-center font-bold">
        היה ואתם עדין לא מכורים או מכירים מספיק מקרוב את כל הטוב הזה של עבודה עם קלפי השלכה, בואו נחשוף כמה יתרונות
        עבורכם <br>
        או עבור המטופלים והלקוחות שלכם:
    </div>
    <div class=" flex justify-center gap-8 mb-12">
 
        <div class="w-[15vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-1.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold ">קלפים מקַלפים ופותחים</div>
            <div class="text-xl font-bold ">את תת המודע</div>
            <div class="mt-4 font-bold">
                המח החושב שלנו מלא בפחדים, אמונות מגבילות ומעצורים.  קלפים הם כלי השלכתי המאפשר לנו להתחבר לרצון האמיתי
                שלא
                פעם חבוי היטב במעמקי תת המודע. במילים אחרות – התהליכים מתקצרים והתגליות מפתיעות.
            </div>
        </div>

        <div class="w-[15vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-2.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold ">ראי ראי</div>
            <div class="text-xl font-bold ">שעל הקיר</div>
            <div class="mt-4 font-bold">
                קלפים הם הרבה מעבר לקלפים, הם מייצרים הזדמנות לשיח עקיף במקומות רגישים בהם כואב לנו מידי להתקרב. דרך
                אפשרית ורכה לשיח ריפוי והחלמה, הזדמנות להתקרבות משמעותית בין האדם לבין עצמו.
            </div>
        </div>

        <div class="w-[15vw] text-center mt-8 mx-auto justify-center">
            <div class="flex justify-center h-24">
                <img src="/assets/New/home-page/advantage-3.png" alt="tik-tok image">
            </div>
            <div class="text-xl font-bold ">אם עובדים עם קלפים</div>
            <div class="text-xl font-bold ">מגיעים למקומות נפלאים</div>
            <div class="mt-4 font-bold">
                עבודה עם קלפים פותחת את הלב ואת הראש.
                שימוש בקלפים הופך כל מפגש לבלתי נשכח,
                דינאמי ואינטראקטיבי. הדרך המהנה להגדלת המעורבות בתהליך ולהצלחה.
            </div>
        </div>
    </div>

</div>