<div class="content">
  <video width="1920px" height="600px" autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets\About video.mp4" type="video/mp4">
  </video>
  <div id="actions" class="d-flex flex-column">
    <span id="top">בחרו את התכנית שלכם והתחילו את תקופת הניסיון</span>
    <br>
    <button type="button" (click)="openChooseProgramModal()">בחר תכנית</button>
    <br>
    <span id="bottom">החל מ-19.90 ש"ח לחודש לאחר 30 ימי ניסיון חינם. בטלו בכל עת.</span>
  </div>
</div>