<div class="content">
  <video #videoPlayer width="1920px" height="600px" autoplay loop oncanplay="this.play()"
    onloadedmetadata="this.muted = true; this.style.opacity='1'">
    <source src="assets\About video.mp4" type="video/mp4">
    <source src="https://master-cards.s3.eu-west-2.amazonaws.com/About+video.mp4" type="video/mp4">
  </video>
  <div id="actions" class="d-flex flex-column">
    <span id="top">בחרו את התוכנית שלכם והתחילו לאמן</span>
    <br>
    <!-- <button style="font-size: x-large;" type="button" (click)="openChooseProgramModal()">בחרו תוכנית</button> -->
    <button style="font-size: x-large;" type="button" (click)="navigate('/price-page')">בחרו תוכנית</button>
    <br>
    <span id="bottom">החל מ-19.90 ש"ח לחודש. בטלו בכל עת.</span>
  </div>
  <div style="margin-top: 1rem; margin-bottom: 2rem;" id="actions" class="d-flex flex-column">
    <span id="top">אתם חלק מקבוצה?</span>
    <br>
    <button style="font-size: large;" type="button" (click)="openEnterGroupIdModal()">הזנת קוד קבוצה</button>
    <br>
    <span id="bottom">הצטרפו לחבריכם והתחילו לעבוד</span>
  </div>
</div>