<!-- <amplify-authenticator>
  <div>
    Cards App
    <amplify-sign-out></amplify-sign-out>
  </div>
  previous code 
</amplify-authenticator>-->


<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div>

  <!--<div class="form-body">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
      <div>
        <label>Name: </label>
        <input type="text" formControlName="name" autocomplete="off">
      </div>
      <div>
        <label>Description: </label>
        <input type="text" formControlName="description" autocomplete="off">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  <div *ngFor="let card of cards">
    <div>{{ card.name }}</div>
    <div>{{ card.description }}</div>
  </div>-->
</div>



<router-outlet></router-outlet>