<!-- <mat-card>
    <img style="height: 6vh;" src="/assets/Logo.png">
    <div class="line"></div>
    <h1>ספר הדרכה - {{packName}}</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of guideBook.subjects">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{subject.subjectName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let subSubject of subject.subSubjects">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{subSubject.subSubjectName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{subSubject.questions.length}} שאלות
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let question of subSubject.questions">{{question}}</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>

<content style="text-align: right; direction: rtl; font-family: 'rubik' !important;">
    <div id="title" style="margin: 2vh 3vh;">
        <h1 style="text-align: center;">ספר הדרכה</h1>
        <h4 style="text-align: center;">{{packName}}</h4>
        <div style="background-color: #ffa800; width: auto; height: 3px; margin-top: -5px;"></div>
    </div>
    <div *ngFor="let subject of guideBook.subjects; let i = index" style="padding-right: 2vw; padding-left: 2vw;">
        <div #subjectDivRef class="panel" style="padding: 1vw; border-radius: 10px; transition: margin 0.2s linear;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)">
            <span #subjectRef id="subject"
                style="font-size: larger; font-weight: 700; cursor: pointer; display: block; width: 100%;"
                (click)="accordion(subjectRef, subjectDivRef)">{{subject.subjectName}}</span>
            <div style="overflow: hidden; max-height: 0; transition: max-height 0.5s linear; transition-delay: 0s;">
                <div *ngFor="let subSubject of subject.subSubjects; let j = index"
                    style="padding-right: 2vw; padding-left: 2vw;">
                    <div #subSubjectDivRef
                        style="padding: 1vw; border-radius: 10px; transition: margin 0.2s linear;
                    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)">
                        <span #subSubjectRef id="sub-subject"
                            style="font-size: large; cursor: pointer; display: block; width: 100%;"
                            (click)="accordion(subSubjectRef, subSubjectDivRef)">{{subSubject.subSubjectName}}</span>
                        <ul class="list-group list-group-flush"
                            style="overflow: hidden; max-height: 0; transition: max-height 0.5s linear; transition-delay: 0s;">
                            <li class="list-group-item" *ngFor="let question of subSubject.questions; let k = index"
                                style="margin-left: 2vw; align-items: center; display: flex;">
                                <input style="margin-left: 1rem;" type="checkbox"
                                    id={{i}}+{{j}}+{{k}}>
                                <label for={{i}}+{{j}}+{{k}}>{{question}}</label>
                            </li>
                            <!-- <li class="list-group-item" *ngFor="let question of subSubject.questions"
                                onmouseover='this.style.backgroundColor= "blanchedalmond"'
                                onmouseout='this.style.backgroundColor= "white"' style="margin-left: 2vw;">
                                {{question}}
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-bottom: 1%;">
        <div id="title" style="margin: 2vh 3vh;">
            <h3 style="text-align: center;">הערות לעצמך</h3>
            <div style="background-color: #ffa800; width: auto; height: 3px; margin-top: -10px;"></div>
        </div>
        <textarea style="width: 96vw;min-height: 20vh;" matInput
            placeholder="דברים שעולים לך במהלך האימון..."></textarea>
    </div>
</content>