<mat-horizontal-stepper [linear]="isLinear" #stepper label="כמות אנשים">
  <mat-step class="step" label="כמות אנשים">
    <mat-button-toggle-group [(ngModel)]="numOfPeople" name="amountOfPeople" (change)="printChange()">
      <mat-button-toggle value="1">משתמש יחיד</mat-button-toggle>
      <mat-button-toggle value="3">3 משתמשים</mat-button-toggle>
      <mat-button-toggle value="10">10 משתמשים</mat-button-toggle>
      <mat-button-toggle value="50">50 משתמשים</mat-button-toggle>
    </mat-button-toggle-group>
    <div>
      <button mat-button matStepperNext>הבא<mat-icon>navigate_before</mat-icon></button>

    </div>
  </mat-step>
  <mat-step label="כמות חפיסות">
    <mat-button-toggle-group [(ngModel)]="numOfPacks" name="amountOfPacks" (change)="printChange()">
      <mat-button-toggle value="2">
        <div>
            <p>
                2 חפיסות
            </p>
            <p>
                {{calcPrice(2)}}
            </p>
        </div>
      </mat-button-toggle>
      <mat-button-toggle value="5"><div>
        <p>
            5 חפיסות
        </p>
        <p>
            {{calcPrice(5)}}
        </p>
    </div></mat-button-toggle>
      <mat-button-toggle value="-1"><div>
        <p>
            ללא הגבלה
        </p>
        <p>
            {{calcPrice(-1)}}
        </p>
    </div></mat-button-toggle>
    </mat-button-toggle-group>
    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>navigate_next</mat-icon>הקודם
      </button>
      <button mat-button matStepperNext>הבא<mat-icon>navigate_before</mat-icon></button>
    </div>
  </mat-step>
  <mat-step label="סיכום הזמנה">
    <p>כמות אנשים: {{getPeopleNum()}}</p>
    <p>כמות חפיסות בחודש: {{getPackNum()}}</p>
    <p>מחיר לחבילה זו: {{getPackNum()}}</p>
    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>navigate_next</mat-icon>הקודם
      </button>
      <button id="payment-button" mat-button (click)="stepper.reset()">אישור הזמנה ותשלום<mat-icon id="payment-icon">payment
        </mat-icon></button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
