* {
  direction: rtl;
  font-family: 'rubik';
  font-size: large;
}

mat-icon {
  font-family: 'Material Icons';
}

mat-button-toggle p {
  margin: 0px;
}

#payment-icon {
  margin-right: 5px;
}

#payment-button {
  background-color: #ffa800 !important;
  color: white !important;
}

::ng-deep .mat-step-label {
  margin-right: 5px !important;
  font-size: large !important;
}

::ng-deep .mat-horizontal-stepper-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 10px;
}

::ng-deep .mat-step-icon-selected,
::ng-deep .mat-step-icon-state-edit {
  background-color: #ffa800 !important;
  color: white !important;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #ffa800 !important;
  color: white !important;
}

::ng-deep .mat-button {
  margin-top: 10px !important;
}

#real_price {
  font-size: larger;
  font-weight: 600;
}

.iconButton {
  top: -1rem;
  right: -95%;
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl !important;
}

mat-horizontal-stepper {
  margin-top: -5%;
}

#extraProgramData {
  text-align: center;
  max-width: 30vw;
  margin-top: 10px;
  margin-bottom: -10px;
}

.instruction {
  font-size: medium;
}

#cantChangePlanLabel {
  font-size: xx-large;
  font-weight: 900;
  color: red;
  margin-top: 5%;
}

#ownsCurrentPlanLabel {
  font-size: xx-large;
  font-weight: 900;
  color: #ffa800;
  margin-top: 5%;
}
