.footer {
  font-size: larger;
  width: 100%;
  height: var(--bottom-nav-height);
  background-color: rgb(255, 203, 126);
  color: white;
  align-items: center;
}

.icons {
  /* height: 2rem; */
  align-items: center;
}

.social-link {
  fill: white;
  width: 2rem;
  margin-right: 2rem;
}

.site-rules {
  cursor: pointer;
}

#site-rules-sm {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-text {
    display: none;
  }

  #site-rules-sm {
    display: inherit;
  }
}
