<div
  class="bg-[#f6d0cc] flex justify-center"
  [dir]="langDirectionService.currentLangDirection"
>
  <div class="sm:grid sm:grid-cols-10 gap-4 w-[60vw] py-8">
    <div class="col-span-4">
      <img src="/assets/New/home-page/footer-logo.svg" alt="footer-3" />
    </div>
    <div class="col-span-2 sm:block hidden">
      <ul class="text-right space-y-4">
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/all-packs-page'"
          >
            {{
              "pages.home-page.sections.footer.content.links.0.items.0.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            href="https://mentor-cards.vp4.me/my-courses"
            target="_blank"
          >
            {{
              "pages.home-page.sections.footer.content.links.0.items.1.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/price-page'"
          >
            {{
              "pages.home-page.sections.footer.content.links.0.items.2.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/guide-page'"
          >
            {{
              "pages.home-page.sections.footer.content.links.0.items.3.text"
                | translate
            }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-span-2 sm:block hidden">
      <ul class="text-right space-y-4">
        <li>
          <a class="text-reset text-decoration-none" [routerLink]="'/services'">
            {{
              "pages.home-page.sections.footer.content.links.1.items.0.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/about-page'"
          >
            {{
              "pages.home-page.sections.footer.content.links.1.items.1.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/affiliates-page'"
          >
            {{
              "pages.home-page.sections.footer.content.links.1.items.2.text"
                | translate
            }}
          </a>
        </li>
        <li>
          <a
            class="text-reset text-decoration-none"
            [routerLink]="'/home-page'"
            [fragment]="'contact-us-section'"
          >
            {{
              "pages.home-page.sections.footer.content.links.1.items.3.text"
                | translate
            }}
          </a>
        </li>
      </ul>
    </div>
    <div class="flex justify-between sm:hidden mt-8">
      <div>
        <ul class="text-center space-y-4">
          <li class="cursor-pointer" (click)="openSiteRulesModal()">
            {{
              "pages.home-page.sections.footer.content.mobile-links.0.text"
                | translate
            }}
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/all-packs-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.1.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              href="https://mentor-cards.vp4.me/my-courses"
              target="_blank"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.2.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/price-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.3.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/guide-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.4.text"
                  | translate
              }}
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="text-center space-y-4">
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/services'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.5.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/about-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.6.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/affiliates-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.7.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/about-page'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.8.text"
                  | translate
              }}
            </a>
          </li>
          <li>
            <a
              class="text-reset text-decoration-none"
              [routerLink]="'/home-page'"
              [fragment]="'contact-us-section'"
            >
              {{
                "pages.home-page.sections.footer.content.mobile-links.9.text"
                  | translate
              }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-span-2 space-y-4">
      <div class="hidden site">
        <button (click)="openSiteRulesModal()">
          {{
            "pages.home-page.sections.footer.content.mobile-links.0.text"
              | translate
          }}
        </button>
      </div>
      <div class="hidden site">
        <a
          href="/home-page#contact-us-section"
          class="text-reset text-decoration-none"
          [routerLink]="'/home-page'"
          [fragment]="'contact-us-section'"
        >
          {{
            "pages.home-page.sections.footer.content.mobile-links.9.text"
              | translate
          }}
        </a>
      </div>
      <div class="sm:text-right text-right">
        <a
          class="text-reset text-decoration-none"
          [href]="
            'mailto:' +
            ('pages.home-page.sections.footer.content.contact' | translate)
          "
        >
          {{ "pages.home-page.sections.footer.content.contact" | translate }}
        </a>
      </div>
      <div class="sm:text-right text-right">
        {{ "pages.home-page.sections.footer.content.follow-us" | translate }}
      </div>
      <div class="social">
        <a href="https://www.tiktok.com/@mentor.cards" target="_blank">
          <img
            src="/assets/New/home-page/icons/tik-tok-black.svg"
            alt="{{
              'pages.home-page.sections.footer.content.social-icons.0.alt'
                | translate
            }}"
            class="h-7"
          />
        </a>
        <a href="https://www.facebook.com/groups/mentorcards/" target="_blank">
          <img
            src="/assets/New/home-page/icons/fb-black.svg"
            alt="{{
              'pages.home-page.sections.footer.content.social-icons.1.alt'
                | translate
            }}"
            class="h-7"
          />
        </a>
        <a href="https://www.instagram.com/mentor_cards/" target="_blank">
          <img
            src="/assets/New/home-page/icons/insta-black.svg"
            alt="{{
              'pages.home-page.sections.footer.content.social-icons.2.alt'
                | translate
            }}"
            class="h-7"
          />
        </a>
        <a
          href="https://www.youtube.com/channel/UCt3Ol6TXXUOLNiJaQLonDqw/"
          target="_blank"
        >
          <img
            src="/assets/New/home-page/icons/you-tube-black.svg"
            alt="{{
              'pages.home-page.sections.footer.content.social-icons.3.alt'
                | translate
            }}"
            class="h-7"
          />
        </a>
      </div>
    </div>
  </div>
</div>
