<div class="bg-[#f6d0cc] flex justify-center">
    <div class=" grid grid-cols-10 gap-4 w-[60vw] py-8">
        <div class="col-span-4">
            <img src="/assets/New/home-page/footer-logo.svg" alt="footer-3">
        </div>
        <div class=" col-span-2">
            <ul class="text-right">
                <li><button>ערכות הקלפים</button></li>
                <li><button>קורסים דיגיטליים</button></li>
                <li><button>התוכניות שלנו</button></li>
                <li><button>שאלות נפוצות</button></li>
            </ul>
        </div>
        <div class="col-span-2">
            <ul class="text-right">
                <li><button>שירותים</button></li>
                <li><button>אודות</button></li>
                <li><button>תוכנית שותפים</button></li>
                <li><button>הצהרת נגישות</button></li>
            </ul>
        </div>
        <div class="col-span-2">
            <div class=" flex justify-start gap-4">
                <div>תקנון האתר</div>
                <div>צור קשר</div>
            </div>
            <div class=" text-right">support@mentor-cards.com</div>
            <div class=" text-right">עקבו אחרי הקהילה שלנו לטיפים</div>

            <div class="flex justify-start gap-4 mt-2">
                <a href="">
                    <img src="/assets/New/home-page/icons/tik-tok-black.svg" alt="tik-tok image" class="h-7" />
                </a>
                <a href="">
                    <img src="/assets/New/home-page/icons/fb-black.svg" alt="fb image" class="h-7" />
                </a>
                <a href="">
                    <img src="/assets/New/home-page/icons/insta-black.svg" alt="insta image" class="h-7" />
                </a>
                <a href="">
                    <img src="/assets/New/home-page/icons/you-tube-black.svg" alt="you-tube" class="h-7" />
                </a>
            </div>
        </div>

    </div>
</div>