* {
  direction: rtl;
}

.content {
  display: flex;
  justify-content: center;
  height: 75vh;
}

.closeModalButton:focus {
  outline: none;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

/* img {
  width: 55%;
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
  .content {
    flex-direction: column-reverse;
    max-height: fit-content;
    height: 60vh;
  }

  /* img {
    width: unset;
  } */
}

/* @media screen and (max-width: 320px) {
  .content {
    height: 55vh;
  }
} */
