<div class="d-flex flex-column">
  <button class="closeModalButton" mat-icon-button (click)="closeDialog()">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <div class="content">
    <button type="button" class="btn btn-light" [disabled]="index == data.length-1" (click)="nextCard()">
      <mat-icon class="btn-icon">chevron_right
      </mat-icon>
    </button>

    <img loading="eager" class="img-view"
      src={{selectedCard.imgUrl}} data-src={{selectedCard.imgUrl}}>  

    <button type="button" class="btn btn-light" [disabled]="index == 0" (click)="prevCard()">
      <mat-icon class="btn-icon">chevron_left</mat-icon>
    </button>

  </div>
</div>
