<div id="content"  [dir]="langDirectionService.currentLangDirection">
  <div class="d-flex flex-column" id="login-div" [hidden]="!showLogin">
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" *ngIf="showLogin">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>{{ 'pages.login.login-div.login-form.username.label' | translate }}</mat-label>
          <input autocomplete="email" formControlName="username" matInput color="primary" inputmode="email"
            (focusout)="trimSpacesEmail(loginForm, 'username')">
          <mat-error *ngIf="loginForm.controls.username.errors?.userNotConfirmed">{{ 'pages.login.login-div.login-form.username.errors.userNotConfirmed' | translate }}</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.userNotFound">{{ 'pages.login.login-div.login-form.username.errors.userNotConfirmed' | translate }}</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.LimitExceededException">{{ 'pages.login.login-div.login-form.username.errors.LimitExceededException' | translate }}</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.email"> {{'pages.login.login-div.login-form.username.errors.email' | translate}}   </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'pages.login.login-div.login-form.password.label' | translate }}</mat-label>
          <input autocomplete="current-password" formControlName="password" matInput
            [type]="hidePW ? 'password' : 'text'">
          <mat-error *ngIf="loginForm.controls.password.errors?.usernamePwWrong">{{ 'pages.login.login-div.login-form.password.errors.usernamePwWrong' | translate }}</mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" class="option-btn login-button" [disabled]="!loginForm.valid">{{ 'pages.login.login-div.login-form.login-button' | translate }}</button>
      </div>
    </form>
    <div id="social-login" *ngIf="showLogin">
      <div id="seperator">
        <div class="first-line"></div>
        <span class="categrory-title">{{ 'pages.login.login-div.social-login.seperator' | translate }}</span>
        <div class="second-line"></div>
      </div>
      <div id="social-media-login" class="d-flex flex-column">
        <!-- <a (click)="signInWithFacebook()" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> כניסה עם Facebook
        </a> -->
        <!-- <a (click)="signInWithGoogle()" class="google btn">
          <i class="fa fa-google fa-fw"></i> כניסה עם Google
        </a> -->
        <div class="google-btn" (click)="signInWithGoogle()">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="../../../../../assets/icons/Google_G_Logo.svg"/>
          </div>
          <p class="btn-text"><b>{{ 'pages.login.login-div.social-login.social-media-login.google-btn' | translate }}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div id="forgotPasswordForm" [hidden]="!showForgotPw">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>{{ 'pages.login.forgotPasswordForm.form.username.label' | translate }}</mat-label>
          <input autocomplete="email" formControlName="username" matInput inputmode="email"
            (focusout)="trimSpacesEmail(forgotPasswordForm, 'username')">
          <mat-error *ngIf="forgotPasswordForm.controls.username.errors?.userNotFound">{{ 'pages.login.forgotPasswordForm.form.username.errors.userNotFound' | translate }}</mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls.username.errors?.limitExceeded">{{ 'pages.login.forgotPasswordForm.form.username.errors.LimitExceededException' | translate }}</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.email">{{ 'pages.login.forgotPasswordForm.form.username.errors.email' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="newPasswordPhase">
          <mat-label>{{ 'pages.login.forgotPasswordForm.form.confirmationCode.label' | translate }}</mat-label>
          <input autocomplete="one-time-code" formControlName="confirmationCode" matInput>
          <mat-error *ngIf="forgotPasswordForm.controls.confirmationCode.errors?.codeMismatch"> {{ 'pages.login.forgotPasswordForm.form.confirmationCode.errors.codeMismatch' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="newPasswordPhase">
          <mat-label>{{ 'pages.login.forgotPasswordForm.form.newPassword.label' | translate }}</mat-label>
          <input autocomplete="new-password" formControlName="newPassword" matInput
            [type]="hidePW ? 'password' : 'text'">
          <mat-hint>{{ 'pages.login.forgotPasswordForm.form.newPassword.hint' | translate }}</mat-hint>
          <mat-error *ngIf="forgotPasswordForm.controls.newPassword.errors?.badPassword">{{ 'pages.login.forgotPasswordForm.form.newPassword.errors.badPassword' | translate }}</mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a *ngIf="confirmCodeSent" class="underlineHover" id="not-receive-code" style="cursor: pointer;"
          (click)="forgotPasswordVarifyEmail()">{{ 'pages.login.forgotPasswordForm.form.not-receive-code' | translate }}</a>
        <button *ngIf="!newPasswordPhase" type="submit" class="option-btn login-button"
          [disabled]="!forgotPasswordForm.valid">{{ 'pages.login.forgotPasswordForm.form.submit-button.submit-button' | translate }}</button>
        <span id="confirmation-code-info" *ngIf="!newPasswordPhase">{{ 'pages.login.forgotPasswordForm.form.confirmation-code-info' | translate }}</span>
        <button *ngIf="newPasswordPhase" type="submit" class="option-btn login-button"
          [disabled]="!forgotPasswordForm.valid">{{ 'pages.login.forgotPasswordForm.form.submit-button.save-new-password' | translate }}</button>
      </div>
    </form>
  </div>

  <!-- <app-pw-challange *ngIf="showPwChallange" [userData]="userData" [oldPw]="loginForm.controls.password.value"></app-pw-challange> -->

  <div id="confirmForm" [hidden]="!showConfirmUser">
    <form [formGroup]="confirmForm" (ngSubmit)="onConfirmSubmit()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>{{ 'pages.login.confirmForm.form.username.label' | translate }}</mat-label>
          <input autocomplete="email" formControlName="username" matInput color="primary" inputmode="email"
            (focusout)="trimSpacesEmail(confirmForm, 'username')">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'pages.login.confirmForm.form.confirmationCode.label' | translate }}</mat-label>
          <input autocomplete="one-time-code" formControlName="confirmationCode" matInput color="primary"
            inputmode="numeric" (focusout)="trimSpacesEmail(confirmForm, 'confirmationCode')">
          <mat-error *ngIf="confirmForm.controls.confirmationCode.errors?.CodeMismatchException">{{ 'pages.login.confirmForm.form.confirmationCode.errors.CodeMismatchException' | translate }}</mat-error>
          <mat-error *ngIf="confirmForm.controls.confirmationCode.errors?.LimitExceededException">{{ 'pages.login.confirmForm.form.confirmationCode.errors.LimitExceededException' | translate }}</mat-error>
        </mat-form-field>
        <a *ngIf="confirmCodeSent" class="underlineHover" id="not-receive-code" style="cursor: pointer;"
          (click)="sendConfirmationCode()"> {{ 'pages.login.confirmForm.form.not-receive-code' | translate }}  </a>
        <button type="submit" class="option-btn login-button" [disabled]="!confirmForm.valid">{{ 'pages.login.confirmForm.form.submit-button' | translate }} </button>
      </div>
    </form>
  </div>
  <!-- <mat-progress-bar [ngStyle]="{'visibility': showLoading ? 'visible' : 'hidden'}" mode="query"></mat-progress-bar> -->
  <br>
  <mat-divider></mat-divider>
  <br>
  <div id="formFooter">
    <div class="footerLogin" *ngIf="showLogin">
      <a class="underlineHover" style="cursor: pointer;" *ngIf="showLogin"
        (click)="moveToRegisterForm(); loginForm.reset()">{{ 'pages.login.formFooter.footerLogin.firstTime' | translate }}</a>
      <a class="underlineHover" style="cursor: pointer;" *ngIf="showLogin"
        (click)="showForgotPasswordForm(); loginForm.reset()">{{ 'pages.login.formFooter.footerLogin.forgotPassword' | translate }}</a>
    </div>
    <a class="underlineHover" style="cursor: pointer;" *ngIf="!showLogin"
      (click)="showLoginForm(); forgotPasswordForm.reset(); confirmForm.reset(); hidePW=true;">{{ 'pages.login.formFooter.back' | translate }}</a>
  </div>
</div>
