<div id="content">
  <div class="d-flex" id="login-div" [hidden]="!showLogin">
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" *ngIf="showLogin">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>אימייל</mat-label>
          <input autocomplete="off" formControlName="username" matInput color="primary">
          <mat-error *ngIf="loginForm.controls.username.errors?.userNotConfirmed">משתמש לא אומת. יש להכנס למייל ולאמת
            משתמש על מנת להתחבר</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.userNotFound">משתמש לא קיים</mat-error>
          <mat-error *ngIf="loginForm.controls.username.errors?.LimitExceededException">יותר מדי נסיונות איפוס. יש
            להמתין ולנסות שוב בהמשך
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>סיסמא</mat-label>
          <input autocomplete="off" formControlName="password" matInput [type]="hidePW ? 'password' : 'text'">
          <mat-error *ngIf="loginForm.controls.password.errors?.usernamePwWrong">שם משתמש או סיסמא לא נכונים</mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" class="option-btn login-button" [disabled]="!loginForm.valid">התחבר</button>
      </div>
    </form>
    <!--
    <div id="social-media-login" class="d-flex flex-column" *ngIf="showLogin">
      <a (click)="signInWithFacebook()" class="fb btn">
        <i class="fa fa-facebook fa-fw"></i> כניסה עם Facebook
      </a>
      <a (click)="signInWithGoogle()" class="google btn">
        <i class="fa fa-google fa-fw"></i> כניסה עם Google
      </a>
    </div>-->
  </div>

  <div id="forgotPasswordForm" [hidden]="!showForgotPw">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordSubmit()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>אימייל</mat-label>
          <input autocomplete="off" formControlName="username" matInput>
          <mat-error *ngIf="forgotPasswordForm.controls.username.errors?.userNotFound">משתמש לא קיים</mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls.username.errors?.limitExceeded">יותר מדי נסיונות. יש
            להמתין
            ולנסות שוב בהמשך</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="newPasswordPhase">
          <mat-label>(נשלח לאימייל) קוד אימות</mat-label>
          <input autocomplete="off" formControlName="confirmationCode" matInput>
          <mat-hint>נשלח קוד אימות למייל</mat-hint>
          <mat-error *ngIf="forgotPasswordForm.controls.confirmationCode.errors?.codeMismatch">קוד אימות שגוי
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="newPasswordPhase">
          <mat-label>סיסמא חדשה</mat-label>
          <input autocomplete="off" formControlName="newPassword" matInput [type]="hidePW ? 'password' : 'text'">
          <mat-hint>8 ספרות לפחות, חייב להכיל ספרה, אות קטנה ואות גדולה (באנגלית)</mat-hint>
          <mat-error *ngIf="forgotPasswordForm.controls.newPassword.errors?.badPassword">סיסמא לא חוקית, נסו שנית
          </mat-error>
          <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <a class="underlineHover" id="not-receive-code" style="cursor: pointer;"
          (click)="forgotPasswordVarifyEmail()">לא
          קיבלתם קוד? לחצו כאן לקבלת קוד נוסף</a>
        <button *ngIf="!newPasswordPhase" type="submit" class="option-btn login-button"
          [disabled]="!forgotPasswordForm.valid">קבל קוד אימות למייל</button>
        <button *ngIf="newPasswordPhase" type="submit" class="option-btn login-button"
          [disabled]="!forgotPasswordForm.valid">שמור סיסמא חדשה</button>
      </div>
    </form>
  </div>

  <!-- <app-pw-challange *ngIf="showPwChallange" [userData]="userData" [oldPw]="loginForm.controls.password.value"></app-pw-challange> -->

  <div id="confirmForm" [hidden]="!showConfirmUser">
    <form [formGroup]="confirmForm" (ngSubmit)="onConfirmSubmit()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>אימייל</mat-label>
          <input autocomplete="off" formControlName="username" matInput color="primary">
        </mat-form-field>
        <mat-form-field>
          <mat-label>(נשלח לאימייל) קוד אימות</mat-label>
          <input autocomplete="off" formControlName="confirmationCode" matInput color="primary">
          <mat-error *ngIf="confirmForm.controls.confirmationCode.errors?.CodeMismatchException">קוד לא תואם לקוד שנשלח,
            נסו שנית</mat-error>
          <mat-error *ngIf="confirmForm.controls.confirmationCode.errors?.LimitExceededException">יותר מדי נסיונות. יש
            להמתין ולנסות שוב בהמשך
          </mat-error>
        </mat-form-field>
        <a class="underlineHover" id="not-receive-code" style="cursor: pointer;" (click)="sendConfirmationCode()">לא
          קיבלתם קוד? לחצו כאן לקבלת קוד נוסף</a>
        <button type="submit" class="option-btn login-button" [disabled]="!confirmForm.valid">אמת משתמש</button>
      </div>
    </form>
  </div>
  <!-- <mat-progress-bar [ngStyle]="{'visibility': showLoading ? 'visible' : 'hidden'}" mode="query"></mat-progress-bar> -->
  <br>
  <mat-divider></mat-divider>
  <br>
  <div id="formFooter">
    <a class="underlineHover" style="cursor: pointer;" *ngIf="showLogin"
      (click)="showForgotPasswordForm(); loginForm.reset()">שכחת
      סיסמא?</a>
    <a class="underlineHover" style="cursor: pointer;" *ngIf="!showLogin"
      (click)="showLoginForm(); forgotPasswordForm.reset(); confirmForm.reset(); hidePW=true;">התחברות</a>
  </div>
</div>