* {
  direction: rtl;
}

amplify-authenticator {
  position: absolute;
  top: 0;
  width: 100%;
}

/* amplify-sign-up {
  position: absolute;
  top: 12vh;
} */

amplify-authenticator,
amplify-forgot-password,
amplify-confirm-sign-up,
amplify-sign-up,
amplify-sign-in {
  z-index: 2000;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#logo-div {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

#logo {
  width: 23%;
}

.closeLoginButton {
  position: absolute;
  z-index: 2001;
  top: 22%;
  left: 62%;
}
