* {
  direction: rtl;
}

amplify-authenticator {
  position: fixed;
  top: 0;
  width: 100%;
}

/* amplify-sign-up {
  position: absolute;
  top: 12vh;
} */

amplify-authenticator,
amplify-forgot-password,
amplify-confirm-sign-up,
amplify-sign-up,
amplify-sign-in {
  z-index: 2000;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#logo-div {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

#logo {
  width: 23%;
}

.closeLoginButton {
  position: fixed;
  z-index: 2001;
}

@media screen and (min-width: 1400px) {
  .sign-in {
    top: 23%;
    left: 62%;
  }
  
  .sign-up {
    top: 12%;
    left: 62%;
  }
  
  .forgot-password {
    top: 30%;
    left: 62%;
  }
}

@media screen and (min-width: 1600px) {
  .sign-in {
    top: 28%;
    left: 59%;
  }
  
  .sign-up {
    top: 20%;
    left: 59%;
  }
  
  .forgot-password {
    top: 35%;
    left: 59%;
  }
}


