<div class="sm:mt-32 mt-8 flex flex-col justify-center items-center">
    <div class=" sm:text-4xl text-2xl text-center font-bold">
        כל כך הרבה ערכות, <br>
        כל כך מעט זמן
    </div>

    <div class=" justify-center text-center mt-8 sm:w-[35vw] w-full font-bold">
        את האוכל שלנו רובנו מזמינים דרך אפליקציה, את הספרים קוראים בדיגיטל. זה היה רק ענין של זמן עד שקלפי טיפול
        השלכתיים יצטרפו לאופן שבו אנחנו אוהבים לצרוך את המוצרים שלנו, ויעלו לאון ליין. <br>
        מנטור-קארדס הוא גן עדן דיגיטלי עבורכם - אינספור ערכות קלפים, הדרכות והשראה במגוון עדכני שמתאים לכל אחד מהלקוחות
        או המטרות שלכם. <br>
        רק להתחבר לנייד, למחשב או לטאבלט מכל מקום בארץ או בעולם ולהנות מחוויית משתמש ידידותית וקלה שכבר כן הכרתם! פשוט
        אולי עדין לא בקלפים...
    </div>

    <div class="flex justify-center gap-8 mt-10 sm:flex-row flex-col">
        <div class="text-center">
            <div class="text-6xl font-bold gradient-text">+40</div>
            <div class="text-lg font-extrabold">ערכות <br>
                קלפים</div>
        </div>

        <div class="text-center">
            <div class="text-6xl font-bold gradient-text">+5700</div>
            <div class="text-lg font-extrabold">משתמשים <br>
                באתר</div>
        </div>

        <div class="text-center">
            <div class="text-6xl font-bold gradient-text">+300</div>
            <div class="text-lg font-extrabold">רעיונות <br>
                לשימוש בקלפים</div>
        </div>
    </div>

</div>