<div id="content">
  <div *ngIf="!mobile" id="filters" class="float-right d-flex flex-column">
    <h1 style="text-align: center;">סינון וחיפוש</h1>
    <h3 id="filter-by-options-title">חיפוש</h3>
    <mat-form-field>
      <mat-label>הקלד מילת מפתח, נושא...</mat-label>
      <input #filterText matInput type="text" autocomplete="off" [(ngModel)]="freeTextFilterSelected"
        (keyup)="filterPacks()">
      <button mat-button [ngStyle]="{'visibility': filterText.value ? 'visible' : 'hidden'}" matSuffix mat-icon-button
        aria-label="Clear" (click)="freeTextFilterSelected = ''; filterPacks()">
        <mat-icon style="font-family: 'Material Icons';">close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <h3 id="filter-by-options-title">קטגוריות</h3>
    <mat-selection-list #categories (selectionChange)="categoriesSelectedChange($event); filterPacks()">
      <mat-list-option disableRipple style="direction: ltr;"
        *ngFor="let category of allCategories|slice:0:categoriesToShow"
        [selected]="selectedCategories.includes(category)" [value]="category">
        {{category}}
      </mat-list-option>
      <button *ngIf="allCategories.length >= 5" id="more-less-categories-button" (click)="categoriesToShowChange()">
        <mat-icon class="more-less-categories-icon" *ngIf="categoriesToShow < allCategories.length">expand_more
        </mat-icon>
        <mat-icon class="more-less-categories-icon" *ngIf="categoriesToShow >= allCategories.length">expand_less
        </mat-icon>
      </button>
    </mat-selection-list>
    <br>
    <h3 id="filter-by-options-title">המועדפים שלי</h3>
    <mat-selection-list #favorites (selectionChange)="favoritesSelectedChange($event); filterPacks()">
      <mat-list-option disableRipple style="direction: ltr;" *ngFor="let fav of getAllFavoritesDesc()"
        [selected]="selectedFavorites.includes(fav)" [value]="fav">
        {{fav}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="all-packs-view">
    <h1 style="text-align: center; margin-left: 14rem;">הערכות שלך</h1>
    <div class="d-flex flex-row flex-wrap">
      <app-pack *ngFor="let packInfo of allOwnedPacks()" [packInfo]="packInfo" (loaded)="packLoaded()">
      </app-pack>
    </div>
    <h1 style="text-align: center; margin-left: 14rem;">הערכות שלנו</h1>
    <div class="d-flex flex-row flex-wrap">
      <app-pack *ngFor="let packInfo of allNotOwnedPacks()" [packInfo]="packInfo" (loaded)="packLoaded()">
      </app-pack>
    </div>
  </div>
</div>
