* {
  font-family: 'rubik' !important;
  font-size: inherit;
}

.more-less-categories-icon {
  font-size: 1.5rem;
  font-family: 'Material Icons';
  /* cursor: pointer; */
}

.all-packs-view {
  display: flex;
  flex-direction: column;
}

#more-less-categories-button {
  border-style: none;
  background: #f8f9fa;
}

button:focus {
  outline: none;
}

#content {
  margin-top: 1rem;
}

app-pack {
  margin: 5px 20px;
  /* margin: 15px 25px; */
}

/* app-pack:last-child {
  margin-bottom: 25px;
} */

#filters {
  position: sticky;
  top: 10%;
  max-width: 25vw;
  word-break: keep-all;
  margin-left: 10px;
  margin-bottom: 1rem;
  /* height: 88vh; */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 10px;
}

#filter-by-text {
  text-align: right;
  margin: 0px 10px 0px 0px;
}

#filter-by-options-title {
  text-align: right;
  margin: 5px 10px 0px 0px;
  font-weight: 700;
}

:host ::ng-deep .mat-list-item-content {
  /* padding-right: 10px; */
  text-align: right;
}

mat-form-field {
  text-align: right;
  margin-right: 10px;
  margin-left: 10px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 35px;
}

#couponCodeBtn {
  width: 90%;
  align-self: center;
  min-height: 2rem;
  font-size: larger;
  border-radius: 5px;
  background: #ffa800;
  color: white;
  border: none;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#choose-program-link {
  text-decoration: underline;
  color: black;
}

#choose-program-link:hover {
  color: #ffa800;
}

h1 {
  margin-bottom: 0px;
}

.category {
  margin-top: 5% !important;
}

.category-color-dot {
  font-size: 12px;
  font-family: 'Material Icons'
    /* margin-right: -10px;
  margin-bottom: -4px; */
}

.categrory-title {
  text-align: center;
  margin-block-end: -5px;
  font-size: 1.5EM;
  font-weight: 600;
  color: #ffa800;
  transition: transform 0.5s;
}

.first-line,
.second-line {
  background-color: #ffa800;
  width: 35%;
  height: 5px;
  border-radius: 100%;
  /* transition: transform 0.5s, scale 1s; */
}

.all-packs-view__section {
  margin-bottom: 1%;
}

.category-line {
  width: 100%;
}

/* .category-line:hover>.first-line {
  transform: translateX(-15px) scaleX(1.1);
}

.category-line:hover>.second-line {
  transform: translateX(15px) scaleX(1.1);
} */

.category-line:hover>.categrory-title {
  transform: scale(1.2);
}

::ng-deep .mat-list-text {
  direction: rtl;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  #filters {
    display: none;
  }

  .card-section {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  app-pack {
    margin: 5px 6px;
  }

  .category-line:hover>.categrory-title {
    transform: none;
  }

  .first-line,
  .second-line {
    width: 25%;
  }
}
