<title>Mentor-Cards כל ערכות הקלפים</title>
<div id="content">
  <div *ngIf="!mobile" id="filters" class="float-right d-flex flex-column">
    <button id="couponCodeBtn" type="button" (click)="navigate('/no-program-page')">יש לך קוד הטבה/קבוצה?</button>
    <h3 id="filter-by-options-title">חיפוש</h3>
    <mat-form-field>
      <mat-label>הקלד מילת מפתח, נושא...</mat-label>
      <input #filterText matInput type="text" autocomplete="off" [(ngModel)]="freeTextFilterSelected"
        (keyup)="filterPacks()">
      <button mat-button [ngStyle]="{'visibility': filterText.value ? 'visible' : 'hidden'}" matSuffix mat-icon-button
        aria-label="Clear" (click)="freeTextFilterSelected = ''; filterPacks()">
        <mat-icon style="font-family: 'Material Icons';">close</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <h3 id="filter-by-options-title">קטגוריות</h3>
    <mat-selection-list #categories (selectionChange)="categoriesSelectedChange($event); filterPacks()">
      <mat-list-option disableRipple style="direction: ltr;"
        *ngFor="let category of allCategories|slice:0:categoriesToShow"
        [selected]="selectedCategories.includes(category)" [value]="category">
        <!-- <span> -->
          {{category}}
        <!-- <div class="d-flex justify-content-end align-items-baseline category">
          <mat-icon class="category-color-dot" [style.color]="getCategoryColor(category)">
            circle
          </mat-icon>
        </div> -->
        <!-- </span> -->
      </mat-list-option>
      <!-- <button *ngIf="allCategories.length >= 5" id="more-less-categories-button" (click)="categoriesToShowChange()">
        <mat-icon class="more-less-categories-icon" *ngIf="categoriesToShow < allCategories.length">expand_more
        </mat-icon>
        <mat-icon class="more-less-categories-icon" *ngIf="categoriesToShow >= allCategories.length">expand_less
        </mat-icon>
      </button> -->
    </mat-selection-list>
    <br>
    <h3 id="filter-by-options-title">המועדפים שלי</h3>
    <mat-selection-list #favorites (selectionChange)="favoritesSelectedChange($event); filterPacks()">
      <mat-list-option disableRipple style="direction: ltr;" *ngFor="let fav of getAllFavoritesDesc()"
        [selected]="selectedFavorites.includes(fav)" [value]="fav">
        <span style="direction: rtl;">{{fav}}</span>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <!-- <div class="all-packs-view" #old>
    <div *ngIf="allOwnedPacks().length != 0">
      <h1 *ngIf="signedIn && !trialMonthExpDate" style="text-align: center; margin-left: 14rem;">ערכות הקלפים שלי</h1>
      <h1 *ngIf="signedIn && trialMonthExpDate" style="text-align: center; margin-left: 14rem;">
        כל ערכות אלו לרשותכם עד ה- {{trialMonthExpDate | date:'d/M/yy'}}
      </h1>
      <div class="d-flex flex-row flex-wrap">
        <app-pack *ngFor="let packInfo of allOwnedPacks()" [packInfo]="packInfo" (loaded)="packLoaded()">
        </app-pack>
      </div>
    </div>
    <div *ngIf="allNotOwnedPacks().length != 0">
      <h1 style="text-align: center; margin-left: 14rem;">לכל ערכות הקלפים</h1>
      <h1 *ngIf="signedIn && !hasProgram && !trialMonthExpDate" style="text-align: center; margin-left: 14rem;">מקווים
        שהספקתם ליהנות מכל הערכות הקלפים שלנו! זה הזמן
        <a id="choose-program-link" class="clickable" (click)="navigate('/price-page')">לבחור תכנית</a>
      </h1>
      <h1 *ngIf="signedIn && hasProgram && allOwnedPacks().length == 0 && !trialMonthExpDate"
        style="text-align: center; margin-left: 14rem;">
        מקווים שהספקתם ליהנות מכל הערכות שלנו! זה הזמן לבחור את הערכות
        שלכם</h1>
      <div class="d-flex flex-row flex-wrap" style="margin-bottom: 20px;">
        <app-pack class="pack" *ngFor="let packInfo of allNotOwnedPacks()" [packInfo]="packInfo"
          (loaded)="packLoaded();" (packChange)="getAllPacks(); updateUserData();">
        </app-pack>
      </div>
    </div>
  </div> -->

  <div id="test" class="all-packs-view" #new>
    <div class="all-packs-view__section" *ngIf="allFavPacks.length != 0">
      <h3 class="caterory-title">מועדפים</h3>
      <div class="d-flex flex-row flex-wrap">
        <app-pack class="pack" *ngFor="let packInfo of allFavPacks" [packInfo]="packInfo" (loaded)="packLoaded();"
          (packChange)="getAllPacks(); updateUserData();">
        </app-pack>
      </div>
    </div>
    <div class="all-packs-view__section" *ngFor="let categoryPacks of allCategoryPacks">
      <h3 class="caterory-title">{{categoryPacks.category}}</h3>
      <div class="d-flex flex-row flex-wrap">
        <app-pack class="pack" *ngFor="let packInfo of categoryPacks.packs" [packInfo]="packInfo"
          (loaded)="packLoaded();" (packChange)="getAllPacks(); updateUserData();">
        </app-pack>
      </div>
    </div>
  </div>
</div>

<app-information-bar></app-information-bar>