* {
  font-family: 'rubik';
  /* font-size: 1rem; */
}

h1,
h2 {
  font-family: 'rubik';
}

#introduction {
  text-align: center;
}

p {
  margin: 0 0 10px;
  font-size: 1.1rem;
}

.flower-img {
  opacity: 0;
  transition: opacity 2s;
  height: 30vw;
  margin-top: 1.5rem;
}

.flower-img:first-child {
  transform: rotateY(180deg);
}

.line {
  background-color: #ffa800;
  width: 80%;
  height: 3px;
  border-radius: 100%;
}

#about-text {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#about-text p {
  font-size: 1.5rem;
  line-height: 30px;
}

#about-content {
  margin-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person-bio {
  width: 33%;
  text-align: center;
  transition: transform 1s, line-height 1s
}

.person-bio:hover {
  transform: scale(1.05);
  line-height: 5rem;
}

.person-bio:hover>.people-img {
  border-radius: 30%;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.people-img {
  opacity: 0;
  width: 65%;
  border-radius: 50%;
  transition: border-radius 1s, box-shadow 1s, opacity 2s;
}

.bio-content {
  margin-top: 1rem;
}

.bio-content>h2 {
  font-size: 1.5rem;
}

.bio-content>p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  transition: line-height 0.5s
}

#introduction>p {
  line-height: 2rem;
  font-size: larger;
}

#last-line {
  color: #ff9a14;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 30px;
}

#introduction-partial {
  display: none;
}

.iframe-container {
  margin-top: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  align-self: center;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  border: 5px #ff9a14 solid;
  border-radius: 10px;
}

::ng-deep .mat-tab-label {
  height: 5px !important;
}

.clients-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1%;
  flex-wrap: wrap;
}

.client-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.client-logo {
  height: 150px;
}

/* .mat-tab-group {
  padding: 0 5%;
} */

::ng-deep mat-ink-bar {
  background-color: #ffcb7e !important;
}

@media screen and (max-width: 1024px) {
  .flower-img {
    display: none;
  }

  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 10%;
    z-index: -1;
    height: 50vh;
  }

  #about-content {
    margin-top: 2rem;
  }

  #introduction {
    max-width: 70vw;
  }

  #about-text {
    justify-content: center;
    margin-top: 3rem;
  }

  .person-bio {
    width: 450px;
  }

  .person-bio:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #introduction>p {
    line-height: 1.5rem;
    font-size: medium;
  }

  #introduction {
    max-width: 80vw;
  }

  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 15%;
    z-index: -1;
    height: 50vh;
  }

}


@media screen and (max-width: 480px) {
  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 25%;
    z-index: -1;
    height: 50vh;
  }

  #introduction-full {
    display: none;
  }

  #introduction-partial {
    display: inherit;
  }

  #introduction {
    margin-bottom: 1.5rem;
  }

  .client-logo {
    height: 150px;
    padding: 1% 0;
  }
}
