<title>Mentor-Cards עמוד עלינו</title>
<div id="about-text">
  <img onload="this.style.opacity='1'" src="../../../assets/flowers.png" class="flower-img">
  <div id="introduction" class="d-flex justify-content-center flex-column">
    <h1>קצת עלינו...</h1>
    <p>אנחנו בMentor-Cards מאמינים שתהליכי התבוננות, גדילה והתפתחות צריכים להתקיים בצורה הטובה ביותר
      <br>
      בתלות מינימלית בסביבה ובמציאות המשתנה.<br>
      שנת 2020 תיזכר כשנה ששינתה סידרי עולם בכל כך הרבה מובנים.<br>
      חווינו מהי התכנסות פנימה, ופעלנו איך שידענו בתנאים הבלתי ידועים שנוצרו בסביבתנו.<br>
      התאמנו את עצמנו לעולם החדש. המשכנו לאמן ולטפל, והפעם מול המסכים.<br>
      מתוך המקום הזה, בזמן הזה ובחשיבה משותפת של בכירי המאמנים בארץ ומומחי הקלפים - הקמנו את Mentor-Cards.<br>
      Mentor-Cards היא פלטפורמה ידידותית לעבודה עם קלפים בפגישות דיגיטליות ופרונטליות<br>
      תוך שימת דגש על חווית משתמש מיטבית.<br>
      קלפים הם בין הכלים הכי עוצמתיים בעולמות האימון והטיפול.<br>
      קלפים מקלפים, עוקפי תת מודע, פותחים ומפתחים.<br>
      קלפים עוזרים לנו כמובילי התהליך המקצועי לחדד ולדייק את הדרך המתאימה ביותר ללקוח שלנו.<br><br>
      העולם משתנה ומתפתח ואנחנו בחרנו לגדול יחד איתו.<br>
      אנחנו שמחים שבחרתם לגדול ביחד איתנו.<br>
      <span id="last-line">צוות Mentor-Cards</span>
    </p>
  </div>
  <img onload="this.style.opacity='1'" src="../../../assets/flowers.png" class="flower-img">
</div>
<div id="about-content">
  <div class="person-bio">
    <img onload="this.style.opacity='1'" src="../../../assets/About images/Dudi-sqr.jpg" class="people-img">
    <div class="bio-content">
      <h2>קצת עלי...</h2>
      <p>
        דודי נאמן
        <br>
        מייסד שותף ומנהל פיתוח טכני
        <br>
        בן 34 ממיתר
        <br>
        מהנדס תוכנה M.Sc וEMBA במנהל עסקים.
        <br>
        איש משפחה, יזם, אופטימיסט ומאמן לביצועים גבוהים.
      </p>
    </div>
  </div>
  <div class="person-bio">
    <img onload="this.style.opacity='1'" src="../../../assets/About images/yarden-sqr.jpg" class="people-img">
    <div class="bio-content">
      <h2>קצת עלי...</h2>
      <p>
        ירדן סטמפו
        <br>
        מייסדת שותפה ומנהלת תוכן מקצועי
        <br>
        בת 34 מרמת גן
        <br>
        מאמנת ומפתחת אנשים וארגונים.
        <br>
        MBA במנהל עסקים, מנחת קבוצות, וסופרווז'רית למאמנים.
        <br>
        רב גונית, אמיצה, נאמנה לטוב, נושמת עמוק.
      </p>
    </div>
  </div>
  <div class="person-bio">
    <img onload="this.style.opacity='1'" src="../../../assets/About images/yaniv.jpg" class="people-img">
    <div class="bio-content">
      <h2>קצת עלי...</h2>
      <p>
        יניב קנובל
        <br>
        מפתח ומעצב
        <br>
        בן 28 מבאר שבע
        <br>
        מהנדס מערכות תוכנה ומידע B.Sc
        <br>
        חובב בישול, צילום, טכנולוגיה וטבע
      </p>
    </div>

  </div>
</div>

<app-information-bar></app-information-bar>