<title>Mentor-Cards עמוד עלינו</title>
<div id="about-text">
  <img
    onload="this.style.opacity='1'"
    src="../../../assets/flowers.png"
    class="flower-img"
    alt="Decorative flowers"
  />
  <div id="introduction" class="d-flex justify-content-center flex-column">
    <div id="introduction-full">
      <p>
        אנחנו בMentor-Cards מאמינים שתהליכי התבוננות, גדילה והתפתחות צריכים
        להתקיים בצורה הטובה ביותר
        <br />
        בתלות מינימלית בסביבה ובמציאות המשתנה.<br />
        שנת 2020 תיזכר כשנה ששינתה סידרי עולם בכל כך הרבה מובנים.<br />
        חווינו מהי התכנסות פנימה, ופעלנו איך שידענו בתנאים הבלתי ידועים שנוצרו
        בסביבתנו.<br />
        התאמנו את עצמנו לעולם החדש. המשכנו לאמן ולטפל, והפעם מול המסכים.<br />
        מתוך המקום הזה, בזמן הזה ובחשיבה משותפת של בכירי המאמנים בארץ ומומחי
        הקלפים - הקמנו את Mentor-Cards.<br />
        Mentor-Cards היא פלטפורמה ידידותית לעבודה עם קלפים בפגישות דיגיטליות
        ופרונטליות<br />
        תוך שימת דגש על חווית משתמש מיטבית.<br />
        קלפים הם בין הכלים הכי עוצמתיים בעולמות האימון והטיפול.<br />
        קלפים מקלפים, עוקפי תת מודע, פותחים ומפתחים.<br />
        קלפים עוזרים לנו כמובילי התהליך המקצועי לחדד ולדייק את הדרך המתאימה
        ביותר ללקוח שלנו.<br /><br />
        העולם משתנה ומתפתח ואנחנו בחרנו לגדול יחד איתו.<br />
        אנחנו שמחים שבחרתם לגדול ביחד איתנו.<br />
      </p>
    </div>
    <div id="introduction-partial">
      <p>
        Mentor-Cards היא פלטפורמה ידידותית לעבודה עם קלפים בפגישות דיגיטליות
        ופרונטליות <br />
        תוך שימת דגש על חווית משתמש מיטבית. <br />
        קלפים הם בין הכלים הכי עוצמתיים בעולמות האימון והטיפול. <br />
        קלפים מקלפים, עוקפי תת מודע, פותחים ומפתחים. <br />
        קלפים עוזרים לנו כמובילי התהליך המקצועי לחדד ולדייק את הדרך המתאימה
        ביותר ללקוח שלנו. <br />
        העולם משתנה ומתפתח ואנחנו בחרנו לגדול יחד איתו.<br />
        אנחנו שמחים שבחרתם לגדול ביחד איתנו.<br />
      </p>
    </div>
    <span id="last-line">צוות Mentor-Cards</span>
  </div>
  <img
    onload="this.style.opacity='1'"
    src="../../../assets/flowers.png"
    class="flower-img"
    alt="Decorative flowers"
  />
</div>
<div id="about-content">
  <div class="person-bio">
    <img
      onload="this.style.opacity='1'"
      src="../../../assets/About images/Dudi-sqr.jpg"
      class="people-img"
      alt="Mentor-cards founders headshot, Dudi Naaman"
    />
    <div class="bio-content">
      <p>
        דודי נאמן
        <br />
        מייסד שותף ומנהל פיתוח טכני
        <br />
        בן 35 ממיתר
        <br />
        מהנדס תוכנה M.Sc וEMBA במנהל עסקים.
        <br />
        איש משפחה, יזם, אופטימיסט ומאמן לביצועים גבוהים.
      </p>
    </div>
  </div>
  <div class="person-bio">
    <img
      onload="this.style.opacity='1'"
      src="../../../assets/About images/yarden-sqr.jpg"
      class="people-img"
      alt="Mentor-cards founders headshot, Yarden Stempo"
    />
    <div class="bio-content">
      <p>
        ירדן סטמפו
        <br />
        מייסדת שותפה ומנהלת תוכן מקצועי
        <br />
        בת 35 מרמת גן
        <br />
        מאמנת ומפתחת אנשים וארגונים.
        <br />
        MBA במנהל עסקים, מנחת קבוצות, וסופרווז'רית למאמנים.
        <br />
        רב גונית, אמיצה, נאמנה לטוב, נושמת עמוק.
      </p>
    </div>
  </div>
  <div class="person-bio">
    <img
      onload="this.style.opacity='1'"
      src="../../../assets/About images/yaniv.jpg"
      class="people-img"
      alt="Mentor-cards founders headshot, Yaniv Knobel"
    />
    <div class="bio-content">
      <p>
        יניב קנובל
        <br />
        מפתח ומעצב
        <br />
        בן 29 מבאר שבע
        <br />
        מהנדס מערכות תוכנה ומידע B.Sc
        <br />
        חובב בישול, צילום, טכנולוגיה וטבע
      </p>
    </div>
  </div>
</div>

<!-- <div class="d-flex flex-column align-items-center">
  <h1>לקוחות ושיתופי פעולה</h1>
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedIndex" animationDuration="1000ms">
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/maccabi.png"
          alt="Client logo PNG"></div>
    </mat-tab>
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/lishka.png"
          alt="Client logo PNG"></div>
    </mat-tab>
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/logos.png"
          alt="Client logo PNG"></div>
    </mat-tab>
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/merchaz.jpg"
          alt="Client logo PNG"></div>
    </mat-tab>
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/tnoofa.png"
          alt="Client logo PNG"></div>
    </mat-tab>
    <mat-tab label="">
      <div class="client-logo-container"><img class="client-logo" src="../../../assets/About images/Clients/yozmot.png"
          alt="Client logo PNG"></div>
    </mat-tab>
  </mat-tab-group>
</div> -->

<div class="d-flex flex-column align-items-center">
  <h1>לקוחות ושיתופי פעולה</h1>
  <div class="line"></div>
  <br />
  <div class="clients-container">
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/maccabi.png"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/lishka.png"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/logos.png"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/merchaz.jpg"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/tnoofa.png"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/yozmot.png"
      alt="Client logo PNG"
    />
    <img
      class="client-logo"
      src="../../../assets/About images/Clients/standard_logo_transparent.png"
      alt="Client logo PNG"
    />
  </div>
</div>

<!-- <app-fb-chat></app-fb-chat> -->

<app-information-bar></app-information-bar>
