* {
  font-family: 'rubik';
  font-size: 1rem;
  direction: rtl;
}

h1,
h2 {
  font-family: 'rubik';
}

#introduction {
  text-align: center;
}

p {
  margin: 0 0 10px;
}

.flower-img {
  opacity: 0;
  transition: opacity 2s;
  height: 30vw;
  margin-top: 1.5rem;
}

.flower-img:first-child {
  transform: rotateY(180deg);
}

#about-text {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

#about-content {
  margin-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person-bio {
  width: 33%;
  text-align: center;
  transition: transform 1s, line-height 1s
}

.person-bio:hover {
  transform: scale(1.1);
  line-height: 5rem;
}

.person-bio:hover>.people-img {
  border-radius: 30%;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.people-img {
  opacity: 0;
  width: 65%;
  border-radius: 50%;
  transition: border-radius 1s, box-shadow 1s, opacity 2s;
}

.bio-content {
  margin-top: 1rem;
}

.bio-content>h2 {
  font-size: 1.5rem;
}

.bio-content>p {
  font-size: 1rem;
  line-height: 1.5rem;
  transition: line-height 0.5s
}

#introduction>p {
  line-height: 2rem;
  font-size: larger;
}

#last-line {
  font-size: larger;
  color: #ff9a14;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .flower-img {
    display: none;
  }

  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 10%;
    z-index: -1;
    height: 50vh;
  }

  #about-content {
    margin-top: 2rem;
  }

  #introduction {
    max-width: 70vw;
  }

  #about-text {
    justify-content: center;
    margin-top: 3rem;
  }

  .person-bio {
    width: 450px;
  }

  .person-bio:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #introduction>p {
    line-height: 1.5rem;
    font-size: medium;
  }

  #introduction {
    max-width: 80vw;
  }

  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 15%;
    z-index: -1;
    height: 50vh;
  }

}


@media screen and (max-width: 480px) {
  .flower-img:first-child {
    display: inherit;
    position: absolute;
    opacity: 0.2 !important;
    top: 25%;
    z-index: -1;
    height: 50vh;
  }
}
