<div class="cards-carousel">
  <!-- <img *ngFor="let card of cards; let i = index" [attr.id]="'img_' + i" class="card" src={{card}} alt="Preview photo"> -->
  <img #img id="img_0" class="active" src={{cards[0]}} alt="Preview photo">
  <img #img id="img_1" class="inactive" src={{cards[1]}} alt="Preview photo">
  <img #img id="img_2" class="inactive" src={{cards[2]}} alt="Preview photo">
</div>
<div class="dots">
    <a [ngClass]="{'curr-dot': currId === 0}" (click)="scrollTo($event, 0)"></a>
    <a [ngClass]="{'curr-dot': currId === 1}" (click)="scrollTo($event, 1)"></a>
    <a [ngClass]="{'curr-dot': currId === 2}" (click)="scrollTo($event, 2)"></a>
</div>