<title>Mentor-Cards עמוד הדרכה על שימוש באתר</title>
<h1 id="title">{{title}}</h1>
<div id="layout">
  <div id="buttons" class="d-flex flex-column">
    <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==1}" type="button"
      (click)="selectedTopicChanged(1, 'הוספת ערכת קלפים ל Mentor-cards')" mat-menu-item>הוספת ערכת קלפים ל
      Mentor-cards</button>
    <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==2}" type="button"
      (click)="selectedTopicChanged(2, 'יצירת ערכת קלפים דיגטלית באתר שלכם')" mat-menu-item>יצירת ערכת קלפים דיגטלית
      באתר שלכם</button>
    <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==3}" type="button"
      (click)="selectedTopicChanged(3, 'פיתוח ערכת קלפים דיגיטלית מקצה לקצה')" mat-menu-item>פיתוח ערכת קלפים דיגיטלית
      "מקצה לקצה"</button>
    <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==4}" type="button"
      (click)="selectedTopicChanged(4, 'הדרכות וסדנאות')" mat-menu-item>הדרכות וסדנאות</button>
  </div>
  <div id="line"></div>
  <div id="content">
    <div id="content1" *ngIf="selectedBtn===1">
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        לבעלי ערכות קלפים קיימות שרוצים ליצור גרסה דיגיטלית באתר Mentor-cards.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - הצוות שלנו יקרא את התוכן שלכם ויבצע התאמה לדיגיטל ברמה המקצועית (בהחלטה
          משותפת ובמידת הצורך).
        </li>
        <li>
          <b>יוזר פרימיום</b> - יוזר VIP ללא הגבלת זמן לאתר Mentor-cards המקנה שימוש בכל ערכות הקלפים באתר שלנו.
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים שלכם מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של
          מספר קלפים על המסך ועוד! את כל מה שאנחנו נפתח בעתיד לערכות הקלפים שלנו, נפתח גם עבורכם.
        </li>
        <li>
          <b> "על היוצר"</b> - הצגה אישית ועסקית בעמוד ערכת הקלפים באופן קבוע.
          חשיפה לכלל לקוחות Mentor-cards בהווה ובעתיד.
        </li>
        <li>
          <b>השקה ברשתות </b>- השקת ערכת הקלפים בקבוצת הפייסבוק, אינסטגרם, ודיוור יזום לכלל לקוחות Mentor-cards בעבר
          ובהווה.
          קהל יעד של אלפי מאמנים, מטפלים ומנחי קבוצות ייחשף לערכת הקלפים הדיגיטלית שלכם.
        </li>
        <li>
          <b>קישור לרכישה של ערכת הקלפים
          </b>- בפוסט ההשקה ובעמוד ערכת הקלפים באתר באופן קבוע יהיה קישור המפנה את הלקוחות לעמוד נבחר לרכישת ערכת הקלפים
          שלכם.
        </li>
      </ul>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content2" *ngIf="selectedBtn===2">
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        לבעלי ערכות קלפים קיימות שרוצים ליצור גרסה דיגיטלית באתר שלהם.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - הצוות שלנו יקרא את התוכן שלכם ויבצע התאמה לדיגיטל ברמה המקצועית (בהחלטה
          משותפת ובמידת הצורך).
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים שלכם מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של
          מספר קלפים על המסך ועוד!<br>
          נבצע התאמת גודל ותוכן לאתר שלכם ונספק שירות ותמיכה טכנית בכל מה שקשור לשימוש ותפעול ערכת הקלפים שלכם.
        </li>
        <li>
          <b>זכויות יוצרים</b> - זכויות היוצרים שייכות לכם, המוצר הסופי הוא 100% שלכם.
        </li>
        <li>
          <b>ממשק לקוח</b>- אנחנו נפגשים פעמיים - פגישת תיאום ציפיות בתחילת התהליך ופגישה לקראת סוף התהליך להצגת ערכת
          הקלפים שלכם בדיגיטל, שאלות שלנו ודגשים שלכם.
        </li>
      </ul>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content3" *ngIf="selectedBtn===3">
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        למי שעדיין אין ערכת קלפים ורוצה שתהיה לו!
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>יצירת ערכת קלפים "מאפס"</b> - אתם שולחים לנו דוגמאות ורעיונות שצברתם עד כה, אנחנו עובדים עם מאיירים
          מקצועיים שיהפכו עבורכם את הרעיון למוצר אמיתי!
        </li>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - נבחר יחד שם ייחודי לערכה, נכתוב את תיאור הערכה (כמו הצד האחורי של ספר),
          ואת גולת הכותרת - ספר ההדרכה של ערכת הקלפים להכוונה מלאה של קהל היעד שלכם.
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של מספר
          קלפים על המסך ועוד!
          כל היכולות מ"העולם האמיתי" בערכת הקלפים הדיגיטלית שלכם!
        </li>
        <li>
          <b>זכויות יוצרים</b> - זכויות היוצרים שייכות לכם, המוצר הסופי הוא 100% שלכם.
        </li>
        <li>
          <b>ממשק לקוח</b>- אנחנו נפגשים שלוש פעמים- פגישת תיאום ציפיות בתחילת התהליך, פגישת אמצע לדיוקים, שינויים
          והתאמות, פגישה לקראת סוף התהליך להצגת ערכת הקלפים שלכם בדיגיטל, שאלות שלנו ודגשים שלכם.
        </li>
      </ul>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content4" *ngIf="selectedBtn===4">
      <h2><b><u>שם הסדנא</u></b></h2>
      <p>
        כל מה שצריך לדעת על עבודה עם קלפים השלכתיים און ליין
      </p>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        מכללות ובתי ספר, מאמנים, מטפלים, אנשי חינוך, מנחי קבוצות ואנשים שעוסקים בעבודה עם אנשים.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          עקרונות מפתח בעבודה עם קלפים השלכתיים.
        </li>
        <li>
          מהן האפשרויות הקיימות לעבודה עם קלפים השלכתיים און ליין?
        </li>
        <li>
          מתי הכי מומלץ לשלב קלפים בתהליך הנחיה / אימון / טיפול?
        </li>
        <li>
          דוגמאות לשאלות וטכניקות עבודה עם קלפים און ליין.
        </li>
        <li>
          התנסות משותפת - מרגישים כמה עבודה עם קלפים משמעותית ועוצמתית.
        </li>
        <li>
          סוגי התנגדויות לעבודה עם קלפים ואופן התמודדות.
        </li>
      </ul>
      <p>משך הסדנא 3-5 שעות תלוי בכמות המשתתפים</p>
      <br>
      <div class="line"></div>
      <br>
      <h2><b><u>שם הסדנא</u></b></h2>
      <p>
        ערכים ככלי מחבר בין העובדים לארגון
      </p>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        ארגונים פרטיים וציבוריים, גופים מוסדיים השואפים ליצור חיבור בין הסגל הניהולי והעובדים לבין ערכי הליבה של הארגון
        בדרך יצירתית וחוויתית.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          הגדרת המושג ערך – מה זה ערך ולמה זה חשוב להכיר את הערכים המובילים שלי ושל הארגון בו אני עובד?
        </li>
        <li>
          היכרות פרטנית של כל עובד עם ערכיו וביסוס סולם הערכים הפרטי שלו.
        </li>
        <li>
          קבוצות חשיבה: מציאתם והגדרתם של 5 ערכי הליבה של הארגון בעזרת משחק קלפים (הכי קשה ששיחקתם).
        </li>
        <li>
          איך מחברים בין הערכים שמצאנו למטרה ולחזון של הארגון?
        </li>
        <li>
          מה עושים כשעובד/קולגה שלי פועל בניגוד לערכי?
        </li>
      </ul>
      <p>משך הסדנא 4-6 שעות תלוי בכמות המשתתפים</p>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card><br>
      <img src="../../../assets/class.png" class="class-img" alt="Class image">
    </div>
  </div>
  <img onload="this.style.opacity='1'" src="../../../assets/flowers.png" class="flower-img" alt="Decorative flowers">
  <!-- <img onload="this.style.opacity='1'" src="../../../assets/class.jpeg" class="flower-img" alt="Decorative image"> -->
</div>

<div id="accordion">
  <mat-accordion>
    <mat-expansion-panel (click)="selectedTopicChanged(1, 'הוספת ערכת קלפים ל Mentor-cards')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          הוספת ערכת קלפים ל Mentor-cards</mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        לבעלי ערכות קלפים קיימות שרוצים ליצור גרסה דיגיטלית באתר Mentor-cards.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - הצוות שלנו יקרא את התוכן שלכם ויבצע התאמה לדיגיטל ברמה המקצועית (בהחלטה
          משותפת ובמידת הצורך).
        </li>
        <li>
          <b>יוזר פרימיום</b> - יוזר VIP ללא הגבלת זמן לאתר Mentor-cards המקנה שימוש בכל ערכות הקלפים באתר שלנו.
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים שלכם מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של
          מספר קלפים על המסך ועוד! את כל מה שאנחנו נפתח בעתיד לערכות הקלפים שלנו, נפתח גם עבורכם.
        </li>
        <li>
          <b> "על היוצר"</b> - הצגה אישית ועסקית בעמוד ערכת הקלפים באופן קבוע.
          חשיפה לכלל לקוחות Mentor-cards בהווה ובעתיד.
        </li>
        <li>
          <b>השקה ברשתות </b>- השקת ערכת הקלפים בקבוצת הפייסבוק, אינסטגרם, ודיוור יזום לכלל לקוחות Mentor-cards בעבר
          ובהווה.
          קהל יעד של אלפי מאמנים, מטפלים ומנחי קבוצות ייחשף לערכת הקלפים הדיגיטלית שלכם.
        </li>
        <li>
          <b>קישור לרכישה של ערכת הקלפים
          </b>- בפוסט ההשקה ובעמוד ערכת הקלפים באתר באופן קבוע יהיה קישור המפנה את הלקוחות לעמוד נבחר לרכישת ערכת הקלפים
          שלכם.
        </li>
      </ul>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(2, 'יצירת ערכת קלפים דיגטלית באתר שלכם')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          יצירת ערכת קלפים דיגטלית באתר שלכם</mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        לבעלי ערכות קלפים קיימות שרוצים ליצור גרסה דיגיטלית באתר שלהם.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - הצוות שלנו יקרא את התוכן שלכם ויבצע התאמה לדיגיטל ברמה המקצועית (בהחלטה
          משותפת ובמידת הצורך).
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים שלכם מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של
          מספר קלפים על המסך ועוד!
          נבצע התאמת גודל ותוכן לאתר שלכם ונספק שירות ותמיכה טכנית בכל מה שקשור לשימוש ותפעול ערכת הקלפים שלכם.
        </li>
        <li>
          <b>זכויות יוצרים</b> - זכויות היוצרים שייכות לכם, המוצר הסופי הוא 100% שלכם.
        </li>
        <li>
          <b>ממשק לקוח</b>- אנחנו נפגשים פעמיים - פגישת תיאום ציפיות בתחילת התהליך ופגישה לקראת סוף התהליך להצגת ערכת
          הקלפים שלכם בדיגיטל, שאלות שלנו ודגשים שלכם.
        </li>
      </ul>
      לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(3, 'פיתוח ערכת קלפים דיגיטלית מקצה לקצה')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          פיתוח ערכת קלפים דיגיטלית "מקצה לקצה"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        למי שעדיין אין ערכת קלפים ורוצה שתהיה לו!
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          <b>יצירת ערכת קלפים "מאפס"</b> - אתם שולחים לנו דוגמאות ורעיונות שצברתם עד כה, אנחנו עובדים עם מאיירים
          מקצועיים שיהפכו עבורכם את הרעיון למוצר אמיתי!
        </li>
        <li>
          <b>התאמת תוכן ואסטרטגיה לדיגיטל</b> - נבחר יחד שם ייחודי לערכה, נכתוב את תיאור הערכה (כמו הצד האחורי של ספר),
          ואת גולת הכותרת - ספר ההדרכה של ערכת הקלפים להכוונה מלאה של קהל היעד שלכם.
        </li>
        <li>
          <b>דיגיטליזציה</b> - ערכת הקלפים מותאמת לדיגיטל - ערבוב, שליפת קלף אקראי, קלפים סמויים , גלויים, הצגה של מספר
          קלפים על המסך ועוד!
          כל היכולות מ"העולם האמיתי" בערכת הקלפים הדיגיטלית שלכם!
        </li>
        <li>
          <b>זכויות יוצרים</b> - זכויות היוצרים שייכות לכם, המוצר הסופי הוא 100% שלכם.
        </li>
        <li>
          <b>ממשק לקוח</b>- אנחנו נפגשים שלוש פעמים- פגישת תיאום ציפיות בתחילת התהליך, פגישת אמצע לדיוקים, שינויים
          והתאמות, פגישה לקראת סוף התהליך להצגת ערכת הקלפים שלכם בדיגיטל, שאלות שלנו ודגשים שלכם.
        </li>
      </ul>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(4, 'הדרכות וסדנאות')">
      <mat-expansion-panel-header>
        <mat-panel-title>
          הדרכות וסדנאות
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b><u>שם הסדנא</u></b></h2>
      <p>
        כל מה שצריך לדעת על עבודה עם קלפים השלכתיים און ליין
      </p>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        מכללות ובתי ספר, מאמנים, מטפלים, אנשי חינוך, מנחי קבוצות ואנשים שעוסקים בעבודה עם אנשים.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          עקרונות מפתח בעבודה עם קלפים השלכתיים.
        </li>
        <li>
          מהן האפשרויות הקיימות לעבודה עם קלפים השלכתיים און ליין?
        </li>
        <li>
          מתי הכי מומלץ לשלב קלפים בתהליך הנחיה / אימון / טיפול?
        </li>
        <li>
          דוגמאות לשאלות וטכניקות עבודה עם קלפים און ליין.
        </li>
        <li>
          התנסות משותפת - מרגישים כמה עבודה עם קלפים משמעותית ועוצמתית.
        </li>
        <li>
          סוגי התנגדויות לעבודה עם קלפים ואופן התמודדות.
        </li>
      </ul>
      <p>משך הסדנא 3-5 שעות תלוי בכמות המשתתפים</p>
      <h2><b><u>שם הסדנא</u></b></h2>
      <p>
        ערכים ככלי מחבר בין העובדים לארגון
      </p>
      <h2><b>למי זה מתאים?</b></h2>
      <p>
        ארגונים פרטיים וציבוריים, גופים מוסדיים השואפים ליצור חיבור בין הסגל הניהולי והעובדים לבין ערכי הליבה של הארגון
        בדרך יצירתית וחוויתית.
      </p>
      <h2><b>מה מקבלים?</b></h2>
      <ul>
        <li>
          הגדרת המושג ערך – מה זה ערך ולמה זה חשוב להכיר את הערכים המובילים שלי ושל הארגון בו אני עובד?
        </li>
        <li>
          היכרות פרטנית של כל עובד עם ערכיו וביסוס סולם הערכים הפרטי שלו.
        </li>
        <li>
          קבוצות חשיבה: מציאתם והגדרתם של 5 ערכי הליבה של הארגון בעזרת משחק קלפים (הכי קשה ששיחקתם).
        </li>
        <li>
          איך מחברים בין הערכים שמצאנו למטרה ולחזון של הארגון?
        </li>
        <li>
          מה עושים כשעובד/קולגה שלי פועל בניגוד לערכי?
        </li>
      </ul>
      <p>משך הסדנא 4-6 שעות תלוי בכמות המשתתפים</p>
      <b> לקבלת הצעת מחיר השאירו פרטים ונחזור אליכם
      </b>
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-information-bar></app-information-bar>
