<title>{{ "pages.service-page.title" | translate }}</title>
<h1 id="title">{{ title | translate }}</h1>
<div id="layout" [dir]="langDirectionService.currentLangDirection">
  <div id="buttons" class="d-flex flex-column">
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 1 }"
      type="button"
      (click)="selectedTopicChanged(1)"
      mat-menu-item
    >
      {{ "pages.service-page.layout.buttons.button1" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 2 }"
      type="button"
      (click)="selectedTopicChanged(2)"
      mat-menu-item
    >
      {{ "pages.service-page.layout.buttons.button2" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 3 }"
      type="button"
      (click)="selectedTopicChanged(3)"
      mat-menu-item
    >
      {{ "pages.service-page.layout.buttons.button3" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 4 }"
      type="button"
      (click)="selectedTopicChanged(4)"
      mat-menu-item
    >
      {{ "pages.service-page.layout.buttons.button4" | translate }}
    </button>
  </div>
  <div id="line"></div>
  <div id="content">
    <div id="content1" *ngIf="selectedBtn === 1">
      <h2><b>    {{ "pages.service-page.content1.suitableForTitle" | translate }}</b></h2>
      <p>
        {{ "pages.service-page.content1.suitableForDescription" | translate }}
      </p>
      <h2><b>  {{ "pages.service-page.content1.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.adaptContentTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.premiumUserTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.premiumUserDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.digitalizationTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.creatorTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.creatorDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.networkLaunchTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.networkLaunchDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content1.benefits.purchaseLinkTitle" | translate }}</b> -
          {{ "pages.service-page.content1.benefits.purchaseLinkDescription" | translate }}
        </li>
      </ul>
      <b> {{ "pages.service-page.content1.getPriceQuote" | translate }}</b>
      <br /><br />
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content2" *ngIf="selectedBtn === 2">
      <h2><b> {{ "pages.service-page.content2.suitableForTitle" | translate }}</b></h2>
      <p>{{ "pages.service-page.content2.suitableForDescription" | translate }}</p>
      <h2><b> {{ "pages.service-page.content2.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b>>  {{ "pages.service-page.content2.benefits.adaptContentTitle" | translate }}</b> -
          {{ "pages.service-page.content2.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content2.benefits.digitalizationTitle" | translate }}</b> -
          {{ "pages.service-page.content2.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content2.benefits.copyrightTitle" | translate }}</b> -
          {{ "pages.service-page.content2.benefits.copyrightDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content2.benefits.customerInterfaceTitle" | translate }}</b> -
          {{ "pages.service-page.content2.benefits.customerInterfaceDescription" | translate }}
        </li>
      </ul>
      <b> {{ "pages.service-page.content2.getPriceQuote" | translate }}</b>
      <br /><br />
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content3" *ngIf="selectedBtn === 3">
      <h2><b> {{ "pages.service-page.content3.suitableForTitle" | translate }}</b></h2>
      <p>{{ "pages.service-page.content3.suitableForDescription" | translate }}</p>
      <h2><b>{{ "pages.service-page.content3.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b>>  {{ "pages.service-page.content3.benefits.createCardSetTitle" | translate }}</b> -
          {{ "pages.service-page.content3.benefits.createCardSetDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content3.benefits.adaptContentTitle" | translate }}</b> -
          {{ "pages.service-page.content3.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content3.benefits.digitalizationTitle" | translate }}</b> -
          {{ "pages.service-page.content3.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content3.benefits.copyrightTitle" | translate }}</b> -
          {{ "pages.service-page.content3.benefits.copyrightDescription" | translate }}
        </li>
        <li>
          <b>>  {{ "pages.service-page.content3.benefits.customerInterfaceTitle" | translate }}</b> -
          {{ "pages.service-page.content3.benefits.customerInterfaceDescription" | translate }}
        </li>
      </ul>
      <b>{{ "pages.service-page.content3.benefits.getPriceQuote" | translate }}</b>
      <br /><br />
        <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="content4" *ngIf="selectedBtn === 4">
      <h2>
        <b><u>{{ "pages.service-page.content4.workshop1.workshopName" | translate }}</u></b>
      </h2>
      <p>{{ "pages.service-page.content4.workshop1.workshopDescription" | translate }}</p>
      <h2><b>{{ "pages.service-page.content4.workshop1.suitableForTitle" | translate }}</b></h2>
      <p>
        {{ "pages.service-page.content4.workshop1.suitableForDescription" | translate }}
      </p>
      <h2><b>{{ "pages.service-page.content4.workshop1.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>{{ "pages.service-page.content4.workshop1.benefits.keyPrinciples" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop1.benefits.existingOptions" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop1.benefits.whenToUseCards" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop1.benefits.examples" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop1.benefits.jointExperience" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop1.benefits.resistance" | translate }}</li>
      </ul>
      <p>{{ "pages.service-page.content4.workshop1.workshopDuration" | translate }}</p>
      <br />
      <div class="line"></div>
      <br />
      <h2>
        <b><u>{{ "pages.service-page.content4.workshop2.workshopName" | translate }}</u></b>
      </h2>
      <p>{{ "pages.service-page.content4.workshop2.workshopDescription" | translate }}</p>
      <h2><b>{{ "pages.service-page.content4.workshop2.suitableForTitle" | translate }}</b></h2>
      <p>
        {{ "pages.service-page.content4.workshop2.suitableForDescription" | translate }}
      </p>
      <h2><b>{{ "pages.service-page.content4.workshop2.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>{{ "pages.service-page.content4.workshop2.benefits.valueDefinition" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop2.benefits.personalValues" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop2.benefits.thinkingGroups" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop2.benefits.connectingValues" | translate }}</li>
        <li>{{ "pages.service-page.content4.workshop2.benefits.opposingValues" | translate }}</li>
       </ul>
       <p>{{ "pages.service-page.content4.workshop2.workshopDuration" | translate }}</p>
     <b> {{ "pages.service-page.content4.getPriceQuote" | translate }}</b>
      <br /><br />
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.contactForm.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.contactForm.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>  {{ "pages.service-page.contactForm.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.contactForm.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.contactForm.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.contactForm.form.emailErrorRequired" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.contactForm.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.contactForm.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.contactForm.form.submitButton" | translate }}
          </button>
        </mat-card-actions> </mat-card
      ><br />
      <img
        src="../../../assets/class.png"
        class="class-img"
        alt="Class image"
      />
    </div>
    <div id="content5" *ngIf="selectedBtn===5">
      <h2><b><u>מהו סופרוויזן?
      </u></b></h2>
      <p>אם הגעתם לכאן, סימן שבחרתם להיות מנטורים. אתם מלווים אנשים במסע ההתפתחות שלהם. ויש לכם גם חיים אישיים - עולם שלם משלכם, מערכות יחסים, שינויים, חלומות.&nbsp;</p><p>ואולי יש לכם גם התלבטויות או חששות בנוגע ללקוח מסוים, ברמה המקצועית.&nbsp;</p><p>ויכול להיות שבא לכם להתקדם ברמה השיווקית, כדי לייצר יותר חשיפה, ואתם מתלבטים - מה המסר שלכם לעולם?&nbsp; </p><p><strong>סופרוויז'ן הוא תהליך מרתק המשלב 3 עולמות - אימון, ייעוץ והדרכה.</strong>&nbsp;&nbsp;</p>
      <h2><b>על הסופרוויז'רית</b>
      
        </h2>
        <img src="../../../assets/About images/yarden-sqr.jpg" class="class-img" alt="Class image">
      <p>היי, שמי ירדן סטמפו ואני מלווה מאמנים להתפחות אישית ומקצועית. </p>
      <p>11 שנות ניסיון בנו אצלי מומחיות בעולם האימון -       </p>
      <ul>
        <li>
          לימוד קורסים והכשרות מקצועיות למאמנים.
        </li>
        <li>
          אלפי שעות ניסיון אימוני. 
        </li>
        <li>
          מורה לאימון אישי קוגניטיבי.
        </li>
        <li>
          מלמדת כלים מתקדמים להתפתחות אישית ומקצועית מעולמות הנפש הגוף והרוח. 
        </li>
      </ul>
      <p>באפשרותכם לבחור את מה שמתאים לכם מבין 3 תכניות ליווי. מהן התכניות?</p>
      <br>
      <div class="line"></div>
      <br>
      <!-- -->
    <p><span style="text-decoration:underline;"><strong>תכנית לבניית תהליך אימון ייחודי מנצח</strong></span></p>
    <p><span style="text-decoration:underline;">ממודל אימון כללי &gt;&gt;&gt; למודל אימון אישי</span></p>
    <p>סיוע באינטגרציית הידע שרכשתם ובניית מודל אימוני אישי וייחודי.&nbsp;</p><p><strong>תיאור התכנית:</strong> 
      בסיום קורס הכשרת מאמנים יוצאים מהמכללה עם מודל אימוני בסיסי לאמן איתו.המודל שקיבלתם, מותאם ללווי תהליכי שינוי 
      <span style="text-decoration:underline;">באופן כללי </span>אך אינו מותאם ברמת הכלים וברמת התהליך 
      <span style="text-decoration:underline;">לקהל היעד שלכם.</span></p><p><strong>מטרת התכנית:&nbsp;

      </strong></p><p>נאתר ונדייק את המיומנויות והכלים הרלוונטיים לאימון ונבנה מודל אימוני מחודש - 
        <strong>שהוא אתם.</strong>&nbsp;&nbsp;</p><p>נבין ונדייק, שלב אחר שלב, איזה כלים אימוניים כדאי להשתמש בהם בכל מפגש אימון,
           ואיזה משימות כדאי לתת למתאמן שיקדמו את התהליך האישי שלו?</p>
           <p>נבצע התאמה מדויקת של מודל האימון שלכם לקהל היעד שלכם ולא פחות חשוב מכך, לארגז הכלים והייחודיות שלכם.&nbsp;

           </p><p><strong>עם מה יוצאים?&nbsp;</strong></p><p>עם המוצר הכי חשוב שלכם מוכן, מאורגן, ומותאם לקהל היעד.&nbsp;</p>
           <p><strong>עלויות ומסביב:&nbsp;</strong></p><p>מספר פגישות: 5 פגישות אישיות.</p>
           <p>עלות כוללת: 1650 ש"ח + מע"מ.</p><p>האם נדרש לאמן במקביל לזמן קיום המפגשים: לא.</p>
           <p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>
           <br><br>
           <p><span style="text-decoration:underline;"><strong>תכנית ליווי מאמן אל מול מתאמן&nbsp;</strong></span></p>
           <p><span style="text-decoration:underline;">תמיכה מקצועית, מקיפה, ואישית למאמן המוביל תהליכי אימון.</span></p>
           <p>קרה לכם ששאלתם את עצמכם:&nbsp; האם אני מוביל את התהליך בכיוון הנכון?</p>
           <p>לאן לכוון את הפגישה? על מה לשים את הפוקוס? האם המטרה שהגדרנו היא הנכונה?&nbsp;</p>
           <p><strong>מטרת התכנית</strong>:&nbsp;</p>
           <p>בפגישות נתבונן על סיפור חייו של המתאמן ועל מטרת האימון.נגלה יחד את המוטיבים המרכזיים, 
            את בעיית הלב ואת הפער בין המצב המצוי למצב הרצוי שיוצר תסכול בחייו של המתאמן. נבין - על מה <strong>באמת </strong>
            המתאמן הגיע להתאמן ונתאים את מתווה אימון בהתאם לצורך שלו.&nbsp;</p><p><strong>עם מה יוצאים?</strong></p>
            <p>אתם לא לבד.</p><p>מקבלים הדרכה מקיפה וליווי בניהול תהליך אימון אל מול לקוח,
               למידה של טכניקות עבודה אימוניות נוספות, הקנייה וחיזוק הביטחון כמאמן.&nbsp;</p>
               <p><strong>מבנה התכנית:&nbsp;</strong></p>
               <p>כל 2 פגישות שלכם עם המתאמן, אנחנו מקיימים פגישה. התהליך מלווה בהגשת 3 דוחות.&nbsp;</p>
               <p>אתם נהנים מזמינות טלפונית / וואצאפ (בשעות קבועות) - שיחות הכנה למפגשי אימון, 
                התייעצויות "קטנות" ודיוקים תוך כדי תהליך האימון.&nbsp;</p><p><strong>עלויות ומסביב:</strong></p>
                <p>מספר פגישות: 6 פגישות אישיות.&nbsp;</p><p>עלות כוללת: 1950 ש"ח + מע"מ.&nbsp;</p>
                <p>האם נדרש לאמן במקביל לזמן קיום המפגשים: כן.&nbsp;</p><p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>
                <br><br>
                <p><span style="text-decoration:underline;"><strong>תכנית פרימיום VIP-&nbsp;</strong></span></p><p>חבילה משולבת - ליווי מלא ל 3 חודשים!&nbsp;</p><p>בואו נלביש בגדי עבודה לחלום וניקח יחד את קריירת האימון שלכם למעלה!&nbsp;</p><p>תכנית ליווי אישי ל 3 חודשים שבהם תקבלו שירות VIP לכל מה שמאמן צריך:</p><ul><li>התאמה ושדרוג מודל האימון שקיבלתם במכללה לנישה האימונית שבחרתם להתמקד בה.&nbsp;</li><li>הדרכה מקיפה וליווי בניהול תהליך אימון אל מול לקוח, למידה של טכניקות עבודה אימוניות נוספות, הקנייה וחיזוק הביטחון כמאמן.&nbsp;</li>
            <li>זמינות טלפונית (בשעות קבועות)
               - שיחות הכנה למפגשי אימון, התייעצויות "קטנות" ודיוקים תוך כדי העבודה אל מול המתאמנים.&nbsp;</li>
               <li>במהלך הפגישות תעברו תהליך אישי בהתקרבות אל עצמכם ממקום אימוני ומעצים.&nbsp;</li>
              </ul><p>מספר פגישות: 12 פגישות אישיות</p><p>עלות כוללת: 3750 ש"ח + מע"מ&nbsp;</p>
              <p>האם נדרש לאמן במקביל לזמן קיום המפגשים: כן.&nbsp;</p><p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>  



<!---->
      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card><br>
    </div>
  </div>
  <img
    onload="this.style.opacity='1'"
    src="../../../assets/flowers.png"
    class="flower-img"
    alt="Decorative flowers"
  />
  <!-- <img onload="this.style.opacity='1'" src="../../../assets/class.jpeg" class="flower-img" alt="Decorative image"> -->
</div>

<div id="accordion" [dir]="langDirectionService.currentLangDirection">
  <mat-accordion>
    <mat-expansion-panel
      (click)="selectedTopicChanged(1)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{ "pages.service-page.accordion.workshop1.workshopName" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>{{ "pages.service-page.accordion.workshop1.suitableForTitle" | translate }}</b></h2>
      <p>
        {{ "pages.service-page.accordion.workshop1.suitableForDescription" | translate }}
      </p>
      <h2><b>  {{ "pages.service-page.accordion.workshop1.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.adaptContentTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.premiumUserTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.premiumUserDescription" | translate }}
        </li>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.digitalizationTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.aboutTheCreatorTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.aboutTheCreatorDescription" | translate }}
        </li>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.networkLaunchTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.networkLaunchDescription" | translate }}
        </li>
        <li>
          <b> {{ "pages.service-page.accordion.workshop1.benefits.purchaseLinkTitle" | translate }}</b> 
           {{ "pages.service-page.accordion.workshop1.benefits.purchaseLinkDescription" | translate }}
        </li>
      </ul>
      <b>{{ "pages.service-page.accordion.workshop1.getPriceQuote" | translate }}</b>
      <br /><br />
        <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(2)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>  {{ "pages.service-page.accordion.workshop2.workshopName" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>{{ "pages.service-page.accordion.workshop2.suitableForTitle" | translate }}</b></h2>
      <p>{{ "pages.service-page.accordion.workshop2.suitableForDescription" | translate }}</p>
      <h2><b>{{ "pages.service-page.accordion.workshop2.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b>{{ "pages.service-page.accordion.workshop2.benefits.adaptContentTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop2.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop2.benefits.digitalizationTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop2.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop2.benefits.copyrightTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop2.benefits.copyrightDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop2.benefits.customerInterfaceTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop2.benefits.customerInterfaceDescription" | translate }}
        </li>
      </ul>
      {{ "pages.service-page.accordion.workshop2.getPriceQuote" | translate }}
      <br /><br />
        <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(3)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "pages.service-page.accordion.workshop3.workshopName" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b>     {{ "pages.service-page.accordion.workshop3.suitableForTitle" | translate }}</b></h2>
      <p> {{ "pages.service-page.accordion.workshop3.suitableForDescription" | translate }}</p>
      <h2><b>{{ "pages.service-page.accordion.workshop3.whatDoYouGetTitle" | translate }}</b></h2>
      <ul>
        <li>
          <b>{{ "pages.service-page.accordion.workshop3.benefits.createFromScratchTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop3.benefits.createFromScratchDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop3.benefits.adaptContentTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop3.benefits.adaptContentDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop3.benefits.digitalizationTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop3.benefits.digitalizationDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop3.benefits.copyrightTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop3.benefits.copyrightDescription" | translate }}
        </li>
        <li>
          <b>{{ "pages.service-page.accordion.workshop3.benefits.customerInterfaceTitle" | translate }}</b>
          {{ "pages.service-page.accordion.workshop3.benefits.customerInterfaceDescription" | translate }}
        </li>
      </ul>
      <b>      {{ "pages.service-page.accordion.workshop3.getPriceQuote" | translate }}</b>
      <br /><br />
        <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(4)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "pages.service-page.accordion.workshop4.workshopName" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h2>
        <b><u>{{ "pages.service-page.accordion.workshop4.workshopDescription" | translate }} </u></b>
      </h2>
      <p>{{ "pages.service-page.accordion.workshop4.workshop1.workshopName" | translate }} </p>
      <h2><b>{{ "pages.service-page.accordion.workshop4.workshop1.suitableForTitle" | translate }} </b></h2>
      <p>
        {{ "pages.service-page.accordion.workshop4.workshop1.suitableForDescription" | translate }}
      </p>
      <h2><b>  {{ "pages.service-page.accordion.workshop4.workshop1.whatDoYouGetTitle" | translate }}
      </b></h2>
      <ul>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit1" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit2" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit3" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit4" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit5" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop1.benefit6" | translate }}</li>
      </ul>
      <p> {{ "pages.service-page.accordion.workshop4.workshop1.workshopDuration" | translate }}</p>
      <h2>
        <b><u>{{ "pages.service-page.accordion.workshop4.workshopName" | translate }} </u></b>
      </h2>
      <p>{{ "pages.service-page.accordion.workshop4.workshop2.workshopName" | translate }} </p>
      <h2><b>{{ "pages.service-page.accordion.workshop4.workshop2.suitableForTitle" | translate }} </b></h2>
      <p>
        {{ "pages.service-page.accordion.workshop4.workshop2.suitableForDescription" | translate }}
      </p>
      <h2><b>  {{ "pages.service-page.accordion.workshop4.workshop2.whatDoYouGetTitle" | translate }}
      </b></h2>
      <ul>
        <li> {{ "pages.service-page.accordion.workshop4.workshop2.benefit1" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop2.benefit2" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop2.benefit3" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop2.benefit4" | translate }}</li>
        <li> {{ "pages.service-page.accordion.workshop4.workshop2.benefit5" | translate }}</li>
        </ul>
        <p> {{ "pages.service-page.accordion.workshop4.workshop2.workshopDuration" | translate }}</p>
      <b> {{ "pages.service-page.accordion.workshop4.workshop2.getPriceQuote" | translate }}</b>
      <br /><br />
        <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.nameLabel" | translate }}</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formControls.name.hasError('required')">
                {{ "pages.service-page.form.nameError" | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.emailLabel" | translate }}</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="{{ 'pages.service-page.form.emailPlaceholder' | translate }}" />
              <mat-error
                *ngIf="
                  formControls.email.hasError('email') &&
                  !formControls.email.hasError('required')
                "
              >
              {{ "pages.service-page.form.emailErrorInvalid" | translate }}
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                {{ "pages.service-page.form.emailErrorRequired" | translate }} 
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "pages.service-page.form.contentLabel" | translate }}</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                {{ "pages.service-page.form.contentError" | translate }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button
            id="contactUsFormSubmission"
            class="action-button"
            type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty"
            (click)="sendContent()"
          >
          {{ "pages.service-page.form.submitButton" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          סופרוויזן - הדרכת מאמנים        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2><b><u>מהו סופרוויזן?
      </u></b></h2><p>אם הגעתם לכאן, סימן שבחרתם להיות מנטורים. אתם מלווים אנשים במסע ההתפתחות שלהם. ויש לכם גם חיים אישיים - עולם שלם משלכם, מערכות יחסים, שינויים, חלומות.&nbsp;</p><p>ואולי יש לכם גם התלבטויות או חששות בנוגע ללקוח מסוים, ברמה המקצועית.&nbsp;</p><p>ויכול להיות שבא לכם להתקדם ברמה השיווקית, כדי לייצר יותר חשיפה, ואתם מתלבטים - מה המסר שלכם לעולם?&nbsp; </p><p><strong>סופרוויז'ן הוא תהליך מרתק המשלב 3 עולמות - אימון, ייעוץ והדרכה.</strong>&nbsp;&nbsp;</p>
      <h2><b>על הסופרוויז'רית</b>
      </h2>
        <img src="../../../assets/About images/yarden-sqr.jpg" class="class-img" alt="Yarden Stemp">
      <p>היי, שמי ירדן סטמפו ואני מלווה מאמנים להתפחות אישית ומקצועית. </p>
      <p>11 שנות ניסיון בנו אצלי מומחיות בעולם האימון -       </p>
      <ul>
        <li>
          לימוד קורסים והכשרות מקצועיות למאמנים.
        </li>
        <li>
          אלפי שעות ניסיון אימוני. 
        </li>
        <li>
          מורה לאימון אישי קוגניטיבי.
        </li>
        <li>
          מלמדת כלים מתקדמים להתפתחות אישית ומקצועית מעולמות הנפש הגוף והרוח. 
        </li>
      </ul>
      <p>באפשרותכם לבחור את מה שמתאים לכם מבין 3 תכניות ליווי. מהן התכניות?</p>
      <br>
      <div class="line"></div>
      <br>
      <!-- -->
    <p><span style="text-decoration:underline;"><strong>תכנית לבניית תהליך אימון ייחודי מנצח</strong></span></p>
    <p><span style="text-decoration:underline;">ממודל אימון כללי &gt;&gt;&gt; למודל אימון אישי</span></p>
    <p>סיוע באינטגרציית הידע שרכשתם ובניית מודל אימוני אישי וייחודי.&nbsp;</p><p><strong>תיאור התכנית:</strong> 
      בסיום קורס הכשרת מאמנים יוצאים מהמכללה עם מודל אימוני בסיסי לאמן איתו.המודל שקיבלתם, מותאם ללווי תהליכי שינוי 
      <span style="text-decoration:underline;">באופן כללי </span>אך אינו מותאם ברמת הכלים וברמת התהליך 
      <span style="text-decoration:underline;">לקהל היעד שלכם.</span></p><p><strong>מטרת התכנית:&nbsp;

      </strong></p><p>נאתר ונדייק את המיומנויות והכלים הרלוונטיים לאימון ונבנה מודל אימוני מחודש - 
        <strong>שהוא אתם.</strong>&nbsp;&nbsp;</p><p>נבין ונדייק, שלב אחר שלב, איזה כלים אימוניים כדאי להשתמש בהם בכל מפגש אימון,
           ואיזה משימות כדאי לתת למתאמן שיקדמו את התהליך האישי שלו?</p>
           <p>נבצע התאמה מדויקת של מודל האימון שלכם לקהל היעד שלכם ולא פחות חשוב מכך, לארגז הכלים והייחודיות שלכם.&nbsp;

           </p><p><strong>עם מה יוצאים?&nbsp;</strong></p><p>עם המוצר הכי חשוב שלכם מוכן, מאורגן, ומותאם לקהל היעד.&nbsp;</p>
           <p><strong>עלויות ומסביב:&nbsp;</strong></p><p>מספר פגישות: 5 פגישות אישיות.</p>
           <p>עלות כוללת: 1650 ש"ח + מע"מ.</p><p>האם נדרש לאמן במקביל לזמן קיום המפגשים: לא.</p>
           <p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>
           <br><br>
           <p><span style="text-decoration:underline;"><strong>תכנית ליווי מאמן אל מול מתאמן&nbsp;</strong></span></p>
           <p><span style="text-decoration:underline;">תמיכה מקצועית, מקיפה, ואישית למאמן המוביל תהליכי אימון.</span></p>
           <p>קרה לכם ששאלתם את עצמכם:&nbsp; האם אני מוביל את התהליך בכיוון הנכון?</p>
           <p>לאן לכוון את הפגישה? על מה לשים את הפוקוס? האם המטרה שהגדרנו היא הנכונה?&nbsp;</p>
           <p><strong>מטרת התכנית</strong>:&nbsp;</p>
           <p>בפגישות נתבונן על סיפור חייו של המתאמן ועל מטרת האימון.נגלה יחד את המוטיבים המרכזיים, 
            את בעיית הלב ואת הפער בין המצב המצוי למצב הרצוי שיוצר תסכול בחייו של המתאמן. נבין - על מה <strong>באמת </strong>
            המתאמן הגיע להתאמן ונתאים את מתווה אימון בהתאם לצורך שלו.&nbsp;</p><p><strong>עם מה יוצאים?</strong></p>
            <p>אתם לא לבד.</p><p>מקבלים הדרכה מקיפה וליווי בניהול תהליך אימון אל מול לקוח,
               למידה של טכניקות עבודה אימוניות נוספות, הקנייה וחיזוק הביטחון כמאמן.&nbsp;</p>
               <p><strong>מבנה התכנית:&nbsp;</strong></p>
               <p>כל 2 פגישות שלכם עם המתאמן, אנחנו מקיימים פגישה. התהליך מלווה בהגשת 3 דוחות.&nbsp;</p>
               <p>אתם נהנים מזמינות טלפונית / וואצאפ (בשעות קבועות) - שיחות הכנה למפגשי אימון, 
                התייעצויות "קטנות" ודיוקים תוך כדי תהליך האימון.&nbsp;</p><p><strong>עלויות ומסביב:</strong></p>
                <p>מספר פגישות: 6 פגישות אישיות.&nbsp;</p><p>עלות כוללת: 1950 ש"ח + מע"מ.&nbsp;</p>
                <p>האם נדרש לאמן במקביל לזמן קיום המפגשים: כן.&nbsp;</p><p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>
                <br><br>
                <p><span style="text-decoration:underline;"><strong>תכנית פרימיום VIP-&nbsp;</strong></span></p><p>חבילה משולבת - ליווי מלא ל 3 חודשים!&nbsp;</p><p>בואו נלביש בגדי עבודה לחלום וניקח יחד את קריירת האימון שלכם למעלה!&nbsp;</p><p>תכנית ליווי אישי ל 3 חודשים שבהם תקבלו שירות VIP לכל מה שמאמן צריך:</p><ul><li>התאמה ושדרוג מודל האימון שקיבלתם במכללה לנישה האימונית שבחרתם להתמקד בה.&nbsp;</li><li>הדרכה מקיפה וליווי בניהול תהליך אימון אל מול לקוח, למידה של טכניקות עבודה אימוניות נוספות, הקנייה וחיזוק הביטחון כמאמן.&nbsp;</li>
            <li>זמינות טלפונית (בשעות קבועות)
               - שיחות הכנה למפגשי אימון, התייעצויות "קטנות" ודיוקים תוך כדי העבודה אל מול המתאמנים.&nbsp;</li>
               <li>במהלך הפגישות תעברו תהליך אישי בהתקרבות אל עצמכם ממקום אימוני ומעצים.&nbsp;</li>
              </ul><p>מספר פגישות: 12 פגישות אישיות</p><p>עלות כוללת: 3750 ש"ח + מע"מ&nbsp;</p>
              <p>האם נדרש לאמן במקביל לזמן קיום המפגשים: כן.&nbsp;</p><p>מיקום: און ליין / פרונטלי ברמת גן.&nbsp;&nbsp;</p>  



      <br><br>
      <mat-card>
        <mat-card-content>
          <form class="d-flex flex-column" [formGroup]="contactForm">
            <mat-form-field>
              <mat-label>שם</mat-label>
              <input type="text" matInput formControlName="name">
              <mat-error *ngIf="formControls.name.hasError('required')">
                חובה להזין שם
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>מייל</mat-label>
              <input type="email" matInput formControlName="email" placeholder="לדוגמא name@example.com">
              <mat-error *ngIf="formControls.email.hasError('email') && !formControls.email.hasError('required')">
                יש להזין מייל תקין
              </mat-error>
              <mat-error *ngIf="formControls.email.hasError('required')">
                חובה להזין מייל
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>תוכן</mat-label>
              <textarea matInput formControlName="content"></textarea>
              <mat-error *ngIf="formControls.content.hasError('required')">
                חובה להזין תוכן
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button id="contactUsFormSubmission" class="action-button" type="button"
            [disabled]="contactForm.invalid || !contactForm.dirty" (click)="sendContent()">שלח</button>
        </mat-card-actions>
      </mat-card>
      <br><br>
    </mat-expansion-panel>


  </mat-accordion>
</div>

<app-information-bar
  [dir]="langDirectionService.currentLangDirection"
></app-information-bar>
