* {
  font-family: 'rubik';
}

#title {
  font-size: 1.5rem;
}

#content {
  padding-top: 1%;
}

.mat-form-field {
  text-align: right;
  margin-bottom: 5px;
  direction: rtl;
}

.option-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: large;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

#login-button {
  margin-top: 10px;
  background: #ffa800;
  color: white;
}

#login-button:enabled:hover {
  background: #e69900;
  color: white;
}

#login-button:enabled:active {
  background: #db9200;
  color: white;
}

#login-button:disabled {
  background: #e0e0e0;
  color: rgb(102, 102, 102);
}

a {
  /* font-family: 'rubik'; */
  font-size: 1rem;
  margin: 1% 0%;
}

mat-progress-bar {
  margin: 10px 0px;
}

#register-div {
  margin: 2% 0%;
}

#register-form {
  /*border-left: #ffa800 2px solid;*/
  padding: 1% 1% 1% 5%;
  width: 100%;
  /* width: 18vw; */
}

#emails-error {
  font-size: small;
  text-align: start;
  direction: rtl;
  margin-top: -10px;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

#social-media-login {
  margin-right: 5%;
  width: 18vw;
  justify-content: center;
}
