<div id="content">
  <div class="d-flex" id="register-div">
    <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onSignupSubmit()">
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>שם מלא</mat-label>
          <input autocomplete="off" formControlName="name" matInput>
          <mat-hint>עברית\אנגלית</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>טלפון נייד</mat-label>
          <input autocomplete="off" formControlName="phone" matInput>
          <mat-hint>לדוגמא: 0501234567</mat-hint>
          <mat-error *ngIf="registerForm.controls.phone.errors">נא לרשום מספר נייד תקין
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>אימייל</mat-label>
          <input autocomplete="off" formControlName="username" matInput>
          <mat-error *ngIf="registerForm.controls.username.errors?.UsernameExistsException">מייל זה קיים במערכת, נא
            להשתמש באחר
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>אימות אימייל</mat-label>
          <input autocomplete="off" formControlName="usernameConfirm" matInput (focusout)="checkUsernameConfirm()">
          <mat-error *ngIf="registerForm.controls.usernameConfirm.errors?.notSameEmail">מייל לא תואם
          </mat-error>
          <mat-error *ngIf="registerForm.controls.usernameConfirm.errors?.UsernameExistsException">מייל זה קיים במערכת,
            נא
            להשתמש באחר
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>סיסמא</mat-label>
          <input autocomplete="off" formControlName="password" matInput [type]="hidePW ? 'password' : 'text'"
            onkeypress="return (event.charCode >= 33 && event.charCode <= 126)">
          <mat-error *ngIf="registerForm.controls.password.errors?.badPassword">סיסמא לא חוקית, נסו שנית</mat-error>
          <mat-hint>8 ספרות לפחות, יש להכיל ספרה, אות קטנה וגדולה (באנגלית)</mat-hint>
          <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>אימות סיסמא</mat-label>
          <input autocomplete="off" formControlName="passwordConfirm" matInput
            [type]="hidePWConfirm ? 'password' : 'text'"
            onkeypress="return (event.charCode >= 33 && event.charCode <= 126)" (focusout)="checkPasswordConfirm()">
          <!-- <mat-error *ngIf="registerForm.controls.password.errors?.badPassword">סיסמא לא חוקית, נסו שנית</mat-error> -->
          <mat-error *ngIf="registerForm.controls.passwordConfirm.errors?.notSamePassword">סיסמא לא תואמת</mat-error>
          <mat-hint>8 ספרות לפחות, יש להכיל ספרה, אות קטנה וגדולה (באנגלית)</mat-hint>
          <button type="button" mat-icon-button matSuffix (click)="hidePWConfirm = !hidePWConfirm">
            <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" class="option-btn" id="login-button" [disabled]="!registerForm.valid">הרשמה</button>
      </div>
    </form>

    <div id="social-media-login" class="d-flex flex-column" *ngIf="showLogin">
      <a (click)="signInWithFacebook()" class="fb btn">
        <i class="fa fa-facebook fa-fw"></i> כניסה עם Facebook
      </a>
      <a (click)="signInWithGoogle()" class="google btn">
        <i class="fa fa-google fa-fw"></i> כניסה עם Google
      </a>
    </div>
    
  </div>
</div>