<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>שם פרטי</mat-label>
      <input autocomplete="off" formControlName="name" matInput>
      <mat-hint>עברית\אנגלית</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>שם משפחה</mat-label>
      <input autocomplete="off" formControlName="lastName" matInput>
      <mat-hint>עברית\אנגלית</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>אימייל</mat-label>
      <input autocomplete="off" formControlName="username" matInput>
      <mat-error *ngIf="registerForm.controls.username.errors?.emailAlreadyExists">מייל קיים. נא להשתמש באחר</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>סיסמא</mat-label>
      <input autocomplete="off" formControlName="password" matInput [type]="hidePW ? 'password' : 'text'"
      onkeypress="return (event.charCode >= 33 && event.charCode <= 126)">
      <mat-error *ngIf="registerForm.controls.password.errors?.badPassword">סיסמא לא חוקית, נסו שנית</mat-error>
      <mat-hint>8 ספרות לפחות, חייב להכיל ספרה, אות קטנה ואות גדולה (באנגלית)</mat-hint>
      <button type="button" mat-icon-button matSuffix (click)="hidePW = !hidePW">
        <mat-icon style="font-family: 'Material Icons';">{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" class="option-btn" id="login-button" [disabled]="!registerForm.valid">הרשם</button>
  </div>
</form>
<mat-progress-bar [ngStyle]="{'visibility': showLoading ? 'visible' : 'hidden'}" mode="query"></mat-progress-bar>
