* {
  font-family: 'rubik';
  direction: rtl;
}

p {
  margin: 10px 0px 5px 0px;
  font-size: medium;
}

.buttons {
  margin: 0px;
}

.action-button {
  font-size: medium;
  margin-left: 1rem;
  border-radius: 5px;
  border: none;
  font-size: large;
  background: #ffa800;
  color: white;
  height: 2rem;
  width: 4rem;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.action-button:disabled {
  background: #cccccc;
  color: rgb(82, 82, 82);
  cursor: not-allowed;
}

mat-toolbar {
  margin-top: -10px;
  background-color: transparent;
}

.title {
  font-size: x-large;
}

.note {
  font-size: medium;
}

.line {
  background-color: #ffa800;
  width: auto;
  height: 3px;
  /* margin-top: -15px; */
}

.iconButton {
  /* margin-top: -15px; */
  margin-left: -20px;
}

.mat-form-field {
  text-align: right;
  font-size: medium;
}

.contact-form {
  margin: 2%;
}

.img {
  opacity: 0;
  transition: opacity 0.5s;
  max-height: 80vh;
  border-radius: 50px;
  animation: shadow 5s ease-in-out infinite;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  /* min-height: 82%; */
  min-height: var(--content-height);
}

mat-card {
  min-width: 25vw;
  animation: shadow 5s ease-in-out infinite;
}

textarea {
  max-height: 30vh;
}

/* app-information-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
} */

/* @media screen and (max-width: 1024px) {
} */

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .img {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  app-information-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
