* {
  font-family: 'rubik';
  direction: rtl;
}

p {
  margin: 10px 0px 5px 0px;
  font-size: medium;
}

.buttons {
  margin: 0px;
}

.action-button {
  font-size: medium;
  margin-left: 1rem;
  border-radius: 5px;
  border: none;
  font-size: large;
  background: #ffa800;
  color: white;
  height: 2rem;
  width: 4rem;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.action-button:disabled {
  background: #cccccc;
  color: rgb(82, 82, 82);
  cursor: not-allowed;
}

mat-toolbar {
  margin-top: -10px;
  background-color: transparent;
}

.title {
  font-size: x-large;
}

.note {
  font-size: medium;
}

.line {
  background-color: #ffa800;
  width: auto;
  height: 3px;
  /* margin-top: -15px; */
}

.iconButton {
  /* margin-top: -15px; */
  margin-left: -20px;
}

.mat-form-field {
  text-align: right;
  font-size: medium;
}

.contact-form {
  margin: 2%;
}

.img {
  opacity: 0;
  transition: opacity 1s;
  max-height: 80vh;
  border-radius: 50px;
  animation: shadow 5s ease-in-out infinite;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

mat-card {
  min-width: 25vw;
  animation: shadow 5s ease-in-out infinite;
}

textarea {
  max-height: 30vh;
}

@keyframes shadow {
  0% {
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 12px;
  }

  14% {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  28% {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 4px 12px;
  }

  42% {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 0px 12px;
  }

  56% {
    box-shadow: rgba(0, 0, 0, 0.1) -4px -4px 12px;
  }

  70% {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 12px;
  }

  84%{
    box-shadow: rgba(0, 0, 0, 0.1) 4px -4px 12px;
  }

  95%{
    box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 12px;
  }

  100%{
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 12px;
  }
}
