<div class="mt-8">
    <div class="sm:text-4xl text-2xl font-bold text-center">איך משתמשים במנטור קארדס?</div>

    <div class=" md:flex gap-8 justify-center">
        <img src="/assets/New/home-page/how-to-use-1.png" alt="user image" class="my-12 mx-auto md:mx-0" />
        <img src="/assets/New/home-page/how-to-use-2.png" alt="user image" class="my-12  mx-auto md:mx-0" />
        <img src="/assets/New/home-page/how-to-use-3.png" alt="user image" class="my-12  mx-auto md:mx-0" />
    </div>

    <div class="text-xl font-bold text-center">רוצים לקבל עוד טיפים ורעיונות? עקבו אחרינו</div>

    <div class="flex justify-center gap-4 mt-8">
        <a href="">
            <img src="/assets/New/home-page/icons/tik-tok-pink.svg" alt="tik-tok image" class="h-7" 
            (mouseover)="changeImageSrc($event, 'tik-tok')" 
            (mouseout)="resetImageSrc($event, 'tik-tok')"/>
        </a>
        <a href="">
            <img src="/assets/New/home-page/icons/fb-pink.svg" alt="fb image" class="h-7" 
            (mouseover)="changeImageSrc($event, 'fb')" 
            (mouseout)="resetImageSrc($event, 'fb')"/>
        </a>
        <a href="">
            <img src="/assets/New/home-page/icons/insta-pink.svg" alt="insta image" class="h-7" 
            (mouseover)="changeImageSrc($event, 'insta')" 
            (mouseout)="resetImageSrc($event, 'insta')"/>
        </a>
        <a href="">
            <img src="/assets/New/home-page/icons/you-tube-pink.svg" alt="you-tube" class="h-7" 
            (mouseover)="changeImageSrc($event, 'you-tube')" 
            (mouseout)="resetImageSrc($event, 'you-tube')"/>
        </a>
        <a href="">
            <img src="/assets/New/home-page/icons/w-app-pink.svg" alt="whats-app" class="h-7" 
            (mouseover)="changeImageSrc($event, 'w-app')" 
            (mouseout)="resetImageSrc($event, 'w-app')"/>
        </a>
    </div>
</div>