<div class="d-flex flex-column relative">
  <div [ngClass]="{ 'flip-box-inner': true, flip: flipped }"  [class.min-height]="mobileView" 
  >
    <div class="flip-box-front">
      <img
        *ngIf="!cardContent?.backImgUrl"
        alt="Mentor-cards unique cards design for the back of the card"
        src="/assets/Mentor-Cards-Back.png"
        [ngClass]="{ '': !selected, 'img-selected': selected }"
        (contextmenu)="onRightClick()"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
      />
      <img
        *ngIf="cardContent?.backImgUrl"
        alt="Mentor-cards unique cards design for the back of the card" 
        src="{{ cardContent?.backImgUrl }}"
        data-src="{{ cardContent?.backImgUrl }}"
        [ngClass]="{ '': !selected, 'img-selected': selected }"
        (contextmenu)="onRightClick()"
        [style.height.px]="imageHeight"
      />
    </div>
    <div class="flip-box-back " style="width: auto;">
      <img
        loading="eager"
        [ngClass]="{ '': !selected, 'img-selected': selected }"
        src="{{ cardContent?.frontImgUrl }}"
        data-src="{{ cardContent?.frontImgUrl }}"
        (contextmenu)="onRightClick()"
        [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
      />
    </div>
  </div>
  <span
    *ngIf="index"
    class="absolute right-6 top-1/2 bg-white rounded-full p-1 text-center w-6 h-6"
    >{{ index }}</span
  >
</div>
