<div class="d-flex flex-column relative">
  <div [ngClass]="{ 'flip-box-inner': true, flip: flipped }"  [class.min-height]="mobileView" 
  >
    <div class="flip-box-front" [ngClass]="{'flip-box-absolute': flipped }">
      <img
        alt="Mentor-cards unique cards design for the back of the card" 
        src="{{ cardBack }}"
        data-src="{{ cardBack }}"
        [ngClass]="{ '': !selected, 'img-selected': selected }"
        (contextmenu)="onRightClick()"
        [style.height.px]="imageHeight"
      />
    </div>
    <div class="flip-box-back" [ngClass]="{'flip-box-absolute': !flipped }" style="width: auto;">
      <img
        loading="eager"
        [ngClass]="{ '': !selected, 'img-selected': selected }"
        src="{{ cardContent?.frontImgUrl }}"
        data-src="{{ cardContent?.frontImgUrl }}"
        (contextmenu)="onRightClick()"
        [style.height.px]="imageHeight"
      />
    </div>
  </div>
  <span
    *ngIf="index"
    class="absolute right-6 top-1/2 bg-white rounded-full p-1 text-center w-6 h-6"
    >{{ index }}</span
  >
</div>