img {
  width: 100%;
}

.img-unselected {
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border 0.1s linear ;
}

.img-selected {
  border: 4px solid #ffcf00;
  border-radius: 4px;
  transition: border 0.1s linear ;
}

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-box-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
