<h1 id="title">הדרכה</h1>
<div class="d-flex flex-row">
    <div id="buttons" class="d-flex flex-column">
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==1}" type="button" (click)="selectedBtn=1"
            mat-menu-item>מהות העבודה עם קלפים​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==2}" type="button" (click)="selectedBtn=2"
            mat-menu-item>המלצות כלליות לעבודה עם קלפים​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==3}" type="button" (click)="selectedBtn=3"
            mat-menu-item>חוברות ההדרכה שלנו​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==4}" type="button" (click)="selectedBtn=4"
            mat-menu-item>עבודה עם תוכנת ZOOM​</button>
    </div>
    <div id="line"></div>
    <div id="content">
        <div id="content1" *ngIf="selectedBtn==1">
            <p>טקסט על קלפים , למה צריך אותם ומה הם נותנים..​</p>
        </div>
        <div id="content2" *ngIf="selectedBtn==2">
            <p>האמירות למטה הן מנקודת מבטנו כאנשי מקצוע והמלצה בלבד. ​</p>
            <ol>
                <li>האמת היא בעיני המשתתף. לכן הבחירה של הקלפים ע"י המונחה היא תמיד נכונה עבורו.​</li>
                <li>כל התשובות נכונות. אין נכון ולא נכון. אי אפשר להיכשל. האופן שבו האדם מתייחס לקלפיו מבטא את ראייתו,
                    אמונותיו, והדרך שבה הוא מתייחס לנושא שאותו הקלף משקף. ​</li>
                <li>
                    בחירת הקלפים והסברם מתאים לנקודה בזמן עבור אותו אדם. בסיטואציה אחרת, במצב רגשי אחר מאוד יכול להיות
                    שיעלו תגובות ואמירות אחרות. ​
                </li>
                <li>
                    התרגילים המובאים הם הצעות ורעיונות לשימוש בקלפים, אינם מחייבים, ואף מומלץ להיות יצירתיים ופתוחים
                    לרעיונות שלכם העולים ומשרתים את מטרותיכם.​
                </li>
                <li>
                    המונחה הוא זה המסביר מה הקלפים שבחר מייצגים ומסמלים עבורו. ​
                </li>
                <li>
                    מותר להחליף או להוסיף קלף. אין צורך להתעקש ולכפות את הקלף על התהליך, למרות שלעיתים זו הזדמנות דווקא
                    להגיע למקומות חבויים ומאתגרים בעבורנו. ​
                </li>
                <li>
                    יש לאפשר זמן להתבוננות בקלף. חשוב לזכור שהקלפים הם לא כלי אבחון, אלא משמשים לתקשורת תוך אישית
                    ובינאישית​
                </li>
            </ol>
        </div>
        <div id="content3" *ngIf="selectedBtn==3">
            <p>
                לכל ערכת קלפים מצורפת חוברת הדרכה.<br>​
                אל החוברת ניתן להגיע לאחר לחיצה על ערכת הקלפים הרצויה ולחיצה על כפתור "חוברת הדרכה" הנמצאת מצד שמאל
                למעלה.<br>​
                ניתן למצוא בחוברת ההדרכה המלצות לשימוש בערכת הקלפים בהנחיית קבוצה ובאחד על אחד.<br>​
                כמו כן, ישנן המלצות לשאלות כשהקלפים גלויים או סמויים
            </p>

        </div>
        <div id="content4" *ngIf="selectedBtn==4">
            <p>
                בנינו את ממשק חוברת ההדרכה בצורה שבה המנחה יוכל לראות את ההמלצות והשאלות שבחוברת ההדרכה מבלי שהמונחה
                יראה אותן בזמן שהמנחה משתף מסך.<br>​
                בכדי לעשות כך, יש ללחוץ על כפתור ה"חוברת ההדרכה" ובתוכנת הZOOM ללחוץ על כפתור ה - “SHARE” אשר נמצא במרכז
                אפליקציית הZOOM ובתחתית. <br>​
                יש לבחור בשיתוף מסך עבור הדפדפן שלכם בו מוצגת ערכת הקלפים. <br>​
                רק דפדפן זה יוצג למונחה ו"חוברת ההדרכה" תהיה חשופה אך ורק למנחה. <br>​
                כעת אתם יכולים להשתמש בקלפים וגם לקרוא בחוברת ההדרכה באותו הזמן.​
                תיהנו!​
            </p>
        </div>
    </div>
    <img onload="this.style.opacity='1'" src="../../../assets/flowers.png" class="flower-img">
</div>