#title {
  text-align: center;
  font-size: xx-large;
  margin-top: 1%;
}

#line {
  background-color: #ffa800;
  width: 3px;
  height: 80vh;
  position: sticky;
  top: 16%;
}

#buttons {
  margin: 1% 1%;
  /* width: 20vw; */
  position: sticky;
  top: 18%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  height: auto;
  width: fit-content;
}

#layout {
  display: flex;
  flex-direction: row;
}

#content {
  margin: 2% 2%;
  text-align: right;
  font-size: larger;
  line-height: 4vh;
  max-width: 50%;
}

.btn {
  margin-bottom: 1vh;
}

.btn:hover {
  background-color: white;
}

.btn:active {
  background-color: #e2e6ea;
}

.selected-btn {
  font-weight: 600;
  box-shadow: 0 0 0 0.2rem #ffcf008c;
}

.flower-img {
  opacity: 0;
  transition: opacity 2s;
  height: 23rem;
  margin-top: 12vh;
  position: sticky;
  top: 28%;
}

.screen-share-img {
  opacity: 0;
  transition: opacity 2s;
}

@media screen and (max-width: 1024px) {
  .flower-img {
    display: none;
  }

  #content {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  #buttons {
    position: inherit;
  }

  #line {
    width: 80vw;
    height: 3px;
    position: inherit;
    /* top: 16%; */
  }

  #layout {
    flex-direction: column;
    align-items: center;
  }

  #title {
    font-size: x-large;
  }

  #content {
    max-width: 80%;
  }
}


@media screen and (max-width: 480px) {}
