<title>{{ "pages.guide-page.title" | translate }}</title>
<h1 id="title">{{ title }}</h1>
<div id="layout" [dir]="langDirectionService.currentLangDirection">
  <div id="buttons" class="d-flex flex-column">
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 1 }"
      type="button"
      (click)="selectedTopicChanged(1)"
      mat-menu-item
    >
      {{ "pages.guide-page.layout.buttons.what-is-mentor-cards" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 2 }"
      type="button"
      (click)="selectedTopicChanged(2)"
      mat-menu-item
    >
      {{ "pages.guide-page.layout.buttons.how-to-connect" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 3 }"
      type="button"
      (click)="selectedTopicChanged(3)"
      mat-menu-item
    >
      {{
        "pages.guide-page.layout.buttons.how-to-enter-coupon-code" | translate
      }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 4 }"
      type="button"
      (click)="selectedTopicChanged(4)"
      mat-menu-item
    >
      {{ "pages.guide-page.layout.buttons.our-guide-books" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 5 }"
      type="button"
      (click)="selectedTopicChanged(5)"
      mat-menu-item
    >
      {{ "pages.guide-page.layout.buttons.our-card-sets" | translate }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 6 }"
      type="button"
      (click)="selectedTopicChanged(6)"
      mat-menu-item
    >
      {{
        "pages.guide-page.layout.buttons.plans-prices-cancellations" | translate
      }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 7 }"
      type="button"
      (click)="selectedTopicChanged(7)"
      mat-menu-item
    >
      {{
        "pages.guide-page.layout.buttons.key-principles-in-working-with-cards"
          | translate
      }}
    </button>
    <button
      [ngClass]="{ btn: true, 'selected-btn': selectedBtn == 8 }"
      type="button"
      (click)="selectedTopicChanged(8)"
      mat-menu-item
    >
      {{
        "pages.guide-page.layout.buttons.how-to-work-with-digital-card-set"
          | translate
      }}
    </button>
  </div>
  <div id="line"></div>
  <div id="content">
    <div id="content1" *ngIf="selectedBtn === 1">
      <p>
        {{ "pages.guide-page.content.content1.paragraph1" | translate }}<br />
        {{ "pages.guide-page.content.content1.paragraph2" | translate }}
        <br /><br />
        {{ "pages.guide-page.content.content1.paragraph3" | translate }}
      </p>
      <img
        id="all-screens-img"
        src="https://master-cards.s3.eu-west-2.amazonaws.com/responsive.png"
        alt="Desktop laptop tablet and phone showing Mentor-cards responsive abilities"
      />
    </div>
    <div id="content4" *ngIf="selectedBtn === 4">
      <p>
        {{ "pages.guide-page.content.content4.p1" | translate }}<br />
        {{ "pages.guide-page.content.content4.p2" | translate }}<br />
        {{ "pages.guide-page.content.content4.p3.1" | translate }} <br />
        {{ "pages.guide-page.content.content4.p3.2" | translate }}
      </p>
      <ul>
        <li>{{ "pages.guide-page.content.content4.li1" | translate }}</li>
        <li>{{ "pages.guide-page.content.content4.li2" | translate }}</li>
        <li>{{ "pages.guide-page.content.content4.li3" | translate }}</li>
        <li>{{ "pages.guide-page.content.content4.li4" | translate }}</li>
      </ul>
      <p>
        {{ "pages.guide-page.content.content4.p4" | translate }}
      </p>
      <h1>{{ "pages.guide-page.content.content4.h1" | translate }}</h1>
      <p>
        {{ "pages.guide-page.content.content4.p5.1" | translate }}<br />{{
          "pages.guide-page.content.content4.p5.2" | translate
        }}<br />
        {{ "pages.guide-page.content.content4.p6" | translate }}<br />
        {{ "pages.guide-page.content.content4.p7" | translate }}!
      </p>
      <p style="font-weight: bold">
        {{ "pages.guide-page.content.content4.pBold" | translate }}
      </p>
      <ol>
        <li>{{ "pages.guide-page.content.content4.ol1" | translate }}</li>
        <li>
          {{ "pages.guide-page.content.content4.ol2" | translate }}
        </li>
        <li>
          {{ "pages.guide-page.content.content4.ol3" | translate }}
        </li>
        <li>
          {{ "pages.guide-page.content.content4.ol4" | translate }}
        </li>
      </ol>
      <img
        onload="this.style.opacity='1'"
        src="../../../assets/Share Mentor Cards.png"
        class="screen-share-img"
        alt="Screen shot, explaining how to share the site properly and use the guide book at the same time"
      />
      <iframe
        class="responsive-iframe-with-text"
        src="https://www.youtube.com/embed/mcRuLFQv-qE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div id="content5" *ngIf="selectedBtn === 5">
      <p>
        <b> {{ "pages.guide-page.content.content5.p1.b" | translate }}</b>
        {{ "pages.guide-page.content.content5.p1.text1" | translate }}<br />
        {{ "pages.guide-page.content.content5.p1.br" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p2.b" | translate }}</b>
        {{ "pages.guide-page.content.content5.p2.text" | translate }}
      </p>
      <p>
        <b
          >{{ "pages.guide-page.content.content5.p3.b1" | translate }}
          <mat-icon>favorite_border</mat-icon
          >{{ "pages.guide-page.content.content5.p3.b2" | translate }}
        </b>
        {{ "pages.guide-page.content.content5.p3.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p4.b" | translate }} </b>
        {{ "pages.guide-page.content.content5.p4.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p5.b" | translate }}</b
        >{{ "pages.guide-page.content.content5.p5.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p6.b" | translate }}</b
        >{{ "pages.guide-page.content.content5.p6.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p7.b" | translate }}</b
        >{{ "pages.guide-page.content.content5.p7.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p8.b" | translate }}</b
        >{{ "pages.guide-page.content.content5.p8.text" | translate }}
      </p>
      <p>
        <b> {{ "pages.guide-page.content.content5.p9.b" | translate }}</b
        >{{ "pages.guide-page.content.content5.p9.text" | translate }}
      </p>
    </div>
    <div id="content6" *ngIf="selectedBtn === 6">
      <span
        ><u>{{
          "pages.guide-page.content.content6.span1" | translate
        }}</u></span
      >
      <ul>
        <li>
          <b>{{ "pages.guide-page.content.content6.ul.li1.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ul.li1.text" | translate }}
        </li>
        <li>
          <b>{{ "pages.guide-page.content.content6.ul.li2.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ul.li2.text" | translate }}
        </li>
        <li>
          <b>{{ "pages.guide-page.content.content6.ul.li3.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ul.li3.text" | translate }}
        </li>
      </ul>
      <span
        ><u>{{
          "pages.guide-page.content.content6.span2" | translate
        }}</u></span
      >
      <ol>
        <li>
          <b>{{ "pages.guide-page.content.content6.ol.li1.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ol.li1.text" | translate }}
        </li>
        <li>
          <b>{{ "pages.guide-page.content.content6.ol.li2.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ol.li2.text" | translate }}
        </li>
        <li>
          <b>{{ "pages.guide-page.content.content6.ol.li3.b" | translate }}</b
          >{{ "pages.guide-page.content.content6.ol.li3.text" | translate }}
        </li>
      </ol>
      <span
        ><u>{{
          "pages.guide-page.content.content6.span3" | translate
        }}</u></span
      >
      <p>
        {{ "pages.guide-page.content.content6.p1" | translate }}<br />
        {{ "pages.guide-page.content.content6.p2" | translate }}<br />
        {{ "pages.guide-page.content.content6.p3" | translate }}<br />
        {{ "pages.guide-page.content.content6.p4" | translate }}
      </p>
    </div>
    <div id="content7" *ngIf="selectedBtn === 7">
      <p>
        {{ "pages.guide-page.content.content7.p1" | translate }}<br />
        {{ "pages.guide-page.content.content7.p2" | translate }}<br />
        {{ "pages.guide-page.content.content7.p3" | translate }}<br />
        {{ "pages.guide-page.content.content7.p4" | translate }}<br />
        {{ "pages.guide-page.content.content7.p5" | translate }}​
      </p>
      <span
        ><u>
          {{ "pages.guide-page.content.content7.span" | translate }}​</u
        ></span
      >
      <ol>
        <li>
          {{ "pages.guide-page.content.content7.ol1.b" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol1.text1" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol1.text2" | translate }}​ ​
        </li>
        <li>
          {{ "pages.guide-page.content.content7.ol2.b" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol2.text1" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol2.text2" | translate }}​ ​<br />
          {{ "pages.guide-page.content.content7.ol2.text3" | translate }}​
        </li>
        <li>
          {{ "pages.guide-page.content.content7.ol3.b" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol3.text1" | translate }}​ ​
        </li>
        <li>
          {{ "pages.guide-page.content.content7.ol4.b" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol4.text1" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol4.text2" | translate }}​ ​
        </li>
        <li>
          {{ "pages.guide-page.content.content7.ol7.b" | translate }}​<br />
          {{ "pages.guide-page.content.content7.ol7.text1" | translate }}​ ​
        </li>
      </ol>
      <iframe
        class="responsive-iframe-with-text"
        src="https://www.youtube.com/embed/vpoUP_cUguM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div id="content2" class="iframe-container" *ngIf="selectedBtn === 2">
      <iframe
        class="responsive-iframe"
        src="https://www.youtube.com/embed/tPQeujPLl-s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div id="content3" class="iframe-container" *ngIf="selectedBtn === 3">
      <iframe
        class="responsive-iframe"
        src="https://www.youtube.com/embed/D9_CAABE86Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div id="content8" class="iframe-container" *ngIf="selectedBtn === 8">
      <p>
        {{ "pages.guide-page.content.content8.p1" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p2_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p2_text" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p3_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p3_text" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p4_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p4_text" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p5_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p5_text" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p6_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p6_text" | translate }}
      </p>
      <p>
        {{ "pages.guide-page.content.content8.button" | translate }}
        <b> {{ "pages.guide-page.content.content8.p7_b" | translate }} </b>
        {{ "pages.guide-page.content.content8.p7_text" | translate }}
      </p>
    </div>
  </div>
  <img
    onload="this.style.opacity='1'"
    src="../../../assets/flowers.png"
    class="flower-img"
    alt="Decorative flowers"
  />
</div>

<div id="accordion" [dir]="langDirectionService.currentLangDirection">
  <mat-accordion>
    <mat-expansion-panel (click)="selectedTopicChanged(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel1.mat-panel-title"
            | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel1.p1"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel1.p2"
            | translate
        }}<br /><br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel1.p3"
            | translate
        }}
      </p>
      <img
        id="all-screens-img"
        src="https://master-cards.s3.eu-west-2.amazonaws.com/responsive.png"
        alt="Desktop laptop tablet and phone showing Mentor-cards responsive abilities"
      />
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel2.mat-panel-title"
            | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel2.text"
            | translate
        }}
      </p>
      <iframe
        class="responsive-iframe-panel-mobile"
        src="https://www.youtube.com/embed/tPQeujPLl-s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(3)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel3.mat-panel-title"
            | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel3.text"
            | translate
        }}
      </p>
      <iframe
        class="responsive-iframe-panel-mobile"
        src="https://www.youtube.com/embed/D9_CAABE86Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.mat-panel-title"
            | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p1_1"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p1_2"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p1_3"
            | translate
        }}
        <br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p1_4"
            | translate
        }}
      </p>
      <ul>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ul.li1"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ul.li2"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ul.li3"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ul.li4"
              | translate
          }}
        </li>
      </ul>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p2_1"
            | translate
        }}
      </p>
      <h1>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.h1"
            | translate
        }}
      </h1>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p3_1"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p3_2"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p3_3"
            | translate
        }}<br />
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p3_4"
            | translate
        }}
      </p>
      <p style="font-weight: bold">
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.p_bold"
            | translate
        }}
      </p>
      <ol>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ol.li1"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ol.li2"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ol.li3"
              | translate
          }}
        </li>
        <li>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel4.ol.li4"
              | translate
          }}
        </li>
      </ol>
      <img
        onload="this.style.opacity='1'"
        src="../../../assets/Share Mentor Cards.png"
        class="screen-share-img"
        alt="Screen shot, explaining how to share the site properly and use the guide book at the same time"
      />
      <iframe
        class="responsive-iframe-with-text"
        src="https://www.youtube.com/embed/mcRuLFQv-qE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="selectedTopicChanged(5)">
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.mat-panel-title"
            | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p1_1_b"
            | translate
        }}</b>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p1_1"
            | translate
        }}<br />{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p1_2"
            | translate
        }}
      </p>
      <p>
        <b>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p2_1_b"
            | translate
        }}</b>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p2_1"
            | translate
        }}
      </p>
      <p>
        <b>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p3_1_b"
            | translate
        }}<mat-icon>favorite_border</mat-icon> -</b> {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p3"
            | translate
        }}
      </p>
      <p>
        <b>{{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p4_1_b"
            | translate
        }}
          </b>
          {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p4_1"
              | translate
          }} </p>
      <p>
        <b> {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p5_1_b"
            | translate
        }}</b>  {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p5_1"
            | translate
        }} </p>
        <p>
          <b> {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p6_1_b"
              | translate
          }}</b>  {{
            "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p6_1"
              | translate
          }} </p>
          <p>
            <b> {{
              "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p7_1_b"
                | translate
            }}</b>  {{
              "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p7_1"
                | translate
            }} </p>
            <p>
              <b> {{
                "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p8_1_b"
                  | translate
              }}</b>  {{
                "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p8_1"
                  | translate
              }} </p>
              <p>
                <b> {{
                  "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p9_1_b"
                    | translate
                }}</b>  {{
                  "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p9_1"
                    | translate
                }} </p>
      <p>
        {{
          "pages.guide-page.accordion.mat-accordion.mat-expansion-panel5.p10_1"
            | translate
        }}
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(6)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.mat_expansion_panel_header.mat_panel_title"| translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <span><u>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.join_our_plans"| translate }} </u></span>
      <ul>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.full_access.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.full_access.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.guide_book.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.guide_book.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.all_capabilities.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.all_capabilities.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.dynamic_content.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.dynamic_content.normal"| translate }} </li>
      </ul>
      <span><u>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.we_offer"| translate }}</u></span>
      <ol>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.free_plan.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.free_plan.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.monthly_plan.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.monthly_plan.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.annual_plan.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.annual_plan.normal"| translate }} </li>
        <li><b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.vip_plan.bold"| translate }} </b>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.vip_plan.normal"| translate }} </li>
      </ol>
      <span><u>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.cancellations"| translate }}</u></span>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.cancellation_policy.part1"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.cancellation_policy.part2"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.cancellation_policy.part3"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel6.cancellation_policy.part4"| translate }}
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(7)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.mat_expansion_panel_header.mat_panel_title"| translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.first_step.part1"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.first_step.part2"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.first_step.part3"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.first_step.part4"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.first_step.part5"| translate }}​
      </p>
      <span><u>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.key_principles"| translate }}</u></span>
      <ol>
        <li>
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle1.part1"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle1.part2"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle1.part3"| translate }}​​
        </li>
        <li>
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle2.part1"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle2.part2"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle2.part3"| translate }}<br />
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle2.part4"| translate }}​
        </li>
        <li>
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle3.part1"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle3.part2"| translate }}​​​
        </li>
        <li>
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle4.part1"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle4.part2"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle4.part3"| translate }}​​
      ​
        </li>
        <li>
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle5.part1"| translate }}<br />
          {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel7.principle5.part2"| translate }}​​​
    
        </li>
      </ol>
      <iframe
        style="margin-bottom: 5%"
        class="responsive-iframe-panel-mobile"
        src="https://www.youtube.com/embed/vpoUP_cUguM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </mat-expansion-panel>

    <mat-expansion-panel
      (click)="selectedTopicChanged(8)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.mat_expansion_panel_header.mat_panel_title"| translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>
       {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.first_step"| translate }}
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.flip_cards_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.flip_cards_button.normal"| translate }}  
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.display_number_cards_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.display_number_cards_button.normal"| translate }}  
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.shuffle_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.shuffle_button.normal"| translate }}  
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.display_random_card_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.display_random_card_button.normal"| translate }}  
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.edit_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.edit_button.normal"| translate }}  
      </p>
      <p>
        {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.button"| translate }} <b>"   {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.guidebook_button.bold"| translate }}   "   </b>  {{"pages.guide-page.accordion.mat-accordion.mat_expansion_panel8.guidebook_button.normal"| translate }}  
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<app-information-bar></app-information-bar>
