<title>Mentor-Cards עמוד הדרכה על שימוש באתר</title>
<h1 id="title">{{title}}</h1>
<div id="layout">
    <div id="buttons" class="d-flex flex-column">
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==1}" type="button" (click)="selectedTopicChanged(1, 'מהות העבודה עם קלפים​')"
            mat-menu-item>
            מהות העבודה עם קלפים​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==2}" type="button" (click)="selectedTopicChanged(2, 'המלצות כלליות לעבודה עם קלפים​​')"
            mat-menu-item>
            המלצות כלליות לעבודה עם קלפים​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==3}" type="button" (click)="selectedTopicChanged(3, 'ספרי ההדרכה שלנו​​')"
            mat-menu-item>
            ספרי ההדרכה שלנו​</button>
        <button [ngClass]="{'btn': true, 'selected-btn': selectedBtn==4}" type="button" (click)="selectedTopicChanged(4, 'הסבר לעבודה עם תוכנות לשיחות וידאו​​')"
            mat-menu-item>
            הסבר לעבודה עם תוכנות לשיחות וידאו <br> ושיתוף מסך (ZOOM/Skype/Teams)
        </button>
    </div>
    <div id="line"></div>
    <div id="content">
        <div id="content1" *ngIf="selectedBtn==1">
            <p>הצעד הראשון בהתבוננות מתחיל בעצירה.<br>
                העצירה מאפשרת לנו לשאול את עצמנו שאלות, ולבדוק האם אנחנו בכיוון הנכון לנו.<br>
                מתוך התבוננות תתאפשר הסקת מסקנות ובניית תוכנית פעולה קדימה.<br>
                "קלפים מקלפים" - עוקפי מודע, עוזרים לנו להגיע לרבדים עמוקים יותר בתוכנו.<br>
                קלפים מרחיבים את נקודת מבטנו מעבר לאזור הנוחות המוכר לנו ומציעים לנו שלל של הזדמנויות ודרכי חשיבה חדשות.
                ​</p>
        </div>
        <div id="content2" *ngIf="selectedBtn==2">
            <ol>
                <li>לפני כל שליפת קלף מומלץ לשאול שאלה. לאחר שליפת הקלף יש לאפשר זמן לבוחר להתבוננות בקלף ולשאלה שנשאלה
                    להדהד. לא למהר לשאול שאלה נוספת. ​</li>
                <li>האמת היא בעיני בוחר הקלף ולכן כל התשובות נכונות. אין תוצאה טובה או לא טובה. האופן שבו בוחר הקלף
                    מתייחס לקלפיו, מבטא את תפיסתו ואמונותיו האישיות.
                    נכון לאפשר לגיטימציה מלאה לבחירה ולפרשנות אישית על מנת ליצור מרחב בטוח. </li>
                <li>
                    ספר ההדרכה המוצע לכל ערכת קלפים הוא בגדר המלצה בלבד, אינו מחייב ואנו אף מעודדים אתכם, לכתוב שאלות
                    ורעיונות משלכם ולכן יצרנו לכך מקום ייעודי בספר ההדרכה שבו תוכלו להקליד את הדברים טרם תחילת הפגישה
                    ואף במהלכה.
                    ​
                </li>
                <li>
                    בכל רגע נתון אפשר להוסיף או להחליף קלף. לפני שמבצעים זאת מומלץ לשאול את בוחר הקלף - מה בקלף הזה יוצר
                    בך את ההתנגדות? מה הסיבה שלא התחברת לקלף?
                    אין קלפים טובים או רעים.
                    ​
                </li>
                <li>
                    בחירת הקלפים נכונה לזמן הווה ומתארת את הפרשנות, הרגשות, ההוויה והלך הרוח של בוחר הקלף ברגע זה. בזמן
                    או במצב אחר, יכולה לעלות תגובה שונה.
                </li>
            </ol>
        </div>
        <div id="content3" *ngIf="selectedBtn==3">
            <p>
                לכל ערכת קלפים מצורף ספר הדרכה.<br>
                ​לצפייה בספר ההדרכה יש לבחור את ערכת הקלפים הרצויה וללחוץ על כפתור "ספר הדרכה" הנמצא מצד שמאל למעלה.<br>
                ספר ההדרכה מכיל שאלות והפעלות שונות לשימוש בערכת הקלפים בחלוקה לנושאים הבאים:
            </p>
            <ul>
                <li>הצעות לעבודה אחד על אחד
                </li>
                <li>הצעות לעבודה עם יותר מקלף אחד - עבודה תהליכית
                </li>
                <li>הצעות לעבודה בקבוצות
                </li>
                <li>הצעות לעבודה עם קלפי מילה (בערכות קלפי מילה)
                </li>
            </ul>
            <p>
                כמו כן, קיימת חלוקה לשאלות כשהקלפים במצב גלוי או סמוי
                (לכל אחת מהשיטות יתרונותיה הייחודים).
            </p>
        </div>
        <div id="content4" class="d-flex flex-column" *ngIf="selectedBtn==4">
            <div>
                <p>
                    אנחנו יודעים שעבודה עם קלפים דורשת הקשבה ורמת מיומנות גבוהה ולכן היה חשוב לנו לבנות ממשק המאפשר
                    בטחון
                    ומגדיל מרחב תנועה וגמישות לבחירת השאלות הנכונות תוך כדי המפגש.<br>
                    ממשק ספר ההדרכה בנוי באופן המאפשר לכם לצפות בשאלות וברעיונות בספר בחלון עבודה נפרד על מנת שבוחר הקלף
                    יצפה בערכת הקלפים בלבד ולא בספר עצמו.<br>
                    ​​ הוראות לשימוש בתוכנת ZOOM
                    (יש אפשרויות דומות בתוכנות וידאו אחרות כמו: Skype, Teams ועוד):
                </p>
                <ol>
                    <li>
                        בעמוד "כל ערכות הקלפים", בחרו את ערכת הקלפים בה תרצו להשתמש.
                    </li>
                    <li>
                        לחצו על כפתור "ספר הדרכה" אשר נמצא בצידו השמאלי העליון של דף זה.
                    </li>
                    <li>
                        בתוכנת הZOOM ללחוץ על כפתור ה - “SHARE” אשר נמצא במרכז אפליקציית הZOOM ובחלקה התחתון.
                    </li>
                    <li>
                        יש לבחור בשיתוף מסך עבור הדפדפן שלכם בו מוצגת ערכת הקלפים. שימו לב כי אפשרות ברירת המחדל היא
                        להציג
                        את כל המסך ואיננו רוצים זאת, אלא רק את הדפדפן שלכם.
                    </li>
                </ol>
            </div>
            <img onload="this.style.opacity='1'" src="../../../assets/Share Mentor Cards.png" class="screen-share-img">
            <p>
                ​ כעת אתם יכולים להשתמש בקלפים וגם לקרוא בספר ההדרכה באותו הזמן.​ תיהנו!​
            </p>
        </div>
    </div>
    <img onload="this.style.opacity='1'" src="../../../assets/flowers.png" class="flower-img">
</div>

<div id="accordion">
    <mat-accordion>
        <mat-expansion-panel (click)="selectedTopicChanged(1, 'מהות העבודה עם קלפים​')"  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    מהות העבודה עם קלפים
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>הצעד הראשון בהתבוננות מתחיל בעצירה.<br>
                העצירה מאפשרת לנו לשאול את עצמנו שאלות, ולבדוק האם אנחנו בכיוון הנכון לנו.<br>
                מתוך התבוננות תתאפשר הסקת מסקנות ובניית תוכנית פעולה קדימה.<br>
                "קלפים מקלפים" - עוקפי מודע, עוזרים לנו להגיע לרבדים עמוקים יותר בתוכנו.<br>
                קלפים מרחיבים את נקודת מבטנו מעבר לאזור הנוחות המוכר לנו ומציעים לנו שלל של הזדמנויות ודרכי חשיבה חדשות.
                ​</p>
        </mat-expansion-panel>

        <mat-expansion-panel (click)="selectedTopicChanged(2, 'המלצות כלליות לעבודה עם קלפים​​')"  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    המלצות כלליות לעבודה עם קלפים​
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ol>
                <li>לפני כל שליפת קלף מומלץ לשאול שאלה. לאחר שליפת הקלף יש לאפשר זמן לבוחר להתבוננות בקלף ולשאלה שנשאלה
                    להדהד. לא למהר לשאול שאלה נוספת. ​</li>
                <li>האמת היא בעיני בוחר הקלף ולכן כל התשובות נכונות. אין תוצאה טובה או לא טובה. האופן שבו בוחר הקלף
                    מתייחס לקלפיו, מבטא את תפיסתו ואמונותיו האישיות.
                    נכון לאפשר לגיטימציה מלאה לבחירה ולפרשנות אישית על מנת ליצור מרחב בטוח. </li>
                <li>
                    ספר ההדרכה המוצע לכל ערכת קלפים הוא בגדר המלצה בלבד, אינו מחייב ואנו אף מעודדים אתכם, לכתוב שאלות
                    ורעיונות משלכם ולכן יצרנו לכך מקום ייעודי בספר ההדרכה שבו תוכלו להקליד את הדברים טרם תחילת הפגישה
                    ואף במהלכה.
                    ​
                </li>
                <li>
                    בכל רגע נתון אפשר להוסיף או להחליף קלף. לפני שמבצעים זאת מומלץ לשאול את בוחר הקלף - מה בקלף הזה יוצר
                    בך את ההתנגדות? מה הסיבה שלא התחברת לקלף?
                    אין קלפים טובים או רעים.
                    ​
                </li>
                <li>
                    בחירת הקלפים נכונה לזמן הווה ומתארת את הפרשנות, הרגשות, ההוויה והלך הרוח של בוחר הקלף ברגע זה. בזמן
                    או במצב אחר, יכולה לעלות תגובה שונה.
                </li>
            </ol>
        </mat-expansion-panel>

        <mat-expansion-panel (click)="selectedTopicChanged(3, 'ספרי ההדרכה שלנו​​')" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ספרי ההדרכה שלנו
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                לכל ערכת קלפים מצורף ספר הדרכה.<br>
                ​לצפייה בספר ההדרכה יש לבחור את ערכת הקלפים הרצויה וללחוץ על כפתור "ספר הדרכה" הנמצא מצד שמאל למעלה.<br>
                ספר ההדרכה מכיל שאלות והפעלות שונות לשימוש בערכת הקלפים בחלוקה לנושאים הבאים:
            </p>
            <ul>
                <li>הצעות לעבודה אחד על אחד
                </li>
                <li>הצעות לעבודה עם יותר מקלף אחד - עבודה תהליכית
                </li>
                <li>הצעות לעבודה בקבוצות
                </li>
                <li>הצעות לעבודה עם קלפי מילה (בערכות קלפי מילה)
                </li>
            </ul>
            <p>
                כמו כן, קיימת חלוקה לשאלות כשהקלפים במצב גלוי או סמוי
                (לכל אחת מהשיטות יתרונותיה הייחודים).
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel (click)="selectedTopicChanged(4, 'הסבר לעבודה עם תוכנות לשיחות וידאו​​')"  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    הסבר לעבודה עם תוכנות לשיחות וידאו <br> ושיתוף מסך (ZOOM/Skype/Teams)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p>
                    אנחנו יודעים שעבודה עם קלפים דורשת הקשבה ורמת מיומנות גבוהה ולכן היה חשוב לנו לבנות ממשק המאפשר
                    בטחון
                    ומגדיל מרחב תנועה וגמישות לבחירת השאלות הנכונות תוך כדי המפגש.<br>
                    ממשק ספר ההדרכה בנוי באופן המאפשר לכם לצפות בשאלות וברעיונות בספר בחלון עבודה נפרד על מנת שבוחר הקלף
                    יצפה בערכת הקלפים בלבד ולא בספר עצמו.<br>
                    ​​ הוראות לשימוש בתוכנת ZOOM
                    (יש אפשרויות דומות בתוכנות וידאו אחרות כמו: Skype, Teams ועוד):
                </p>
                <ol>
                    <li>
                        בעמוד "כל ערכות הקלפים", בחרו את ערכת הקלפים בה תרצו להשתמש.
                    </li>
                    <li>
                        לחצו על כפתור "ספר הדרכה" אשר נמצא בצידו השמאלי העליון של דף זה.
                    </li>
                    <li>
                        בתוכנת הZOOM ללחוץ על כפתור ה - “SHARE” אשר נמצא במרכז אפליקציית הZOOM ובחלקה התחתון.
                    </li>
                    <li>
                        יש לבחור בשיתוף מסך עבור הדפדפן שלכם בו מוצגת ערכת הקלפים. שימו לב כי אפשרות ברירת המחדל היא
                        להציג
                        את כל המסך ואיננו רוצים זאת, אלא רק את הדפדפן שלכם.
                    </li>
                </ol>
            </div>
            <img onload="this.style.opacity='1'" src="../../../assets/Share Mentor Cards.png" class="screen-share-img">
            <p>
                ​ כעת אתם יכולים להשתמש בקלפים וגם לקרוא בספר ההדרכה באותו הזמן.​ תיהנו!​
            </p><br>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<app-information-bar></app-information-bar>