h1,
h2 {
  font-family: "Open Sans Hebrew", sans-serif !important;
}

.nav {
  background-color: #ffffffd4;
  /* opacity: 1; */
}

app-card {
  margin: 10px 10px;
  width: 100%;
  transition: transform 0.3s ease, translate 1s ease-in;
}

app-card.card-width {
  width: 10rem !important;
}

app-card:hover {
  transform: scale(1.03);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: 10px;
}

/* Speed of shuffle */
.flip-list-move {
  transition: transform 2s;
}

.nav-buttons {
  margin: 5px 10px 5px 0px;
  align-items: center;
}

.cards-container {
  padding-bottom: 3rem;
}

.bottom-nav {
  position: fixed;
  bottom: 5px;
  width: 100%;
  margin-top: 15px;
  transform: translateY(0px);
  transition: transform 0.3s linear, opacity 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .close-cards-view {
  left: 50%
} */

.bottom-nav-hidden {
  transform: translateY(3rem);
  opacity: 0;
  /* transition: transform 0.3s linear; */
}

.sticky-top {
  z-index: 4;
}

.option-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px;
  /* color: #ffa800; */
  border-color: var(--main-color);
  font-weight: 500;
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option-menu-btn {
  font-weight: 500;
  font-size: large;
  text-align: end;
}

button:focus {
  outline: none;
}

.top-option-btn {
  background: white;
  color: var(--main-color);
}

.top-option-btn:hover {
  background: #fff5e2;
}

.top-option-btn:active {
  background: #ffebc4;
}

.top-option-btn-disabled {
  background: #c3c3c3;
  color: #686868;
}

.about-author-option-btn {
  background: #ffbe41;
  color: #717171;
}

.about-author-option-btn:hover {
  background: #e6aa3b;
}

.about-author-option-btn:active {
  background: #ca9635;
}

.bottom-option-btn {
  opacity: 1;
  background: var(--main-color);
  color: white;
}

/* .bottom-option-btn:disabled {
  background: #d8d8d8;
  color: rgb(160 160 160);
} */

.bottom-option-btn:enabled:hover {
  background: #e69900;
  color: white;
}

.bottom-option-btn:enabled:active {
  background: #db9200;
  color: white;
}

p {
  margin: 10px;
  font-size: 1rem;
}

/* @media screen and (max-width: 600px) {
  p {
    margin: 10px;
    font-size: inherit;
  }
} */

::ng-deep .cdk-overlay-pane {
  max-width: 90vw !important;
}

ul {
  list-style: none;
  line-height: 2rem;
  text-align: right;
  font-size: 1rem;
  padding-right: 0rem;
  max-width: 90%;
}

ul li:before {
  content: "✓";
}

li span {
  position: relative;
  left: -10px;
}

#introduction {
  align-items: center;
  background: #fff1d6de;
  padding: 2%;
  border-radius: 20px;
  width: fit-content;
  max-width: 90%;
}

#middle {
  font-size: x-large;
  text-align: center;
}

.action-button {
  height: 3rem;
  font-size: x-large;
  /* width: 10rem; */
  border-radius: 5px;
  background: var(--main-color);
  color: white;
  border: none;
  font-weight: 500;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.line {
  background-color: var(--main-color);
  width: auto;
  height: 3px;
  margin-bottom: 1rem;
}

#about-author {
  font-size: medium;
  text-decoration: underline;
  margin-right: 10px;
}

#about-author:hover {
  color: #717171;
}

#mult-choise-btn {
  display: flex;
  align-items: center;
  width: min-content;
}

#mult-choise-btn-txt {
  font-size: 1rem;
  margin-left: 5px;
  color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--main-color-light);
}

#actions {
  display: inherit;
}

#menu-actions {
  display: none;
  color: var(--main-color);
  background: white;
  border-radius: 5px;
  border: none;
}

.grid-display {
  display: grid;
  grid-template-columns: 34% 1fr;
}

.section-drop-down {
  width: 50% !important;
}
/* .reveal-card {
  animation: fadeIn 0.4s, slideUp 0.6s;
} */
 

/* Custom drop-down CSS */
.dropdown {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.dropdown-select {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #E67C73;  
  cursor: pointer;
  height: 50px;
  background-color: transparent; 
  text-align: center;
}

.dropdown-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  text-align: start
}

.dropdown-option {
  display: flex;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}

.dropdown-option:hover {
  font-weight: bold;
}

.dropdown-options.show {
  display: block;
}

.icon {
  margin-left: 10px;
  font-size: 16px;
}

.dropdown-icon {
  position:absolute;
  left: -5px;
  bottom: 8px;
}

/* End Drop-down CSS Here */


.z-8 {
  z-index: 8;
}

.btn-close {
  position: absolute;
  top: 15px;
  right:15px;
}


.download-button {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.drop-down {
  max-width: 779px;
  color: white;
  font-weight: 600;
  font-size: 38;
  margin-bottom: 5px;
}

/* Aside bar */
.aside-bar {

  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 219px;
  padding: 60px 0px 10px 0px; 

}

.aside-button {
  width: 207px;
  height: 47px;
  background-color: #FFE0D8;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;

}


.aside-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.category-section{
  display: flex;
  flex-direction: column;
}

.category-row {
  border-bottom: 1px solid #E67C73;
}

.overflow-cards{
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px; /* Optional: Adds padding below the cards */

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
}

app-card.scrollableCard{
  flex: 0 0 300px; 
  min-width: 200px; 
  margin-right: 10px; 
}

.category-name {
  position: relative;
  text-align: right;
}

.selected-category {
  opacity: 30%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  ::ng-deep .cdk-overlay-pane {
    max-width: 80vw !important;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .text-xxs {
    font-size: 0.48rem;
  }

  .text-size-10 {
    font-size: 10px;
  }

  .btn-1 { width: 70px; }
  .btn-2 { width: 50px; }
  .btn-4 { width: 61px; }

  .padding-zero {
    padding: 0px;
  }

  .padding-20{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px !important;
  }

  .section-drop-down {
    width: 100% !important;
    padding-left: 20px;
  }

  .background-white {
    background-color: white;
  }

  .img-pen {
    padding: 0;
    height: 12px;
    width: 12px;
  }

  .img-hand {
    padding: 0;
  height: 25px;
  width: 25px;
  }

  .img-link {
    padding: 0;
    height: 11px;
    width: 31px;
  }

  .img-info {
    padding: 0;
    width: 8px;
    height: 15px;
  }

  .img-shuffle {
    padding: 0;
    height: 15px;
    width: 32px;
  }

  .btn-height-35 {
    text-align: center;
    height: 35px;
  }

  .padding-none {
    padding: 0px !important;
  }
  .c-gap {
    grid-gap: 0.5rem !important;
  }

  .dropdown-icon {
    position:absolute;
    left: 3px;
    bottom: 8px;
  }

  .dropdown-select {
    margin-bottom: 10px;
    height: 59px;
  }

  .mobile-bg {
    background-color: #f8f9fa;

  }

  .aside-bar {
    display: none;
  }

  app-card.scrollableCard{
    flex: 0 0 180px; 
    min-width: 180px; 
    margin-right: 10px; 
  }

  .overflow-cards {
    max-width: 770px;
  }
  .category-name {
    text-align: left;
  }

  .left-to-category {
    left: -23px;
  }

  .category-container {
    width: 50%;
  }

}

@media screen and (max-width: 600px) {
  #actions {
    display: none;
  }

  #menu-actions {
    display: inherit;
  }

  .category-container {
    width: 44%;
  }
}

@media screen and (max-width: 480px) {
  .option-btn {
    font-weight: 800;
    font-size: medium;
  }

  .bottom-nav-edit {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .cards-container {
    padding-bottom: 6rem;
  }
  .category-container {
    width: 32%;
  }
}

@media screen and (max-width: 320px) {
  #guide-book-icon {
    display: none;
    color: var(--main-color);
  }

  .category-container {
    width: 26%;
  }

}

/* --------------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color-light);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}

.link-button {
  background-color: transparent;
  color: #007bff;
  /* Bootstrap link color */
  text-decoration: underline;
  padding: 0;
  font-size: large;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  /* Adjust the gap between the icon and text */
}

::ng-deep .custom-tooltip .mat-tooltip {
  font-size: x-large;
}

.link-button .mat-icon {
  vertical-align: middle;
}

.link-button:hover,
.link-button:focus {
  background-color: transparent;
  opacity: 0.75;
}

/* Existing .link-button and .mat-icon styles remain the same */

.right-side-container {
  display: flex;
  justify-content: center;
  /* Aligns children (the button) to the right */
  width: 100%;
}

.guide-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px white;
  /* color: #ffa800; */
  background: var(--main-color);
  color: white;
  border-color: white;
  font-weight: 500;
  font-family: var(--main-font-family);
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.guide-btn:hover {
  background: #eb9c00;
}

.guide-btn:active {
  background: #db9200;
}

/* The Modal (background) */
.selected-cards-modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(5px);
}

/* Modal Content */
.selected-cards-modal-content {
  height: 100%;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0px);
  }
}

.random-content,
.selected-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 80%;
  align-items: center;
  flex-direction: column;
}

.selected-content-one-card {
  justify-content: center !important;
}

.card-view {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 13px;
}

/* 'rotated-one-cards': selectedCards.length == 1 && card.rotation !== 0,
'rotated-two-cards': selectedCards.length == 2 && card.rotation !== 0,
'rotated-three-cards': selectedCards.length == 3 && card.rotation !== 0,
'rotated-four-cards': selectedCards.length == 4 && card.rotation !== 0,
'rotated-five-cards': selectedCards.length == 5 && card.rotation !== 0 */

.one-cards-landscape,
.two-cards-landscape,
.three-cards-landscape,
.four-cards-landscape,
.five-cards-landscape {
  /* width: 85vw; */
  height: 20vh;
}

.one-cards-landscape img {
  max-width: 100%;
  max-height: 100%;
  height: 75vw;
  object-fit: contain;
  display: block;
  margin: 0 5px;
}

.one-cards-landscape {
  position: relative;
  height: calc(100vw / 2.5);
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}
.two-cards-landscape {
  /* width: calc(100vw /3.2); */
  height: calc(100vw / 3.5);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.three-cards-landscape {
  width: calc(100vw / 4);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.four-cards-landscape {
  width: calc(100vw / 5);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.five-cards-landscape {
  width: calc(100vw / 6);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.two-cards-landscape,
.rotated-two-cards-landscape {
  height: calc(100vw / 3.5);
  width: 100%;
  max-width: 80vw;
  margin-inline: 3vw;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.three-cards-landscape,
.rotated-three-cards-landscape {
  width: auto;
  height: calc(40vh);
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.four-cards-landscape,
.rotated-four-cards-landscape {
  width: auto;
  height: 30vh;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.five-cards-landscape,
.rotated-five-cards-landscape {
  width: auto;
  height: 25vh;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.one-cards,
.two-cards {
  /* width: calc(100vw /3.2); */
  width: 100%;
  max-width: 80vw;
  height: calc(100vw / 2.5);
}

.three-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 4);
}

.four-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 5);
}

.five-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 6);
}

.two-cards,
.rotated-two-cards {
  height: calc(100vw / 3);
  width: 100%;
  max-width: 80vw;
  /* width: calc(100vw / 5); */
  margin-inline: 6vw;
}

.three-cards,
.rotated-three-cards {
  width: auto;
  height: calc(55vh);
  margin-inline: 5vw;
}

.four-cards,
.rotated-four-cards {
  width: auto;
  height: 48vh;
  margin-inline: 4vw;
}

.five-cards,
.rotated-five-cards {
  width: auto;
  height: 35vh;
  margin-inline: 3vw;
}

.remove-btn {
  margin-bottom: -15px;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

mat-icon {
  color: var(--main-color);
}

.guide-icon {
  color: white;
}

.mat-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  background: none;
  border: none;
}

.mat-icon-close-random {
  font-size: 40px;
  margin-top: 30px;
}

.mat-icon-arrow:disabled {
  color: #747474;
}

/* .width-fixed {
  width: 588px;
  height: 829px;
  object-fit: cover;
} */

@media (orientation: landscape) and (max-height: 480px) {
  .selected-cards-modal-content {
    height: 90%;
  }
}

.card-button {
  display: flex;
  justify-content: flex-end;
}

.card-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}

@media (orientation: portrait) {
  .selected-content {
    flex-direction: column;
    overflow: auto;
    justify-content: initial;
    /* height: 90%; */
  }

  .doubleSidedIconButton {
    margin-bottom: 10vh;
  }

  .card-close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6vh;
  }

  .random-content {
    flex-direction: column;
  }

  .one-cards,
  .two-cards,
  .three-cards,
  .four-cards,
  .five-cards {
    /* width: 85vw; */
    height: 50vh;
  }

  .mat-icon-close {
    margin-top: 50px;
    margin-left: -26px;
  }

  .card-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5vh;
  }
}

/* 
img {
  width: 100%;
}

.img-unselected {
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border 0.1s linear;
}

.img-selected {
  border: 4px solid #ffcf00;
  border-radius: 4px;
  transition: border 0.1s linear;
} */

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 225px;
}

.flip {
  transform: rotateY(180deg);
}

.flip-box-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: end;
}

.flip-box-back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: end;
}

/* .badge {
  width: 100%;
}

.remove-btn {
  display: none;
}

.remove-icon {
  font-size: initial;
}

.index-remove {
  display: flex;
  height: 1rem;
  align-items: center;
}

.index-remove:hover>.remove-btn {
  display: initial;
} */

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.image-grid {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-item {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

