<title>Mentor-Cards תוכן ערכת הקלפים</title>
<div class="d-flex justify-content-center align-items-baseline">
  <h1 style="text-align: center" *ngIf="pack">{{pack.name}}</h1>
  <h2 *ngIf="pack?.about" id="about-author" class="clickable" (click)="openAboutDialog()">(על יוצר הערכה)</h2>
</div>
<div class="d-flex justify-content-between nav-buttons ">
  <div id="multipileToggle" class="d-flex flex-row">
    <div style="font-size: 1rem; margin-left: 5px;">בחירה מרובה </div>
    <mat-slide-toggle (change)="multipileChanged()" [(ngModel)]="multipileChecked">
    </mat-slide-toggle>
  </div>
  <div>
    <button type="button" class="option-btn top-option-btn" (click)="shuffle()">ערבב</button>
    <button type="button" class="option-btn top-option-btn" (click)="flipped = !flipped; selectedCards = []">הפוך
      חפיסה</button>
    <button type="button" class="option-btn top-option-btn" (click)="openRandomCardsModal()">הצג קלף אקראי</button>
    <!-- <button *ngIf="pack.about" type="button" class="option-btn about-author-option-btn" (click)="openAboutDialog()">על יוצר הערכה</button> -->
  </div>
  <!-- just for balance -->
  <button type="button" class="option-btn top-option-btn" (click)="openGuideBook()">
    <mat-icon style="font-family: 'Material Icons';">local_library</mat-icon>ספר הדרכה
  </button>
  <!-- <div *ngIf="!pack || !pack.guideBook" style="visibility: hidden;" class="d-flex flex-row">
    <div style="font-size: 1rem; margin-left: 5px;">בחירה מרובה </div>
    <mat-slide-toggle>
    </mat-slide-toggle>
  </div> -->
  <!-- just for balance -->
</div>
<div style="padding-bottom: 2rem;" class="d-flex flex-column align-items-center">
  <div *ngIf="pack" [transition-group]="'flip-list'" class="d-flex flex-row justify-content-center flex-wrap">
    <app-card
      [ngClass]="{'clickable': true, 'shuffle-item': true, 'item-hidden': true, 'item-reveal': loadedCards == pack.cards.length}"
      *ngFor="let card of pack.cards; let i = index" transition-group-item [cardContent]="card"
      [selected]="selectedCards.includes(card)" [index]="i+1"
      [flipped]="flipped || (!multipileChecked && selectedCards.includes(card))" (click)="cardSelected(card, i+1)"
      (loaded)="cardLoaded()">
    </app-card>
  </div>
  <div id="introduction" *ngIf="!id">
    <p style="text-align: center; font-size: 2rem; margin-bottom: 1.5rem; font-weight: 700;">שימו <span
        style="color: coral;">&#10084;</span>
    </p>
    <ul>
      <li><span>ערכה זו היא ערכה לדוגמא ולכן כוללת רק 10 קלפים</span></li>
      <li><span>באתר קיימות עשרות ערכות קלפים לבחירתכם</span></li>
      <li><span>כל ערכה כוללת מעל ל-40 קלפים</span></li>
      <li><span>כל הערכות מגיעות עם ספר הדרכה הכולל שאלות מנחות לשימוש בקלפים</span></li>
      <li><span>במסגרת 14 ימי הניסיון כל ערכות הקלפים לרשותכם</span></li>
    </ul>
    <div class="line"></div>
    <div id="actions" class="d-flex flex-column align-items-center">
      <span id="middle" *ngIf="!userData">הירשמו, בחרו תוכנית והתחילו את תקופת הניסיון</span>
      <span id="middle" *ngIf="userData && userData.status === 'NOPLAN'">עדין לא נרשמתם לתוכנית?</span>
      <span id="middle" *ngIf="userData && userData.status === 'PLAN'">אתם כבר מחוברים, למה אתם מחכים? לעבודה :)</span>
      <br>
      <button class="action-button" *ngIf="!userData" type="button" (click)="signInSignUp()">התחברות/הרשמה</button>
      <button class="action-button" *ngIf="userData && userData.status === 'NOPLAN'" type="button"
        (click)="navigate('/price-page')">להרשמה לתוכנית</button>
      <button class="action-button" *ngIf="userData && userData.status === 'PLAN'" type="button"
        (click)="navigate('/all-packs-page')">לכל הערכות</button>
    </div>
  </div>
</div>

<nav *ngIf="pack && loadedCards==pack.cards.length"
  [ngClass]="{'nav navbar-light d-flex justify-content-between align-items-center bottom-nav': true, 'bottom-nav-hidden':(selectedCards.length == 0 || !multipileChecked)}">
  <div class="nav-buttons">
    <button type="button" [ngClass]="{'option-btn bottom-option-btn':true}" [disabled]="selectedCards.length == 0"
      (click)="openChosenCardsModal()">הצג
      קלפים שנבחרו</button>
    <button type="button" [ngClass]="{'option-btn bottom-option-btn':true}" (click)="selectedCards = []"
      [disabled]="selectedCards.length == 0">איפוס
      בחירה</button>
    <!-- [ngClass]="{'option-btn':true, 'bottom-nav-hidden': selectedCards.length == 0}" -->
  </div>
  <div id="amountChosen">
    <p>{{selectedCards.length}}/5 קלפים נבחרו</p>
  </div>
</nav>