<title>{{ "pages.packContent.title" | translate }}</title>
<div class="d-flex flex-column">
  <div>
    <div
      class="bg-[#ffe0d8] w-full py-6 ps-10 padding-zero"
      [dir]="langDirectionService.currentLangDirection"
    >
      <div class="grid-display">
        <div class="flex justify-start padding-20 background-white">
          <div class="relative">
            <img
              *ngIf="pack?.imgUrl"
              [src]="pack.imgUrl"
              alt="Pack image"
              width="100"
              height=""
              class="rounded-sm mb-2"
            />
            <div class="absolute z-8 text-center bottom-2 left-4">
              <span class="icons-bg">
                <img
                src="/assets/New/pack-view/heartIconBlack.svg"
                alt=""
                width="25"
                height="25"
                class=""
                />
              </span>
              <div class="text-black text-center icons-bg">{{ pack.likesCounter }}</div>
            </div>
            <div class="absolute z-8 text-center bottom-2 right-4">
              <span class="icons-bg">
                <img
                src="/assets/New/pack-view/black_cards.png"
                alt=""
                width="30"
                height="30"
                class=""
                />
              </span>
              <div class="text-black text-center icons-bg">{{ cardImages?.length }}</div>
            </div>
          </div>
          <div class="ms-4">
            <h2 class="font-bold mb-0 text-start" *ngIf="pack">
              {{ pack.name }}
            </h2>
            <h2 class="font-bold mb-0 text-start" *ngIf="!id">
              {{ "pages.packContent.defaultName" | translate }}
            </h2>
            <h3 class="font-bold mb-0 text-start">{{ pack.ownerName }}</h3>

            <div class="flex gap-4 c-gap">
              <div class="justify-center flex flex-col items-center">
                <button
                  class="w-10 h-8 flex items-center justify-center py-2"
                  (click)="openGuideBook()"
                >
                  <img
                    src="/assets/New/pack-view/book-icon.svg"
                    alt=""
                    width="25"
                    height="25"
                  />
                </button>
                <button (click)="openGuideBook()">
                  <div class="text-size-10">ספר הדרכה</div>
                </button>
              </div>

              <div
                class="justify-center flex flex-col items-center"
                *ngIf="pack.videoUrl"
              >
                <button class="w-10 h-8 flex items-center justify-center py-2">
                  <img
                    src="/assets/New/pack-view/play-icon.svg"
                    alt=""
                    width="25"
                    height="25"
                  />
                </button>
                <div class="text-size-10">הדרכה</div>
              </div>

              <div
                class="justify-center flex flex-col items-center"
                *ngIf="pack?.about && !unauthorized"
              >
                <button
                  class="w-10 h-8 flex items-center justify-center py-2"
                  (click)="openAboutDialog()"
                >
                  <img
                    src="/assets/New/pack-view/speak-icon.svg"
                    alt=""
                    width="25"
                    height="25"
                  />
                </button>
                <button (click)="openAboutDialog()">
                  <div class="text-size-10">היוצר</div>
                </button>
              </div>

              <div
                class="justify-center flex flex-col items-center"
                *ngIf="pack.isHardCopyAvailable && !unauthorized"
              >
                <button
                  class="w-10 h-8 flex items-center justify-center py-2"
                  (click)="confirmationDialogue()"
                >
                  <img
                    src="/assets/New/pack-view/cart-icon.png"
                    alt=""
                    width="30"
                    height="30"
                  />
                </button>
                <button (click)="confirmationDialogue()">
                  <div class="text-size-10">קנו ערכה</div>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Zoom Control Button -->

        <div class="hideItDesktop">
          <div class="zoom-controls">
            <button class="zoom-button">
              <div class="icon-container">
                <mat-icon class="zoom-icon" (click)="zoomIn()">add</mat-icon>
                <div class="divider"></div>
                <mat-icon class="zoom-icon" (click)="zoomOut()"
                  >remove</mat-icon
                >
              </div>
            </button>
          </div>
        </div>

        <div class="mobile-bg" [class.sticky-header]="isScrolled > 170"> 
          <div class="zoom-control hideItMobile">
            <button class="zoom-btn" (click)="zoomOut()">
              <div class="icon-container">
                <img src="../../../assets/icons/zoomOut.png" />
              </div>
            </button>

            <button class="zoom-btn" (click)="zoomIn()">
              <div class="icon-container">
                <img src="../../../assets/icons/zoomIn.png" />
              </div>
            </button>
          </div>

          <div class="flex justify-center mb-2">
            <!-- <button class="border-b-2 border-[#e98980] text-start flex gap-2 items-center"
            (click)="openDialog()"
            >
              open dialog
              <img src="/assets/New/pack-view/down-icon.png" alt="">
            </button> -->
            <!-- {{pack.topQuestions[0]}} -->
          </div>
          <top-questions-dialog
            [isOpen]="isDialogOpen"
            (closeDialog)="closeDialog()"
          ></top-questions-dialog>

           <!-- isReadingGuidebookAMust  -->
          <div *ngIf="pack?.isReadingGuidebookAMust" class="text-red text-center d-flex justify-center">
              <p>מומלץ לקרוא את ספר ההדרכה טרם תחילת עבודה עם ערכה זו</p>
          </div>
           
          <!-- Drop-down  -->
          <div class="dropdown section-drop-down">
            <div
              class="dropdown-select position-relative"
              (click)="toggleDropdown()"
            >
              <span *ngIf="!showInputFieldInDropDown" class="selected-option text-xl">{{ defaultOption }}</span>
              <span *ngIf="showInputFieldInDropDown">
                <input #dropdownInput type="text" style="background-color: transparent; width: 100%; font-size: 20px;" (keydown.enter)="updateOptionArray()">
              </span>
              <span class="dropdown-icon">▼</span>
            </div>
            <div class="dropdown-options" [class.show]="isDropdownOpen">
              <div
                [contentEditable]="isEditing && isEditingOption === index"
                class="dropdown-option"
                *ngFor="let option of options; let index = index"
                (click)="selectOption(option, index)"
                (keydown.enter)="saveEdit(option, index)"
                (blur)="saveEdit(option, index)"
              >
                <img
                  *ngIf="option.icon"
                  [src]="option.icon"
                  alt="icon"
                  width="25"
                  height="25"
                />
                {{ isEditing && isEditingOption === index ? "" : option.text }}
              </div>
            </div>
          </div>

          <div class="section-drop-down background-white py-2">
            <div class="flex ms-3 gap-2 justify-center">
              <button
                class="justify-center flex flex-col items-center border-2 border-[#e67c73] w-28 btn-1 btn-height-35 rounded-full"
                id="flipCards"
                type="button"
                [disabled]="showEditPack"
                (click)="flip()"
                matTooltip="הקלפים יתהפכו מצד אחד לצד שני"
              >
                <div
                  class="w-10 h-8 flex items-center justify-center py-2 padding-none"
                >
                  <img
                    src="/assets/New/pack-view/rotate-icon.svg"
                    alt=""
                    width="40"
                    height="40"
                    class="img-shuffle"
                  />
                </div>
                <div class="text-xs mb-1 text-xxs">הפוך קלפים</div>
              </button>
              <button
                class="justify-center flex flex-col items-center border-2 border-[#e67c73] w-28 btn-2 btn-height-35 rounded-full"
                id="randomCard"
                type="button"
                [disabled]="showEditPack"
                (click)="toggleRandomCardsModal()"
                matTooltip="שליפה אקראית של קלף מהערכה"
              >
                <div
                  class="w-10 h-8 flex items-center justify-center py-2 padding-none"
                >
                  <img
                    src="/assets/New/pack-view/info-icon.svg"
                    alt=""
                    width="15"
                    height="15"
                    class="img-info"
                  />
                </div>
                <div class="text-xs mb-1 text-xxs">קלף אקראי</div>
              </button>
              <button
                class="justify-center flex flex-col items-center border-2 border-[#e67c73] w-32 btn-1 btn-height-35 rounded-full"
                (click)="createCommomLink()"
                matTooltip="הזמנת משתתפים נוספים לערכה"
              >
                <div
                  class="w-10 h-8 flex items-center justify-center py-2 padding-none"
                >
                  <img
                    src="/assets/New/pack-view/link-icon.svg"
                    alt=""
                    width="50"
                    height="50"
                    class="img-link"
                  />
                </div>
                <div class="text-xs mb-1 text-xxs">עבודה משותפת</div>
              </button>
              <button
                class="justify-center flex flex-col items-center border-2 border-[#e67c73] w-20 btn-4 btn-height-35 rounded-full"
                id="mixCards"
                type="button"
                [disabled]="showEditPack"
                (click)="shuffle()"
                matTooltip="שינוי סדר הקלפים"
              >
                <div
                  class="w-10 h-8 flex items-center justify-center py-2 padding-none"
                >
                  <img
                    src="/assets/New/pack-view/shuffle-icon.svg"
                    alt=""
                    width="25"
                    height="25"
                    class="img-hand"
                  />
                </div>
                <div class="text-xs mb-1 text-xxs">ערבב</div>
              </button>
              <button
                class="justify-center flex flex-col items-center border-2 border-[#e67c73] w-28 btn-1 btn-height-35 rounded-full"
                id="editPack"
                type="button"
                *ngIf="!commonLink"
                (click)="editPack()"
                matTooltip="הסרת קלפים ספציפיים מהערכה רק לסשן הנוכחי."
              >
                <div
                  class="!w-12 h-8 flex items-center justify-center py-2 padding-none"
                >
                  <img
                    src="/assets/New/pack-view/pen-icon.svg"
                    alt=""
                    width="25"
                    height="25"
                    class="img-pen"
                  />
                </div>
                <div class="mb-1 text-xs text-size">עריכת הערכה</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngif="pack.isReadingGuidebookAMust"
      class="bg-red-600 h-10 w-full text-center text-white items-center sm:text-xl"
    >
      מומלץ לקרוא את ספר ההדרכה טרם תחילת עבודה עם ערכה
    </div>
  </div>

  <div [class.aside-container]="pack?.cards?.length > 1">
    <aside class="aside-bar" *ngIf="pack?.cards?.length > 1">
      <ul>
        <h1 style="font-size: 15px" class="m-0">עבודה תהליכית / לפי נושאים</h1>
        <p style="font-size: 15px" class="m-0">
          ערכה זו מחולקת לקלפים בנושאים שונים. ניתן לבחור קלף מכל נושא להצגה על המסך.         </p>
        <button
          class="aside-button mb-1"
          style="background-color: #7986cb"
          (click)="showAll()"
        >
          הצגת כל הקלפים
        </button>
        <button
          *ngFor="let categories of categoriesCard"
          class="aside-button mb-1"
          [ngClass]="{
            'selected-category':
              selectedCategory?.categoryName === categories.categoryName
          }"
          (click)="selectCategory(categories)"
        >
          {{ categories.categoryName }}
        </button>
      </ul>
    </aside>

    <div *ngIf="pack?.cards?.length > 1">
      <div
        class="category-row mb-2 d-flex flex-column"
        *ngFor="let category of getFilteredCategories(); let i = index"
      >
        <div class="category-container">
          <p class="position-relative category-name">
            {{ category.categoryName }}&nbsp;
            <span
              *ngIf="!categoryOpenStates[i]"
              class="position-absolute left-to-category"
              (click)="toggle(i, true)"
            >
              <img src="./../../../assets/icons/icondropopen.png" alt="" />
            </span>
            <span
              *ngIf="categoryOpenStates[i]"
              class="position-absolute left-to-category"
              (click)="toggle(i, false)"
            >
              <img src="./../../../assets/icons/icondropclose.png" alt="" />
            </span>
          </p>
        </div>

        <div
        class="d-flex overflow-cards"
        *ngIf="categoryOpenStates[i]"
      >
      <div class="d-flex " [class.scroll-hidden]="!flipped" [class.scroll-visible]="flipped" *ngFor="let card of category.cardsImages; let i = index">
        <button
        *ngIf="showEditPack"
        mat-icon-button
        class="remove-btn"
        (click)="removeCard(i)"
      >
        <mat-icon class="remove-icon">visibility_off</mat-icon>
      </button>
          <app-card
            [imageWidth]="imageWidth"
            [imageHeight]="imageHeight"
            [flippedCardwidth]="flippedCardwidth"
            [flipBoxInnerInCat]="true"
            [ngClass]="{ clickable: true, scrollableCardOrd: !flipped && !isDoubleSided,scrollableCard: flipped || isDoubleSided }"
            [cardContent]="card"
            [mobileView]="true"
            [selected]="selectedCards.includes(card)"
            [index]="i + 1"
            [flipped]="
              flipped || (!multipileChecked && selectedCards.includes(card))
            "
            (click)="cardSelected(card, i + 1, false, category.categoryName)"
          >
            <!-- TODO -->
          </app-card>
      </div>

      </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="cards.length == 1">
    <div class="d-flex flex-column align-items-center cards-container">
      <div
        *ngIf="pack && !showEditPack"
        [transition-group]="'flip-list'"
        class="d-flex flex-row justify-content-center flex-wrap"
      >
        <div
          *ngFor="let card of cardImages; let i = index"
          [ngClass]="{
            'd-flex flex-column align-items-center shuffle': true,
            'shuffle-item': !showEditPack
          }"
          transition-group-item
        >
          <app-card
            [ngStyle]="
              !flipped
                ? { width: cardWidth + 'rem', height: cardHeight + 'rem' }
                : {}
            "
            [imageWidth]="imageWidth"
            [imageHeight]="imageHeight"
            [flippedCardwidth]="flippedCardwidth"
            [class.card-width]="!flipped"
            [ngClass]="{ clickable: true }"
            [cardContent]="card"
            [selected]="selectedCards.includes(card)"
            [index]="i + 1"
            [flipped]="
              flipped || (!multipileChecked && selectedCards.includes(card))
            "
            (click)="cardSelected(card, i + 1)"
          >
          </app-card>
        </div>
      </div>

      <div id="image-grid" class="image-grid">
        <!-- Images will be dynamically inserted here -->
      </div>

      <div
        *ngIf="pack && showEditPack"
        class="d-flex flex-row justify-content-center flex-wrap"
      >
        <div
          *ngFor="let card of cardImages; let i = index"
          [ngClass]="{ 'd-flex flex-column align-items-center': true }"
        >
          <button
            *ngIf="showEditPack"
            mat-icon-button
            class="remove-btn"
            (click)="removeCard(i)"
          >
            <mat-icon class="remove-icon">visibility_off</mat-icon>
          </button>
          <app-card
            [ngStyle]="
              !flipped
                ? { width: cardWidth + 'rem', height: cardHeight + 'rem' }
                : {}
            "
            [imageWidth]="imageWidth"
            [imageHeight]="imageHeight"
            [flippedCardwidth]="flippedCardwidth"
            [class.card-width]="flipped"
            [ngClass]="{ clickable: true }"
            [cardContent]="card"
            [selected]="selectedCards.includes(card)"
            [index]="i + 1"
            [flipped]="
              flipped || (!multipileChecked && selectedCards.includes(card))
            "
            (click)="cardSelected(card, i + 1)"
          >
          </app-card>
        </div>
      </div>

      <div id="introduction" *ngIf="!id">
        <p
          style="
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            font-weight: 700;
          "
        >
          {{ "pages.packContent.actions.introduction.attention" | translate }}
          <span style="color: coral">&#10084;</span>
        </p>
        <ul>
          <li>
            <span>
              {{
                "pages.packContent.actions.introduction.list.dozensOfPacks"
                  | translate
              }}</span
            >
          </li>
          <li>
            <span>{{
              "pages.packContent.actions.introduction.list.over40Cards"
                | translate
            }}</span>
          </li>
          <li>
            <span>{{
              "pages.packContent.actions.introduction.list.guideBook"
                | translate
            }}</span>
          </li>
          <li>
            <span>{{
              "pages.packContent.actions.introduction.list.trialPeriod"
                | translate
            }}</span>
          </li>
        </ul>
        <div class="line"></div>
        <div id="actions" class="d-flex flex-column align-items-center">
          <span id="middle" *ngIf="!userData">{{
            "pages.packContent.actions.introduction.actions.register"
              | translate
          }}</span>
          <span id="middle" *ngIf="userData && userData.status === 'NOPLAN'">
            {{
              "pages.packContent.actions.introduction.actions.notRegistered"
                | translate
            }}</span
          >
          <span id="middle" *ngIf="userData && userData.status === 'PLAN'">{{
            "pages.packContent.actions.introduction.actions.alreadyRegistered"
              | translate
          }}</span>
          <br />
          <button
            class="action-button"
            *ngIf="!userData"
            type="button"
            (click)="signInSignUp()"
          >
            {{
              "pages.packContent.actions.introduction.actions.loginRegisterBtn"
                | translate
            }}
          </button>
          <button
            class="action-button"
            *ngIf="userData && userData.status === 'NOPLAN'"
            type="button"
            (click)="navigate('/price-page')"
          >
            {{
              "pages.packContent.actions.introduction.actions.registerPlanBtn"
                | translate
            }}
          </button>
          <button
            class="action-button"
            *ngIf="userData && userData.status === 'PLAN'"
            type="button"
            (click)="navigate('/all-packs-page')"
          >
            {{
              "pages.packContent.actions.introduction.actions.allPacksBtn"
                | translate
            }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <nav
    *ngIf="pack && multipileChecked"
    [ngClass]="{
      'nav navbar-light bottom-nav': true,
      'bottom-nav-hidden': !multipileChecked
    }"
  >
    <div class="nav-buttons">
      <button
        type="button"
        [ngClass]="{ 'option-btn bottom-option-btn': true }"
        [disabled]="selectedCards.length == 0"
        (click)="toggleChosenCardsModal()"
      >
        {{ "pages.packContent.nav.showChosenCards" | translate }}
      </button>
      <button
        type="button"
        [ngClass]="{ 'option-btn bottom-option-btn': true }"
        (click)="selectedCards = []"
        [disabled]="selectedCards.length == 0"
      >
        {{ "pages.packContent.nav.resetChoice" | translate }}
      </button>
    </div>
    <div id="amountChosen">
      <p>
        {{ selectedCards.length }}/5
        {{ "pages.packContent.nav.cardsChosen" | translate }}
      </p>
    </div>
  </nav>

  <nav
    *ngIf="pack && showEditPack"
    [ngClass]="{
      'nav navbar-light bottom-nav bottom-nav-edit': true,
      'bottom-nav-hidden': !showEditPack
    }"
  >
    <div class="nav-buttons">
      <button
        type="button"
        [ngClass]="{ 'option-btn bottom-option-btn': true }"
        (click)="resetEditPack()"
      >
        {{ "pages.packContent.nav.resetPack" | translate }}
      </button>
      <button
        type="button"
        [ngClass]="{ 'option-btn bottom-option-btn': true }"
        (click)="editPack()"
      >
        {{ "pages.packContent.nav.endEditing" | translate }}
      </button>
    </div>
    <div id="amountChosen">
      <p style="font-weight: bold">
        {{ "pages.packContent.nav.hideCardBeforeIcon" | translate }}
        <mat-icon class="remove-icon">visibility_off</mat-icon>
        {{ "pages.packContent.nav.hideCardAfterIcon" | translate }}
      </p>
    </div>
  </nav>

  <mat-menu #actions="matMenu">
    <button
      mat-menu-item
      type="button"
      class="option-menu-btn top-option-btn"
      (click)="multipileChanged()"
    >
      {{
        multipileChecked
          ? ("pages.packContent.matMenu.toggleCardDisplayModeButton.false"
            | translate)
          : ("pages.packContent.matMenu.toggleCardDisplayModeButton.true"
            | translate)
      }}

      <mat-icon
        *ngIf="multipileChecked"
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >photo_icon</mat-icon
      >
      <mat-icon
        *ngIf="!multipileChecked"
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >burst_mode_icon</mat-icon
      >
    </button>
    <button
      mat-menu-item
      type="button"
      class="option-menu-btn top-option-btn"
      (click)="shuffle()"
    >
      {{ "pages.packContent.matMenu.shuffleCardsButton" | translate }}
      <mat-icon
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >style_icon</mat-icon
      >
    </button>

    <button
      mat-menu-item
      type="button"
      class="option-menu-btn top-option-btn"
      (click)="flipped = !flipped; selectedCards = []"
    >
      {{ "pages.packContent.matMenu.flipDeckButton" | translate }}
      <mat-icon
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >flip_camera_android_icon</mat-icon
      >
    </button>
    <button
      mat-menu-item
      type="button"
      class="option-menu-btn top-option-btn"
      (click)="toggleRandomCardsModal()"
    >
      {{ "pages.packContent.matMenu.showRandomCardButton" | translate }}
      <mat-icon
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >shuffle_icon</mat-icon
      >
    </button>
    <button
      mat-menu-item
      type="button"
      class="option-menu-btn top-option-btn"
      (click)="editPack()"
    >
      {{
        showEditPack
          ? ("pages.packContent.matMenu.editPackButton.false" | translate)
          : ("pages.packContent.matMenu.editPackButton.true" | translate)
      }}

      <mat-icon
        id="guide-book-icon"
        style="color: #e69900; font-family: 'Material Icons'"
        >edit_icon</mat-icon
      >
    </button>
  </mat-menu>

  <div
  *ngIf="showSelectedCards"
  class="selected-cards-modal"
  (click)="toggleChosenCardsModal()"
>
  <!-- Modal Content -->
  <div
    class="selected-cards-modal-content position-relative"
    (click)="$event.stopPropagation()"
  >
    <!-- Close Button -->
    <button class="btn-close" (click)="toggleChosenCardsModal()">
      <img
        src="../../../assets/icons/Close_round.svg"
        alt="Expand data"
        width="20px"
        style="height: 40px; width: 40px"
      />
    </button>

    <!-- Modal Title -->
    <p style="color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;">{{ selectedOption }}</p>

    <!-- Categories Loop -->
    <ng-container *ngFor="let category of categoryBaseArray">
      <!-- Category Name -->
      <p
        style="
          color: white;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          margin-top: 20px;
        "
      >
        {{ category.categoryName }}
      </p>

      <!-- Cards Grid -->
      <div class="cards-grid">
        <div *ngFor="let card of category.cards" class="card-container" 
        [ngStyle]="{ 'aspect-ratio': card.aspectRatio || '2 / 3' }">
          <div class="card-wrapper">
            <!-- Buttons Row -->
            <div class="card-buttons-row">
              <button *ngIf="card.backImgUrl" class="flip-button" (click)="toggleFlipped(card)">
                <img src="../../../assets/icons/flipDoubleSideImg.png" alt="Flip" />
              </button>
              <span class="index-circle">{{ card.index }}</span>
              <button class="rotate-button" (click)="rotateCard(card)">
                <img src="../../../assets/icons/right-90.svg" alt="Rotate"  />
              </button>
            </div>
      
            <!-- Flipping Card -->
            <div *ngIf="card.backImgUrl" class="flip-box" [class.flipped]="!flipped">
              <!-- Front Side -->
              <div class="card-front">
                <img
                  [src]="card.frontImgUrl"
                  alt="Card Front"
                  class="card-image"
                  [style.transform]="'rotate(' + card.rotation + 'deg)'"
                  (load)="setAspectRatio($event, card)"
                />
              </div>
      
              <!-- Back Side -->
              <div class="card-back">
                <img
                  [src]="card.backImgUrl"
                  alt="Card Back"
                  class="card-image"
                  [style.transform]="'rotate(' + card.rotation + 'deg)'"
                  (load)="setAspectRatio($event, card)"
                />
              </div>
            </div>
            
            <div *ngIf="!card.backImgUrl">
              <!-- Back Side -->
              <div class="card-front">
                <img
                  [src]="card.frontImgUrl"
                  alt="Card Front"
                  class="card-image"
                  [style.transform]="'rotate(' + card.rotation + 'deg)'"
                  (load)="setAspectRatio($event, card)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </ng-container>
  </div>
  </div>


  <div *ngIf="showRandomCards" class="selected-cards-modal">
    <div class="selected-cards-modal-content">
      <button class="btn-close" (click)="toggleRandomCardsModal()">
        <img
          src="../../../assets/icons/Close_round.svg"
          alt="Expand data"
          width="20px"
          style="height: 40px; width: 40px"
        />
      </button>
      <div class="random-content" style="height: 80% ;display: flex;
          height: 80%;
          flex-direction: column;
          align-items: center;">
        <button
          class="btn btn-light"
          [disabled]="randomCardIndex == cards[0]?.cardsImages.length - 1"
          (click)="changeRandomCard(1)"
        >
          <mat-icon class="btn-icon mat-icon-arrow">chevron_right</mat-icon>
        </button>

        <div *ngIf="cards[0].cardsImages[randomCardIndex].backImgUrl && flipped">
          <!-- Front Side -->
          <div>
            <img
            style="height: 69vh"
              [src]="cards[0]?.cardsImages[randomCardIndex].frontImgUrl"
              alt="Card Front"
            />
          </div>
        </div>
        
        <div *ngIf="cards[0].cardsImages[randomCardIndex].backImgUrl && !flipped">
          <!-- Front Side -->
          <div>
            <img
            style="height: 69vh"
              [src]="cards[0]?.cardsImages[randomCardIndex].backImgUrl"
              alt="Card Front"
            />
          </div>
        </div>

        <div *ngIf="!cards[0].cardsImages[randomCardIndex].backImgUrl">
          <!-- Back Side -->
          <div>
            <img
            style="height: 69vh"
              [src]="cards[0]?.cardsImages[randomCardIndex].frontImgUrl"
              alt="Card Front"
            />
          </div>
        </div>
        <button
          class="btn btn-light"
          [disabled]="randomCardIndex == 0"
          (click)="changeRandomCard(-1)"
        >
          <mat-icon class="btn-icon mat-icon-arrow">chevron_left</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- TODO -->
<footer
  class="footer"
  *ngIf="(multiSelectCard.length > 0 || selectedOption) && cards.length == 1"
  [ngStyle]="{ display: showEditPack ? 'none' : 'flex' }"
>
  <div class="footer-container">
    <!-- <div class="w-100" *ngIf="multiSelectCard.length > 0">
      <img src="../../../assets/icons/black_cross.png" />
    </div> -->
    <span
      class="selected-option"
      *ngIf="multiSelectCard.length === 0 && selectedOption"
      >{{ selectedOption }}</span
    >
    <div class="card-box">
      <div *ngIf="multiSelectCard.length > 0" class="button-box hideItMobile">
        <button class="show-all" (click)="showAllInDialog()">
          <img src="../../../assets/icons/zoomPlus.png" />
          הצגת הקלפים שבחרתם
        </button>
        <button class="remove-all" (click)="multiSelectCard = []">
          <img src="../../../assets/icons/undo.png" />
          איפוס בחירה
        </button>
      </div>

      <div
        *ngIf="multiSelectCard.length && !isEditing"
        class="button-box-mbl hideItDesktop"
      >
        <button class="show-all-mbl" (click)="showAllInDialog()">
          <img
            src="../../../assets/icons/zoomPlus.png"
            style="width: 13px; height: 13px"
          />
          הצגת הקלפים
        </button>

        <button class="remove-all-mbl" (click)="multiSelectCard = []">
          <img
            src="../../../assets/icons/undo.png"
            style="width: 11px; height: 11px"
          />
          איפוס
        </button>
      </div>
      <div class="multi-card-container d-flex" [class.pb-6]="true">
        <ng-container *ngFor="let item of sortedCards; let i = index">
          <!-- Display category name only if it's the first card of its category -->
          <div class="category-title">
            <!-- <p>{{ category.categoryName }}</p> -->
            <p
              *ngIf="isFirstCardOfCategory(item, i)"
              style="margin-bottom: 0px"
            >
              {{ item?.category }}
            </p>
          </div>
          <div
            class="position-relative"
            [class.img-box]="!item?.category"
            [class.category-img-box]="item?.category"
          >
            <span
              *ngIf="item.index"
              class="bg-white rounded-full p-1 text-center w-6 h-6"
              style="margin-left: 33px"
              >{{ item?.index }}</span
            >
            <img
              class="position-absolute bg-white rounded-full p-1"
              style="left: 8px; top: 25px"
              src="../../../assets/icons/zoomPlus.png"
              width="25px"
              height="25px"
              (click)="cardSelected(item.card, item.index, true)"
            />
            <img
              *ngIf="item.card.backImgUrl && !flipped"
              class="img-box"
              alt="Mentor-cards unique cards design for the back of the card"
              [src]="item?.card.backImgUrl"
              data-src="{{ cardContent?.backImgUrl }}"
            />
            <img
              *ngIf="
                (item.card.frontImgUrl && flipped)
              "
              class="img-box"
              alt="Mentor-cards unique cards design for the front of the card"
              [src]="item?.card.frontImgUrl"
              data-src="{{ cardContent?.frontImgUrl }}"
            />

            <img
             *ngIf="
               !item.card.backImgUrl
             "
             class="img-box"
             alt="Mentor-cards unique cards design for the front of the card"
             src="/assets/Mentor-Cards-Back.png"
           />

            <img
              src="../../../assets/icons/black_cross.png"
              class="absolute bg-white rounded-full p-1"
              style="top: 25px; right: 12px"
              width="25px"
              height="25px"
              (click)="removeImage(item)"
            />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</footer>

<footer
  class="footer"
  *ngIf="(multiSelectCard.length > 0 || selectedOption) && (cards.length > 1)"
>
  <div class="footer-container">
    <div *ngIf="multiSelectCard.length > 0">
      <!-- <img src="../../../assets/icons/black_cross.png" /> -->
    </div>
    <span
      class="selected-option"
      *ngIf="
        multiSelectCard.length === 0 &&
        categoryBaseArray.length === 0 &&
        selectedOption
      "
      >{{ selectedOption }}</span
    >
    <div class="card-box">
      <div
        *ngIf="multiSelectCard.length > 0 || categoryBaseArray.length > 0"
        class="button-box hideItMobile"
      >
        <button class="show-all" (click)="showAllInDialog()">
          <img src="../../../assets/icons/zoomPlus.png" />
          הצגת הקלפים שבחרתם
        </button>
        <button class="remove-all" (click)="resetCategoryFooter()">
          <img src="../../../assets/icons/undo.png" />
          איפוס בחירה
        </button>
      </div>

      <div
        *ngIf="multiSelectCard.length > 0"
        class="button-box-mbl hideItDesktop"
      >
        <button class="show-all-mbl" (click)="showAllInDialog()">
          <img
            src="../../../assets/icons/zoomPlus.png"
            style="width: 13px; height: 13px"
          />
          הצגת הקלפים
        </button>

        <button class="remove-all-mbl" (click)="resetCategoryFooter()">
          <img
            src="../../../assets/icons/undo.png"
            style="width: 11px; height: 11px"
          />
          איפוס
        </button>
      </div>

      <div class="multi-card-container d-flex mb-6">
        <div class="category-base-footer">
          <div *ngFor="let category of categoryBaseArray">
            <p
              class="category-location"
              style="font-size: 15px; font-weight: bold; color: rgb(0, 0, 0)"
            >
              {{ category.categoryName }}
            </p>
            <div class="category-base-card-container">
              <div
                *ngFor="let card of category.cards"
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                "
              >
                <div
                  class="position-relative"
                  [class.img-box]="!card?.category"
                  [class.category-img-box]="card?.category"
                >
                  <span
                    *ngIf="card.index"
                    class="bg-white rounded-full p-1 text-center w-6 h-6"
                    style="margin-left: 33px"
                    >{{ card?.index }}</span
                  >
                  <img
                    class="position-absolute"
                    style="left: 8px; top: 25px"
                    src="../../../assets/icons/zoomPlus.png"
                    (click)="
                      categoryBaseCardSelected(card, card.index, true, true)
                    "
                  />
                  <img
                    [class.height-82]="card?.category"
                    class="img-box"
                    *ngIf="!card?.backImgUrl"
                    alt="Mentor-cards unique cards design for the back of the card"
                    src="/assets/Mentor-Cards-Back.png"
                  />
                  <img
                    *ngIf="card.backImgUrl && !flipped"
                    class="img-box"
                    alt="Mentor-cards unique cards design for the back of the card"
                    [src]="card?.backImgUrl"
                    data-src="{{ card?.backImgUrl }}"
                  />
                  <img
                    *ngIf="card.frontImgUrl && flipped"
                    class="img-box"
                    alt="Mentor-cards unique cards design for the frontImgUrl of the card"
                    [src]="card?.frontImgUrl"
                    data-src="{{ card?.frontImgUrl }}"
                  />
                  <img
                    *ngIf="!card.backImgUrl"
                    class="img-box"
                    alt="Mentor-cards unique cards design for the frontImgUrl of the card"
                    [src]="card?.frontImgUrl"
                    data-src="{{ card?.frontImgUrl }}"
                  />
                  <img
                    src="../../../assets/icons/black_cross.png"
                    class="absolute"
                    style="top: 25px; right: 12px"
                    (click)="
                      removeCategoryBaseImage(card.index, category.categoryName)
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
