h1,
h2 {
  font-family: "rubik";
}

.nav {
  background-color: #ffffffd4;
  /* opacity: 1; */
}

app-card {
  margin: 10px 10px;
  width: 10rem;
  transition: transform 0.3s ease, translate 1s ease-in;
}

app-card:hover {
  transform: scale(1.03);
}

/* Speed of shuffle */
.flip-list-move {
  transition: transform 2s;
}

.nav-buttons {
  margin: 5px 10px 5px 0px;
  align-items: center;
}

.cards-container {
  padding-bottom: 3rem;
}

.bottom-nav {
  position: fixed;
  bottom: 5px;
  width: 100%;
  margin-top: 15px;
  transform: translateY(0px);
  transition: transform 0.3s linear, opacity 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .close-cards-view {
  left: 50%
} */

.bottom-nav-hidden {
  transform: translateY(3rem);
  opacity: 0;
  /* transition: transform 0.3s linear; */
}

.sticky-top {
  z-index: 4;
}

.option-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px;
  /* color: #ffa800; */
  border-color: var(--main-color);
  font-weight: 500;
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option-menu-btn {
  font-weight: 500;
  font-size: large;
  text-align: end;
}

button:focus {
  outline: none;
}

.top-option-btn {
  background: white;
  color: var(--main-color);
}

.top-option-btn:hover {
  background: #fff5e2;
}

.top-option-btn:active {
  background: #ffebc4;
}

.top-option-btn-disabled {
  background: #c3c3c3;
  color: #686868;
}

.about-author-option-btn {
  background: #ffbe41;
  color: #717171;
}

.about-author-option-btn:hover {
  background: #e6aa3b;
}

.about-author-option-btn:active {
  background: #ca9635;
}

.bottom-option-btn {
  opacity: 1;
  background: var(--main-color);
  color: white;
}

/* .bottom-option-btn:disabled {
  background: #d8d8d8;
  color: rgb(160 160 160);
} */

.bottom-option-btn:enabled:hover {
  background: #e69900;
  color: white;
}

.bottom-option-btn:enabled:active {
  background: #db9200;
  color: white;
}

p {
  margin: 10px;
  font-size: 1rem;
}

/* @media screen and (max-width: 600px) {
  p {
    margin: 10px;
    font-size: inherit;
  }
} */

::ng-deep .cdk-overlay-pane {
  max-width: 90vw !important;
}

ul {
  list-style: none;
  line-height: 2rem;
  text-align: right;
  font-size: 1rem;
  padding-right: 0rem;
  max-width: 90%;
}

ul li:before {
  content: "✓";
}

li span {
  position: relative;
  left: -10px;
}

#introduction {
  align-items: center;
  background: #fff1d6de;
  padding: 2%;
  border-radius: 20px;
  width: fit-content;
  max-width: 90%;
}

#middle {
  font-size: x-large;
  text-align: center;
}

.action-button {
  height: 3rem;
  font-size: x-large;
  /* width: 10rem; */
  border-radius: 5px;
  background: var(--main-color);
  color: white;
  border: none;
  font-weight: 500;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.line {
  background-color: var(--main-color);
  width: auto;
  height: 3px;
  margin-bottom: 1rem;
}

#about-author {
  font-size: medium;
  text-decoration: underline;
  margin-right: 10px;
}

#about-author:hover {
  color: #717171;
}

#mult-choise-btn {
  display: flex;
  align-items: center;
  width: min-content;
}

#mult-choise-btn-txt {
  font-size: 1rem;
  margin-left: 5px;
  color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--main-color-light);
}

#actions {
  display: inherit;
}

#menu-actions {
  display: none;
  color: var(--main-color);
  background: white;
  border-radius: 5px;
  border: none;
}

/* .reveal-card {
  animation: fadeIn 0.4s, slideUp 0.6s;
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  ::ng-deep .cdk-overlay-pane {
    max-width: 80vw !important;
  }
}

@media screen and (max-width: 600px) {
  #actions {
    display: none;
  }

  #menu-actions {
    display: inherit;
  }
}

@media screen and (max-width: 480px) {
  .option-btn {
    font-weight: 800;
    font-size: medium;
  }

  .bottom-nav-edit {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .cards-container {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 320px) {
  #guide-book-icon {
    display: none;
    color: var(--main-color);
  }
}

/* --------------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color-light);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}

.link-button {
  background-color: transparent;
  color: #007bff; /* Bootstrap link color */
  text-decoration: underline;
  padding: 0;
  font-size: large;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px; /* Adjust the gap between the icon and text */
}

::ng-deep .custom-tooltip .mat-tooltip {
  font-size: x-large;
}

.link-button .mat-icon {
  vertical-align: middle;
}

.link-button:hover,
.link-button:focus {
  background-color: transparent;
  opacity: 0.75;
}
/* Existing .link-button and .mat-icon styles remain the same */

.right-side-container {
  display: flex;
  justify-content: center; /* Aligns children (the button) to the right */
  width: 100%;
}

.guide-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px white;
  /* color: #ffa800; */
  background: var(--main-color);
  color: white;
  border-color: white;
  font-weight: 500;
  font-family: var(--main-font-family);
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.guide-btn:hover {
  background: #eb9c00;
}

.guide-btn:active {
  background: #db9200;
}

/* The Modal (background) */
.selected-cards-modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(5px);
}

/* Modal Content */
.selected-cards-modal-content {
  height: 100%;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0px);
  }
}

.random-content,
.selected-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 80%;
  align-items: center;
  flex-direction: column;
}

.selected-content-one-card {
  justify-content: center !important;
}

.card-view {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}

.one-cards,
.two-cards {
  /* width: calc(100vw /3.2); */
  height: calc(100vw / 2.5);
}

.three-cards {
  width: calc(100vw / 4);
}

.four-cards {
  width: calc(100vw / 5);
}

.five-cards {
  width: calc(100vw / 6);
}

.remove-btn {
  margin-bottom: -15px;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

mat-icon {
  color: var(--main-color);
}

.guide-icon {
  color: white;
}

.mat-icon-close {
  font-size: 50px;
}

.mat-icon-close-random {
  font-size: 40px;
  margin-top: 30px;
}

.mat-icon-arrow:disabled {
  color: #747474;
}

@media (orientation: landscape) and (max-height: 480px) {
  .selected-cards-modal-content {
    height: 90%;
  }
}
.card-button {
  display: flex;
  justify-content: flex-end;
}

.card-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}

@media (orientation: portrait) {
  .selected-content {
    flex-direction: column;
    overflow: auto;
    justify-content: initial;
    /* height: 90%; */
  }

  .card-close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6vh;
  }

  .random-content {
    flex-direction: column;
  }

  .one-cards,
  .two-cards,
  .three-cards,
  .four-cards,
  .five-cards {
    /* width: 85vw; */
    height: 50vh;
  }

  .mat-icon-close {
    margin-top: 50px;
  }

  .card-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5vh;
  }
}

/* 
img {
  width: 100%;
}

.img-unselected {
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border 0.1s linear;
}

.img-selected {
  border: 4px solid #ffcf00;
  border-radius: 4px;
  transition: border 0.1s linear;
} */

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

.flip-box-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  min-height: 225px;
}

.flip {
  transform: rotateY(180deg);
}

.flip-box-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* .badge {
  width: 100%;
}

.remove-btn {
  display: none;
}

.remove-icon {
  font-size: initial;
}

.index-remove {
  display: flex;
  height: 1rem;
  align-items: center;
}

.index-remove:hover>.remove-btn {
  display: initial;
} */
