h1,
h2 {
  font-family: "Open Sans Hebrew", sans-serif !important;
}

.nav {
  background-color: #ffffffd4;
  /* opacity: 1; */
}

app-card {
  margin: 10px 10px;
  width: 100%;
  transition: transform 0.3s ease, translate 1s ease-in;
}

app-card.card-width {
  width: 10rem;
}

app-card:hover {
  transform: scale(1.03);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  gap: 10px;
}

/* Speed of shuffle */
.flip-list-move {
  transition: transform 2s;
}

.nav-buttons {
  margin: 5px 10px 5px 0px;
  align-items: center;
}

.hideItDesktop {
  display: none;
}

.cards-container {
  padding-bottom: 3rem;
}

.bottom-nav {
  position: fixed;
  bottom: 5px;
  width: 100%;
  margin-top: 15px;
  transform: translateY(0px);
  transition: transform 0.3s linear, opacity 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .close-cards-view {
  left: 50%
} */

.bottom-nav-hidden {
  transform: translateY(3rem);
  opacity: 0;
  /* transition: transform 0.3s linear; */
}

.sticky-top {
  z-index: 4;
}

.option-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px;
  /* color: #ffa800; */
  border-color: var(--main-color);
  font-weight: 500;
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.option-menu-btn {
  font-weight: 500;
  font-size: large;
  text-align: end;
}

button:focus {
  outline: none;
}

.top-option-btn {
  background: white;
  color: var(--main-color);
}

.top-option-btn:hover {
  background: #fff5e2;
}

.top-option-btn:active {
  background: #ffebc4;
}

.top-option-btn-disabled {
  background: #c3c3c3;
  color: #686868;
}

.about-author-option-btn {
  background: #ffbe41;
  color: #717171;
}

.width-471 {
  width: 471px !important;
}

.about-author-option-btn:hover {
  background: #e6aa3b;
}

.about-author-option-btn:active {
  background: #ca9635;
}

.bottom-option-btn {
  opacity: 1;
  background: var(--main-color);
  color: white;
}

.cards-grid {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping to multiple rows */
  gap: 60px 20px; /* Row and column spacing */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px;
  margin-bottom: 100px;
}

.card-container {
  position: relative;
  height: 400px; /* Fixed height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flip-box.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-image {
  width: 100%; /* Ensure image fills container width */
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, transform 0.6s;
}

.flip-button {
  position: absolute;
  right: 10px;
  top: 15px;
}

.flip-button img {
  width: 30px; /* Adjust the icon size within the button */
  height: 25px;
}

.index-circle {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.rotate-button {
  position: absolute;
  left: 10px;
  top: 10px;
}

.rotate-button img {
  width: 30px; /* Adjust the icon size within the button */
  height: auto;
}

/* .bottom-option-btn:disabled {
  background: #d8d8d8;
  color: rgb(160 160 160);
} */

.bottom-option-btn:enabled:hover {
  background: #e69900;
  color: white;
}

.bottom-option-btn:enabled:active {
  background: #db9200;
  color: white;
}

p {
  margin: 10px;
  font-size: 1rem;
}

/* @media screen and (max-width: 600px) {
  p {
    margin: 10px;
    font-size: inherit;
  }
} */

::ng-deep .cdk-overlay-pane {
  max-width: 90vw !important;
}

ul {
  list-style: none;
  line-height: 2rem;
  text-align: right;
  font-size: 1rem;
  padding-right: 0rem;
  max-width: 90%;
}

ul li:before {
  content: "✓";
}

li span {
  position: relative;
  left: -10px;
}

#introduction {
  align-items: center;
  background: #fff1d6de;
  padding: 2%;
  border-radius: 20px;
  width: fit-content;
  max-width: 90%;
}

#middle {
  font-size: x-large;
  text-align: center;
}

.action-button {
  height: 3rem;
  font-size: x-large;
  /* width: 10rem; */
  border-radius: 5px;
  background: var(--main-color);
  color: white;
  border: none;
  font-weight: 500;
}

.action-button:hover {
  background: #e69900;
}

.action-button:active {
  background: #db9200;
}

.action-button:focus {
  outline: none;
}

.line {
  background-color: var(--main-color);
  width: auto;
  height: 3px;
  margin-bottom: 1rem;
}

#about-author {
  font-size: medium;
  text-decoration: underline;
  margin-right: 10px;
}

#about-author:hover {
  color: #717171;
}

#mult-choise-btn {
  display: flex;
  align-items: center;
  width: min-content;
}

#mult-choise-btn-txt {
  font-size: 1rem;
  margin-left: 5px;
  color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--main-color);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--main-color-light);
}

#actions {
  display: inherit;
}

#menu-actions {
  display: none;
  color: var(--main-color);
  background: white;
  border-radius: 5px;
  border: none;
}

.grid-display {
  display: grid;
  grid-template-columns: 34% 1fr;
}

.section-drop-down {
  width: 50% !important;
}
/* .reveal-card {
  animation: fadeIn 0.4s, slideUp 0.6s;
} */

/* Custom drop-down CSS */
.dropdown {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.dropdown-select {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #e67c73; /* The red line */
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  position: relative; /* Relative positioning for dropdown-options */
  min-height: 50px; /* Allow for multiple lines if needed */
}

.selected-option {
  display: block; /* Ensures it takes up full width */
  font-weight: 600;
  max-width: 100%;
  word-wrap: break-word; /* Allow the text to wrap within the container */
  overflow-wrap: break-word; /* Handle word wrapping */
  white-space: normal; /* Allows the text to wrap to the next line */
  text-align: center;
}

.dropdown-options {
  position: absolute;
  top: calc(100% + 5px); /* Dropdown appears below the dropdown select */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  text-align: start;
  max-height: 300px; /* Set a maximum height for better control */
  overflow-y: auto; /* Add scroll for long lists */
}

.dropdown-option {
  display: flex;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Handle word wrapping */
  word-break: break-word;
}

.dropdown-option:hover {
  font-weight: bold;
  background-color: #f5f5f5; /* Highlight background on hover for better UX */
}

.dropdown-options.show {
  display: block;
}

.dropdown-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* End Drop-down CSS Here */

.z-8 {
  z-index: 8;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.download-button {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.drop-down {
  max-width: 779px;
  color: white;
  font-weight: 600;
  font-size: 38;
  margin-bottom: 5px;
  text-align: center;
}

/* Aside bar */
.aside-bar {
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 219px;
  padding: 60px 0px 10px 0px;
}

.aside-button {
  width: 207px;
  height: 47px;
  background-color: #ffe0d8;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.aside-container {
  display: grid;
  grid-template-columns: auto calc(100% - 10px);
}

/* Add this new style */
.aside-container:not(:has(.aside-bar)) {
  display: block;
}

.category-section {
  display: flex;
  flex-direction: column;
}

.category-row {
  border-bottom: 1px solid #e67c73;
}

.pack-content-page-cards {
  display: flex !important;
}

.overflow-cards {
  overflow: scroll;
  flex-wrap: wrap;
  width: calc(100% - 220px);
}

/* Add this new style */
:not(.aside-bar) + .overflow-cards {
  width: 100%;
}

app-card.scrollableCard {
  flex: 0 0 auto;
  width: auto;
  margin-right: 10px;
}

app-card.scrollableCardOrd {
  flex: 0 0 auto;
  width: 169px;
  margin-right: 10px;
}

.category-name {
  position: relative;
  text-align: right;
}

.selected-category {
  opacity: 30%;
}

.footer {
  position: fixed;
  bottom: 0;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
}
.multi-card-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 5px;
  margin-left: 5px;
  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}
.selected-card {
  height: 100px;
  margin-left: 10px;
  display: inline-block;
  width: 82px;
  border-radius: 5px;
}
.multi-image {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.category-img-box {
  height: 82px;
  width: 82px;
  object-fit: cover;
  margin-top: 20px;
}
.img-box {
  height: 82px;
  width: 82px;
  object-fit: fill;
}
.dialog-container {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}

.width-50vw {
  width: 25vw;
}

.scroll-visible {
  overflow-x: visible !important;
}

.scroll-hidden {
  overflow: hidden !important;
}

.object-fit {
  object-fit: cover;
}

.single-side-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  max-width: 90vw;
  padding-bottom: 2vw;
  white-space: nowrap;
  grid-gap: 10px;
  gap: 0rem;
  overflow: scroll;
  flex-wrap: wrap;
}

.min-width-auto {
  min-height: auto !important;
  min-width: auto !important;
}

/* Hide scrollbar for Webkit browsers */
.single-side-card::-webkit-scrollbar {
  display: none;
}

.show-all {
  height: 35px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #e67c73;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}
.remove-all {
  height: 35px;
  width: 200px;
  border-radius: 20px;
  border: none;
  justify-content: start;
  align-items: center;
  display: flex;
  gap: 5px;
}
.footer-container {
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 97%;
  flex-direction: column;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
}
.button-box {
  border-left: 1px solid #e67c73;
  padding: 20px;
  margin-left: 5px;
}

.height-82 {
  height: 82px;
}
.card-box {
  display: flex;
  width: 100%;
}

.zoom-control {
  display: flex;
  position: absolute;
  left: 40px;
  top: 10%;
  gap: 10px;
  z-index: 1;
}
.zoom-btn {
  width: 35px;
  height: 35px;
}

.category-title {
  position: relative;
  bottom: 14px;
  right: 90px;
}

/* .single-card {
  width: 600px;
} */

.single-card-img {
  height: 829px !important;
  width: 588px !important;
}

.card-default {
  min-height: auto;
  min-width: auto;
}

.zarori {
  justify-content: center;
  height: 600px;
  width: 350px;
}

.category-base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-bottom: 1px solid white;

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}

.category-base-flip {
  width: auto;
}

.category-base-scrollbar {
  width: calc(100% - 10px);
  overflow: scroll;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}

.category-base-footer {
  display: flex;
  flex-direction: row;
}

.category-base-card-container {
  padding-left: 10px;
  border-left: 1px solid #e67c73;
  padding-right: 10px;
  gap: 10px;
  display: flex;
}

.category-location {
  text-align: justify;
}

.icons-top {
  width: 45%;
}
.category-base-download {
  display: flex;
  justify-content: space-around;
}

.Icon-90 {
  margin-left: 25px;
  margin-bottom: 10px;
}

.flipDoubleSideIcon {
  width: auto;
  position: relative;
  right: 50px;
}

.text-red {
  p {
    display: none;
  }
}

.width-75 {
  width: 65%;
}

.icons-bg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.single-side {
  display: block;
  margin-right: 3rem;
}

.dialog-container-row {
  flex-wrap: wrap;
  display: flex;
}

@media screen and (max-width: 1024px) {
}

/* Landscape orientation styles */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .multi-card-mobile .drop-down {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .multi-card-mobile img.card-image-mobile {
    width: auto !important;
    max-width: 30vw;
    height: auto;
  }

  .multi-card-mobile .right-90-icon {
    width: auto !important;
    margin-top: 5px;
  }

  .multi-card-mobile .single-card {
    flex: 1 1 auto;
  }

  .multi-card-mobile .single-side-card {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
  }

  .Icon-90 {
    /* margin-left: 25px; */
    margin-top: -7px;
    width: 30px;
    height: 30px;
  }

  .single-side-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    max-width: 90vw;
    padding-bottom: 2vw;
    white-space: nowrap;
    grid-gap: 10px;
    gap: 0rem;
    overflow-x: auto;
  }

  .min-width-auto {
    min-height: auto !important;
    min-width: auto !important;
  }

  /* Hide scrollbar for Webkit browsers */
  .single-side-card::-webkit-scrollbar {
    display: none;
  }
}

.aside-bar-title {
  font-size: 15px;
}

.aside-bar-p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .aside-container {
    display: block;
  }

  .aside-bar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: white;
    z-index: 999;
    padding-top: 80px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .aside-bar.show {
    display: block;
    transform: translateX(0);
  }

  .hamburger-icon {
    display: block;
  }

  /* Center the packs */
  .overflow-cards {
    width: 100% !important;
    margin: 0 auto;
    justify-content: center;
  }

  .pack-content-page-cards {
    display: flex !important;
    justify-content: center;
  }

  /* Overlay when menu is open */
  .menu-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .menu-overlay.show {
    display: block;
  }

  .dropdown-options {
    position: fixed; /* Use fixed positioning for better control */
    top: 20%; /* Position the dropdown options at a visible area */
    left: 5%;
    width: 90%;
    max-height: 60vh; /* Limit the dropdown height for better visibility */
    overflow-y: auto; /* Allow scrolling */
    z-index: 2000; /* Keep it above all other elements */
  }

  .dropdown-select {
    padding: 10px; /* Keep padding for consistency */
    font-size: 8px; /* Adjust font size for mobile */
    min-height: 60px;
  }

  .selected-option {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  ::ng-deep .cdk-overlay-pane {
    max-width: 80vw !important;
  }
  .category-base-download {
    left: 21% !important;
  }

  .width-50vw {
    width: 350px;
  }

  .dialog-container-row {
    display: block;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr;
  }

  .text-xxs {
    font-size: 0.48rem;
  }

  .text-size-10 {
    font-size: 10px;
  }

  .btn-1 {
    width: 100px;
  }
  .btn-2 {
    width: 75px;
  }
  .btn-4 {
    width: 70px;
  }

  .padding-zero {
    padding: 0px;
  }

  .card-default {
    min-height: auto;
    min-width: auto;
  }

  .padding-20 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px !important;
  }

  .section-drop-down {
    width: 100vw !important;
    margin-right: -6px;
    /* padding-left: 20px; */
  }

  .background-white {
    background-color: white;
  }

  .flip-box-inner {
    min-height: auto !important;
  }

  .flipDoubleSideIcon {
    width: auto;
    position: relative;
    right: 10px;
  }

  .img-pen {
    padding: 0;
    height: 12px;
    width: 12px;
    margin-top: 8px;
  }

  .img-hand {
    padding: 0;
    height: 20px;
    width: 20px;
    margin-top: 4px;
  }

  .img-link {
    padding: 0;
    height: 11px;
    width: 31px;
    margin-top: 7px;
  }

  .img-info {
    padding: 0;
    width: 8px;
    height: 15px;
    margin-top: 5px;
  }

  .img-shuffle {
    padding: 0;
    height: 15px;
    width: 32px;
    margin-top: 8px;
  }

  .btn-height-35 {
    text-align: center;
    height: 35px;
  }

  .padding-none {
    padding: 0px !important;
  }
  .c-gap {
    grid-gap: 0.5rem !important;
  }

  .dropdown-icon {
    position: absolute;
    left: 3px;
    bottom: 8px;
  }

  .dropdown-select {
    margin-bottom: 10px;
    height: 59px;
  }

  .mobile-bg {
    background-color: #f8f9fa;
  }

  .text-red {
    background-color: #e67c73;
    p {
      display: flex;
      font-size: 14px;
    }
  }

  .multi-card-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .right-90-icon {
    height: 20px;
    width: 20px !important;
    /* margin-left: 35px;  */
    margin-bottom: 5px;
  }
  .width-70 {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 9px;
  }

  .width-30 {
    width: 30%;
  }

  .Icon-90 {
    margin-left: 12px;
  }

  .aside-bar {
    /* display: none; */
    width: 160px;
    font-size: 10px;
  }

  .aside-bar-title {
    font-size: 12px;
  }

  .aside-bar-p {
    font-size: 11px;
  }

  .aside-bar ul {
    font-size: 10px;
  }

  .aside-button {
    width: 150px;
  }

  .pack-content-page-cards {
    display: block !important;
  }

  app-card.scrollableCard {
    flex: 0 0 180px;
    min-width: auto;
    margin-right: 10px;
  }

  .overflow-cards {
    max-width: 770px;
    width: auto;
  }

  .category-name {
    text-align: left;
  }

  .left-to-category {
    left: -23px;
  }

  .category-container {
    width: 50%;
  }

  .hideItMobile {
    display: none;
  }
  .hideItDesktop {
    display: flex;
  }

  .zoom-controls {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .zoom-button {
    background: #7a7a7a;
    opacity: 60%;
    border: none;
    border-radius: 25px;
    width: 34px;
    height: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    position: relative;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .zoom-icon {
    color: #fff;
    font-size: 1rem;
    margin: 0;
  }

  .divider {
    width: 26px; /* Adjust width of the divider line */
    height: 1px; /* Adjust height of the divider line */
    background: #fff;
    margin: 27px 1px; /* Adjust spacing around the divider line */
  }

  .footer-container {
    flex-direction: column;
  }
  .button-box-mbl {
    border-left: 0px;
    justify-content: left;
    padding-left: 20px;
    gap: 25px;
  }
  .multi-card-container {
    max-height: 300px;
    overflow: scroll;
    /* width: 90%; */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 1px;
  }

  .category-title {
    position: relative;
  }

  .category-img-box {
    height: 82px;
    width: 82px;
    object-fit: cover;
    margin-top: 50px;
  }

  .show-all-mbl {
    width: 104px;
    height: 26px;
    font-size: 11px;
    border-radius: 20px;
    border: 1px solid #e67c73;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 6px;
  }
  .remove-all-mbl {
    height: 26px;
    width: 65px;
    border-radius: 20px;
    border: 1px solid #e67c73;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 6px;
  }
  .card-box {
    flex-direction: column;
  }

  .category-base-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .category-base-card-container {
    border-left: 0px;
    flex-wrap: wrap;
  }

  .category-location {
    text-align: center;
  }

  .selected-option {
    font-size: 14px;
    text-align: center;
  }
  .card-image-mobile {
    /* height: 300px !important;
  width: 212px !important; */
  }

  .zarori {
    height: auto !important;
    width: auto !important;
  }

  .single-side-card {
    flex-direction: column;
    width: auto;
  }

  .index-icon {
    height: 15px !important;
    width: 15px !important;
  }

  .icons-top {
    justify-content: space-between;
  }

  .margin-90 {
    margin-right: 90px;
  }
  .category-base-dialog {
    width: auto;
    overflow-x: hidden;
    white-space: normal;
    scrollbar-width: none;
  }

  .one-cards-landscape {
    height: auto !important;
  }

  .sticky-header {
    position: fixed;
    top: 0px;
    z-index: 4;
  }

  .text-size {
    font-size: 0.6rem !important;
  }

  .single-side {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  #actions {
    display: none;
  }

  #menu-actions {
    display: inherit;
  }

  .category-container {
    width: 44%;
  }
}

@media screen and (max-width: 480px) {
  .option-btn {
    font-weight: 800;
    font-size: medium;
  }

  .bottom-nav-edit {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .cards-container {
    padding-bottom: 6rem;
  }
  .category-container {
    width: 32%;
  }
}

@media screen and (max-width: 320px) {
  #guide-book-icon {
    display: none;
    color: var(--main-color);
  }

  .category-container {
    width: 26%;
  }
}

/* --------------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color-light);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}

.link-button {
  background-color: transparent;
  color: #007bff;
  /* Bootstrap link color */
  text-decoration: underline;
  padding: 0;
  font-size: large;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  /* Adjust the gap between the icon and text */
}

::ng-deep .custom-tooltip .mat-tooltip {
  font-size: x-large;
}

.link-button .mat-icon {
  vertical-align: middle;
}

.link-button:hover,
.link-button:focus {
  background-color: transparent;
  opacity: 0.75;
}

/* Existing .link-button and .mat-icon styles remain the same */

.right-side-container {
  display: flex;
  justify-content: center;
  /* Aligns children (the button) to the right */
  width: 100%;
}

.guide-btn {
  margin-left: 10px;
  height: 39px;
  border-radius: 5px;
  /* background: white; */
  border: solid 1px white;
  /* color: #ffa800; */
  background: var(--main-color);
  color: white;
  border-color: white;
  font-weight: 500;
  font-family: var(--main-font-family);
  font-size: large;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.guide-btn:hover {
  background: #eb9c00;
}

.guide-btn:active {
  background: #db9200;
}

/* The Modal (background) */
.selected-cards-modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

/* Modal Content */
.selected-cards-modal-content {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  max-width: 90%;
  height: 100%;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0px);
  }
}

.random-content,
.selected-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 80%;
  align-items: center;
  flex-direction: column;
}

.selected-content-one-card {
  justify-content: center !important;
}

/* TODO */
.card-view {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin-top: 13px; */
  padding-left: 10px;
}

/* 'rotated-one-cards': selectedCards.length == 1 && card.rotation !== 0,
'rotated-two-cards': selectedCards.length == 2 && card.rotation !== 0,
'rotated-three-cards': selectedCards.length == 3 && card.rotation !== 0,
'rotated-four-cards': selectedCards.length == 4 && card.rotation !== 0,
'rotated-five-cards': selectedCards.length == 5 && card.rotation !== 0 */

.one-cards-landscape,
.two-cards-landscape,
.three-cards-landscape,
.four-cards-landscape,
.five-cards-landscape {
  /* width: 85vw; */
  height: 20vh;
}

.one-cards-landscape img {
  max-width: 100%;
  max-height: 100%;
  height: 75vw;
  object-fit: contain;
  display: block;
  margin: 0 5px;
}

.one-cards-landscape {
  position: relative;
  height: calc(100vw / 3);
  /* max-width: 90%; */
  max-height: 90%;
  overflow: scroll;
  object-fit: cover;
}
.two-cards-landscape {
  /* width: calc(100vw /3.2); */
  height: calc(100vw / 3.5);
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
}

.three-cards-landscape {
  width: calc(100vw / 4);
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
}

.four-cards-landscape {
  width: calc(100vw / 5);
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
}

.five-cards-landscape {
  width: calc(100vw / 6);
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
}

.two-cards-landscape,
.rotated-two-cards-landscape {
  /* height: calc(100vw / 3.5) !important;
  width: 100% !important;
  max-width: 80vw;
  margin-inline: 3vw; */
  /* margin-top: 12vh;
  margin-bottom: 12vh; */
  width: auto;
  height: 50vh;
}

.three-cards-landscape,
.rotated-three-cards-landscape {
  /* width: auto;
  height: calc(40vh); */
  /* margin-top: 12vh;
  margin-bottom: 12vh; */
  width: auto;
  height: 50vh;
}

.four-cards-landscape,
.rotated-four-cards-landscape {
  width: auto;
  height: 50vh;
  /* margin-top: 12vh;
  margin-bottom: 12vh; */
}

.five-cards-landscape,
.rotated-five-cards-landscape {
  width: auto;
  height: 50vh;
  /* margin-top: 12vh;
  margin-bottom: 12vh; */
}

.one-cards,
.two-cards {
  /* width: calc(100vw /3.2); */
  width: 100%;
  max-width: 80vw;
  height: calc(100vw / 2.5);
}

.three-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 4);
}

.four-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 5);
}

.five-cards {
  width: 100%;
  max-width: 80vw;
  width: calc(100vw / 6);
}

.two-cards,
.rotated-two-cards {
  height: calc(100vw / 3);
  width: 100%;
  max-width: 80vw;
  /* width: calc(100vw / 5); */
  margin-inline: 6vw;
}

.three-cards,
.rotated-three-cards {
  width: auto;
  height: calc(55vh);
  margin-inline: 5vw;
}

.four-cards,
.rotated-four-cards {
  width: auto;
  height: 48vh;
  margin-inline: 4vw;
}

.five-cards,
.rotated-five-cards {
  width: auto;
  height: 35vh;
  margin-inline: 3vw;
}

.remove-btn {
  margin-bottom: -15px;
  animation: fadeIn 0.4s, slideUp 0.4s;
}

mat-icon {
  color: var(--main-color);
}

.guide-icon {
  color: white;
}

.mat-icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  background: none;
  border: none;
}

.mat-icon-close-random {
  font-size: 40px;
  margin-top: 30px;
}

.mat-icon-arrow:disabled {
  color: #747474;
}

/* .width-fixed {
  width: 588px;
  height: 829px;
  object-fit: cover;
} */

.multi-card-without-cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}

@media (orientation: landscape) and (max-height: 480px) {
  .selected-cards-modal-content {
    height: 90%;
  }
}

.card-button {
  display: flex;
  justify-content: flex-end;
}

.card-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}

@media (orientation: portrait) {
  .selected-content {
    flex-direction: column;
    overflow: auto;
    justify-content: initial;
    /* height: 90%; */
  }

  .doubleSidedIconButton {
    margin-bottom: 10vh;
  }

  .card-close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6vh;
  }

  .random-content {
    flex-direction: column;
  }

  .one-cards,
  .two-cards,
  .three-cards,
  .four-cards,
  .five-cards {
    /* width: 85vw; */
    height: 50vh;
  }

  .mat-icon-close {
    margin-top: 50px;
    margin-left: -26px;
  }

  .card-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5vh;
  }
}

/* 
img {
  width: 100%;
}

.img-unselected {
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border 0.1s linear;
}

.img-selected {
  border: 4px solid #ffcf00;
  border-radius: 4px;
  transition: border 0.1s linear;
} */

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

.flip-box-inner {
  transition: transform 0.8s;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 225px;
}

.flip {
  transform: rotateY(180deg);
}

.flip-box-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: end;
}

.flip-box-back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: center;
}

/* .badge {
  width: 100%;
}

.remove-btn {
  display: none;
}

.remove-icon {
  font-size: initial;
}

.index-remove {
  display: flex;
  height: 1rem;
  align-items: center;
}

.index-remove:hover>.remove-btn {
  display: initial;
} */

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.image-grid {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.grid-item {
  overflow: scroll;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-item {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.scrollable-content {
  height: calc(100vh - 20rem);
  overflow-y: auto;
  padding: 20px; /* Add padding as needed */
}

/* Optionally, to hide the scrollbar but keep functionality */
.scrollable-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollable-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Add new hamburger menu styles */
.mobile-menu {
  display: none;
}

.hamburger-icon {
  display: none;
  z-index: 1000;
  cursor: pointer;
  padding: 10px;
}

/* Modify existing media query */
@media screen and (max-width: 768px) {
  .aside-container {
    display: block; /* Change from none to block */
  }

  .aside-bar {
    display: none; /* Hide the default sidebar */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background: white;
    z-index: 999;
    padding-top: 80px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .aside-bar.show {
    display: block;
    transform: translateX(0);
  }

  .hamburger-icon {
    width: fit-content;
  }

  /* Center the packs */
  .overflow-cards {
    width: 100% !important;
    margin: 0 auto;
    justify-content: center;
  }

  .pack-content-page-cards {
    /* display: flex !important; */
    justify-content: center;
  }

  /* Overlay when menu is open */
  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .menu-overlay.show {
    display: block;
  }
}

.mdhidden {
  display: block !important;
}

@media (min-width: 768px) {
  .mdhidden {
    display: none !important;
  }
}
