.client-button:hover {
  text-decoration: none;
  background-image: linear-gradient(90deg, #e67c73, #7986cb);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 100%;
}

.home-page-partners-logo {
  height: 120px;
}

@media (max-width: 768px) {
  .home-page-partners-logo {
    height: 60px;
  }
}

.logo-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo-carousel img {
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.5s ease;
}
