<button class="iconButton" mat-icon-button (click)="closeDialog()">
  <mat-icon>highlight_off</mat-icon>
</button>
<div class="d-flex flex-column">
  <p class="main-header">{{data.description}}</p>
  <p class="content categories-tags">{{data.description}}</p>
  <!-- <div class="d-flex justify-content-around categories-tags">
    <div class="d-flex flex-column justify-content-center">
      <p class="sub-header">קטגוריות</p>
      <p class="content">{{data.categories}}</p>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <p class="sub-header">תיאור</p>
      <p class="content">{{data.description}}</p>
    </div>
  </div> -->
  <div id="example-cards" style="display: contents;">
    <p class="sub-header">קלפים לדוגמא</p>
    <div class="d-flex flex-row card-previews">
      <app-card *ngFor="let card of data.cardsPreview" [cardContent]="{'imgUrl':card}" [flipped]="true"
        (loaded)="loadedCards = loadedCards + 1"
        [ngClass]="{'item-hidden': true, 'item-reveal': loadedCards == data.cardsPreview.length}">
      </app-card>
    </div>
  </div>
  <div id="actions" class="d-flex flex-row justify-content-around" *ngIf="signedIn && hasProgram">
    <div class="action-btn-div">
      <button class="action-button" type="button" (click)="choosePack()" [disabled]="!choosePackButtonVisible">בחר ערכה
        זו
        <span style="font-size: small;" *ngIf="!choosePackButtonVisible"><br>
          נוצלו כל החבילות
        </span></button>
    </div>
    <div class="action-btn-div" matTooltip="תאריך הבא להחלפת ערכה: {{nextPackSubstitutionDate | date:'d/M/y'}}" matTooltipShowDelay="500"
      [matTooltipClass]="{'tooltip-class' : true}">
      <button class="action-button" type="button" [matMenuTriggerFor]="exchangeMenu"
        [disabled]="!exchangePackButtonVisible || exchangePackButtonVisibleNothingToChange">החלף ערכה בזו
        <span style="font-size: small;" *ngIf="!exchangePackButtonVisible"><br>
          הוחלפה ערכה החודש
        </span>
        <span style="font-size: small;"
          *ngIf="exchangePackButtonVisible && exchangePackButtonVisibleNothingToChange"><br>
          אין ערכות ברשותך
        </span>
      </button>
    </div>
    <div class="action-btn-div">
      <button class="action-button" type="button" (click)="openChooseProgramModal()"
        [disabled]="!upgradePackButtonVisible">שדרג
        תוכנית
        <span style="font-size: small;" *ngIf="!upgradePackButtonVisible"><br>
          הוחלפה תוכנית החודש
        </span></button>
    </div>
  </div>
</div>

<mat-menu #exchangeMenu="matMenu" xPosition="before" dir="rtl">
  <button mat-menu-item *ngFor="let pack of currentPacksOwned" style="height: 100%;"
    matTooltip="קטגוריות: {{pack.categories | tooltipListView}} | תגיות: {{pack.tags | tooltipListView}}"
    matTooltipShowDelay="1000" [matTooltipClass]="{'tooltip-class' : true}"
    (click)="openExchangePackApprovalModal(pack)">
    <img src={{pack.imgUrl}} style="height: 4rem; margin: 5px 0px 5px 5px;">
    {{pack.description}}
  </button>
</mat-menu>