<button class="iconButton" mat-icon-button (click)="closeDialog()">
  <mat-icon>highlight_off</mat-icon>
</button>
<div class="d-flex flex-column">
  <p class="main-header">{{data.pack.name}}</p>
  <p class="content categories-tags">{{data.pack.description}}</p>
  <div *ngIf="data.pack.about" class="action-btn-div" style="margin-bottom: 1rem;">
    <button class="action-button" type="button" (click)="openAboutDialog()">על יוצר הערכה</button>
  </div>
  <div id="example-cards" style="display: contents;">
    <p class="sub-header">קלפים לדוגמא</p>
    <div class="card-previews">
      <app-card *ngFor="let card of data.pack.cardsPreview" [cardContent]="{'imgUrl':card}" [flipped]="true"
        (loaded)="loadedCards = loadedCards + 1"
        [ngClass]="{'item-hidden': true, 'item-reveal': loadedCards == data.pack.cardsPreview.length}">
      </app-card>
    </div>
  </div>
  <div *ngIf="trialPeriodDate && !userData.orgMembership" id="actions" class="d-flex flex-column">
    <h1 style="text-align: center">
      תקופת הניסיון הסתיימה
    </h1>
    <div class="d-flex d-flex justify-content-around">
      <button class="action-button" type="button" (click)="navigate('/price-page')">לגישה מלאה לכל ערכות הקלפים</button>
    </div>
  </div>
  <div *ngIf="trialPeriodDate && userData.orgMembership" id="actions" class="d-flex flex-column">
    <!-- <h1 style="text-align: center">
      לגישה מלאה לכל ערכות הקלפים
    </h1> -->
    <div class="d-flex d-flex justify-content-around">
      <button class="action-button" type="button" (click)="navigate('/price-page')">לגישה מלאה לכל ערכות הקלפים</button>
    </div>
  </div>

  <div *ngIf="!signedIn" id="actions" class="d-flex justify-content-center">
    <button class="action-button" type="button" (click)="navigate('/example-pack')">
      ערכה להתנסות
    </button>
    <button class="action-button" type="button" (click)="signInSignUp()">
      התחברות\הרשמה
    </button>
  </div>

  <!-- <div id="actions" class="d-flex justify-content-center">
    <button class="action-button" type="button" (click)="navigate('/price-page')">
      שדרג תוכנית
    </button>
  </div> -->
  <!-- <div id="actions" class="d-flex flex-row justify-content-around">
    <div *ngIf="signedIn && hasProgram" class="action-btn-div">
      <button class="action-button" type="button" (click)="choosePack()" [disabled]="!choosePackButtonVisible">בחר ערכה
        זו
        <span style="font-size: small;" *ngIf="!choosePackButtonVisible"><br>
          נוצלו כל החבילות
        </span></button>
    </div>
    <div *ngIf="signedIn && hasProgram" class="action-btn-div"
      matTooltip="תאריך הבא להחלפת ערכה: {{nextPackSubstitutionDate | date:'d/M/y'}}" matTooltipShowDelay="500"
      [matTooltipClass]="{'tooltip-class' : true}">
      <button class="action-button" type="button" [matMenuTriggerFor]="exchangeMenu"
        [disabled]="!exchangePackButtonVisible || exchangePackButtonVisibleNothingToChange">החלף ערכה בזו
        <span style="font-size: small;" *ngIf="!exchangePackButtonVisible"><br>
          הוחלפה ערכה החודש
        </span>
        <span style="font-size: small;"
          *ngIf="exchangePackButtonVisible && exchangePackButtonVisibleNothingToChange"><br>
          אין ערכות ברשותך
        </span>
      </button>
    </div>
    <div *ngIf="signedIn && hasProgram" class="action-btn-div">
      <button class="action-button" type="button" (click)="navigate('/price-page')"
        [disabled]="!upgradePackButtonVisible">שדרג
        תוכנית
        <span style="font-size: small;" *ngIf="!upgradePackButtonVisible"><br>
          הוחלפה תכנית החודש
        </span></button>
    </div>
    <div *ngIf="data.packabout" class="action-btn-div">
      <button class="action-button" type="button" (click)="openAboutDialog()">על יוצר הערכה
      </button>
    </div>
  </div> -->
</div>

<!-- <mat-menu #exchangeMenu="matMenu" xPosition="before" dir="rtl">
  <button mat-menu-item *ngFor="let pack of currentPacksOwned" style="height: 100%;"
    matTooltip="קטגוריות: {{pack.categories | tooltipListView}} | תגיות: {{pack.tags | tooltipListView}}"
    matTooltipShowDelay="1000" [matTooltipClass]="{'tooltip-class' : true}"
    (click)="openExchangePackApprovalModal(pack)">
    <img src={{pack.imgUrl}} style="height: 4rem; margin: 5px 0px 5px 5px;">
    {{pack.description}}
  </button>
</mat-menu> -->
