<button class="iconButton" mat-icon-button (click)="closeDialog()">
  <mat-icon>highlight_off</mat-icon>
</button>
<div class="d-flex flex-column align-items-center">
  <div class="title-container" *ngIf="data.pack.isExternalPack">
    <p class="title">ערכת VIP</p>
    <p class="subtitle">*ערכת VIP הינה ערכת קלפים של יוצר חיצוני ואינה חלק מערכות הבית. לשימוש בערכה ניתן לבצע רכישה בעמוד זה.</p>
  </div>
  <div class="top-part">
    <div class="top-part-text">
      <p class="main-header">{{data.pack.name}}</p>
      <p class="content categories-tags">{{data.pack.description}}</p>
      <div *ngIf="data.pack.topQuestions && data.pack.topQuestions.length !== 0" class="selected-questions">
        <p class="selected-quetions-title">שאלות נבחרות מספר ההדרכה</p>
        <ul class="selected-quetions-list">
          <li *ngFor="let question of data.pack.topQuestions">{{question}}</li>
        </ul>
      </div>
    </div>
    <!-- <div class="card-preview">
      <img class="card-preview-img" style="width: 100%;" src={{data.pack.imgUrl}} alt="Pack cover photo">
    </div> -->
    <app-cards-carousel class="card-preview" [cards]="data.pack.cardsPreview"></app-cards-carousel>
    <div class="line"></div>
  </div>
  <!-- Action buttons -->
  <div id="not-logged-in" *ngIf="!userData" class="actions">
    <button class="action-button" type="button" (click)="signInSignUp()">
      התחברות/הרשמה
    </button>
  </div>

  <!-- open for all 2023 war -->
  <div id="logged-in" *ngIf="userData">
  <!--<div id="logged-in" *ngIf="userData">  -->
    <div id="pack-owned" *ngIf="data.pack.cards && data.pack.cards.length !== 0" class="actions">
      <button class="action-button" type="button" (click)="navigateToPackView()">
        כניסה לערכה
      </button>
    </div>

    <div id="logged-in-has-no-program"
      *ngIf="(!data.pack.cards || data.pack.cards.length === 0) && !data.pack.isExternalPack" class="actions">
      <button class="action-button" type="button" (click)="navigate('/price-page')">
פתחו לי גישה לערכה >>>      </button>
    </div>

    <div id="logged-in-has-no-program-pack-not-owned"
      *ngIf="userData && userData.status === 'NOPLAN' && (!data.pack.cards || data.pack.cards.length === 0) && data.pack.isExternalPack"
      class="case-4">
      <div class="top-part">
        <span>
           * הצטרפו למנוי באתר Mentor-Cards וקבלו ערכה זו ללא עלות נוספת, בנוסף לכל ערכות הבית שלנו.
        </span>
        <button class="action-button" type="button" (click)="navigate('/price-page')">
          לתוכניות שלנו 
       </button>
      </div>
      <span class="or">או</span>
      <div class="bottom-part">
        <div class="d-flex flex-column">
          <div class="d-flex monthly-yearly-toggle">
            <span style="cursor: pointer;" (click)="monthlyYearlyChanged()">חיוב שנתי</span>
            <mat-slide-toggle (change)="monthlyYearlyChanged()" [checked]="isYearly">חיוב חודשי</mat-slide-toggle>
          </div>
          <span class="discount-line" [ngStyle]="{'visibility': isYearly ? 'visible' : 'hidden'}">{{discount}}%
            הנחה</span>
        </div>
        <button class="action-button" type="button" (click)="openApprovePurchaseDialog()">
          לרכישת ערכה זו ב{{!isYearly ? monthlyPlan?.fullPrice : yearlyPlan?.fullPrice}} ש"ח /
          {{!isYearly ? 'חודש': 'שנה'}} לחצו כאן
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="data.pack.about">
    <div class="line"></div>
    <div class="about-author">
      <div class="about-author-text categories-tags">
        <p class="main-header">על היוצר</p>
        <p class="content">{{data.pack.about.text}}</p>
        <button (click)="redirect()">למעבר לאתר הבית של היוצר</button>
      </div>
      <div class="about-author-image-container">
        <img class="about-author-image" src={{data.pack.about.imgUrl}} alt="Author Image">
      </div>
    </div>
  </div>
  <mat-checkbox class="doNotShowCheckbox" *ngIf="data.pack.cards && data.pack.cards.length !== 0"
    [(ngModel)]="neverShowAgain"><span style="margin-right: 10px;">
      אל תציג שוב
    </span>
  </mat-checkbox>
</div>
