<div
  style="
    display: flex;
    margin-right: calc(15rem /* 240px */ * var(--tw-space-x-reverse));
    margin-left: calc(15rem /* 240px */ * calc(1 - var(--tw-space-x-reverse)));
    margin-top: 3rem;
  "
>
  <div
    style="
      --tw-space-y-reverse: 0;
      margin-top: calc(0.5rem /* 8px */ * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(0.5rem /* 8px */ * var(--tw-space-y-reverse));
      display: flex;
      justify-items: end;
      margin-inline: 3vw;
    "
  >
    <button mat-button class="border-2 tablebutton" (click)="openAddDialog()">
      <div
        style="
          display: flex;
          margin-left: 1rem /* 16px */;
          margin-right: 1rem /* 16px */;
          font-weight: 700;
        "
      >
        הוסף שותף
        <img
          style="margin-right: 0.5rem"
          src="../../../assets/icons/plus.svg"
          alt="Logo"
        />
      </div>
    </button>
  </div>
</div>
<div style="display: flex">
  <input
    style="
      width: 10vw;
      margin-top: 5vh;
      margin-bottom: 2vh;
      border: 1px solid #9a9696;
      margin-inline: 3vw;
      padding: 1vh;
      border-radius: 5px;
      text-align: right;
    "
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="לחפש"
  />
</div>
<mat-table
  [dataSource]="dataSource"
  matSort
  style="margin-inline: 3vw; margin-top: 2vh"
>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef class="small-cell">
      <div style="font-size: 1.1rem; text-align: center">
        פעולות
      </div></mat-header-cell
    >
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="small-cell"
    >
      <div class="flex">
        <button
          mat-button
          style="
            min-width: 0px !important;
            padding: 0px !important;
            margin-left: 5px !important;
          "
          (click)="deleteItem(element.id)"
          matTooltip="מחק"
          [matTooltipClass]="{ 'tooltip-class': true }"
        >
          <!-- <img class="w-4" src="../../../assets/icons/bin.svg" alt="Logo" /> -->
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button
          mat-button
          style="
            min-width: 0px !important;
            padding: 0px !important;
            margin-left: 5px !important;
          "
          (click)="editItem(element.id)"
          matTooltip="ערוך"
          [matTooltipClass]="{ 'tooltip-class': true }"
        >
          <!-- <img
            class="ml-2 w-5"
            src="../../../assets/icons/pen.svg"
            alt="Logo"
          /> -->
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-button
          style="
            min-width: 0px !important;
            padding: 0px !important;
            margin-left: 5px !important;
          "
          (click)="clickWithdraws(element.id)"
          matTooltip="צפה במשיכות"
          [matTooltipClass]="{ 'tooltip-class': true }"
        >
          <mat-icon> monetization_on</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="affiliateUrl">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <div style="font-size: 1.1rem; text-align: center">URL</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
    >
      {{ element.affiliateUrl }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="contactEmail">
    <mat-header-cell *matHeaderCellDef>
      <div style="font-size: 1.1rem; text-align: center">אימייל ליצירת קשר</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
    >
      {{ element.contactEmail }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef class="widder-width-cell">
      <div style="font-size: 1.1rem; text-align: center">מספר טלפון</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="widder-width-cell"
    >
      {{ element.phoneNumber }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="websiteURL">
    <mat-header-cell *matHeaderCellDef class="wide-cell">
      <div style="font-size: 1.1rem; text-align: center">כתובת אתר</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="wide-cell"
    >
      {{ element.websiteURL }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="paymentDetails">
    <mat-header-cell *matHeaderCellDef class="small-width-cell">
      <div style="font-size: 1.1rem; text-align: center">פרטי תשלום</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="small-width-cell"
    >
      {{ element.paymentDetails }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="commissionPercentage">
    <mat-header-cell *matHeaderCellDef class="small-width-cell">
      <div style="font-size: 1.1rem; text-align: center">אחוז העמלה</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="small-width-cell"
    >
      {{ element.commissionPercentage }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef>
      <div style="font-size: 1.1rem; text-align: center">תאריך הצטרפות</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      >{{ element.createdAt | date : "dd/MM/yyyy" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="small-width-cell">
      <div style="font-size: 1.1rem; text-align: center">האם פעיל?</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
      class="small-width-cell"
    >
      {{ element.status }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <div style="font-size: 1.1rem; text-align: center">יתרה להעברה</div>
    </mat-header-cell>
    <mat-cell
      style="font-size: 0.9rem; text-align: center"
      *matCellDef="let element"
    >
      {{ element.balance }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumn"></mat-row>
</mat-table>

<div style="display: flex; justify-content: center">
  <mat-paginator
    dir="ltr"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<!-- <div style="margin-inline: 3vw; margin-top: 2vh">
  <table
    datatable
    [dtOptions]="dtOptions"
    class="table table-bordered table-striped table-hover"
  >
    <thead>
      <tr>
        <th>פעולות</th>
        <th>מזהה שותף</th>
        <th>כתובת URL של השותף</th>
        <th>אימייל ליצירת קשר</th>
        <th>מספר טלפון</th>
        <th>כתובת אתר</th>
        <th>פרטי תשלום</th>
        <th>אחוז העמלה</th>
        <th>סטטוס</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let element of affiliateData">
        <tr>
          <td>
            <div class="flex">
              <button
                (click)="deleteItem(element.affiliateID)"
                style="border: none; margin-inline: 0.4vw"
              >
                <img
                  style="width: 20px"
                  src="../../../assets/icons/bin.svg"
                  alt="Logo"
                />
              </button>
              <button
                (click)="editItem(element.affiliateID)"
                style="border: none; margin-inline: 0.4vw"
              >
                <img
                  style="width: 20px"
                  src="../../../assets/icons/pen.svg"
                  alt="Logo"
                />
              </button>
            </div>
          </td>
          <td>{{ element.affiliateID }}</td>
          <td class="url-column">{{ element.affiliateUrl }}</td>
          <td>{{ element.contactEmail }}</td>
          <td style="text-align: end">{{ element.phoneNumber }}</td>
          <td>{{ element.websiteURL }}</td>
          <td class="bank-details-column">{{ element.paymentDetails }}</td>
          <td>{{ element.commissionPercentage }}</td>
          <td>{{ element.status }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div> -->
