/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.mx-2-sm-mx-10 {
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.5rem /* 8px */;
}

@media (min-width: 640px) {
  .mx-2-sm-mx-10 {
    margin-left: 2.5rem /* 40px */;
    margin-right: 2.5rem /* 40px */;
  }
}

@media (min-width: 640px) {
  .sm\:border-r-2 {
    border-right-width: 2px;
  }
}

@media (min-width: 640px) {
  .sm\:border-l-2 {
    border-left-width: 2px;
  }
}
.w-32 {
  width: 8rem /* 128px */;
}
.border-b-1 {
  border-bottom-width: 1px;
}

@media (min-width: 640px) {
  .sm\:w-\[1590px\] {
    width: 1590px;
  }
}

@media (min-width: 1773px) {
  .custom-grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .sm\:mt-16 {
    margin-top: 4rem /* 64px */;
  }
}

.border-\[\#e67c73\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 124 115 / var(--tw-border-opacity));
}
.right-4 {
  right: 1rem /* 16px */;
}
.-ms-72 {
  margin-inline-start: -18rem /* -288px */;
}
.text-center {
  text-align: center;
}
.border-\[\#e67c73\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 124 115 / var(--tw-border-opacity)) /* #e67c73 */;
}
.-ms-40 {
  margin-inline-start: -10rem /* -160px */;
}
html,
body {
  height: 100%;
  font-family: "Open Sans Hebrew", sans-serif;
  /* overflow-y: scroll!important; */
  /* -webkit-text-size-adjust: auto; */
}

:root {
  --main-color: #ffa800 !important;
  --main-color-light: #ffd37c !important;
  --main-color-dark: #c28100 !important;
  /* --main-font-family: rubik; */
  --main-font-family: "Open Sans Hebrew", sans-serif !important;
  --screen-s: 480px;
  --screen-m: 768px;
  --screen-l: 1024px;
  --bottom-nav-height: 3rem;
  --top-nav-height: 4rem;
  --content-height: calc(100vh-3rem-4rem);
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  /* font-family: 'rubik' !important; */
  font-family: "Open Sans Hebrew", sans-serif !important;
  background-color: #f8f9fa !important;
}

.item {
  transition: transform 0.2s;
}

/* .item-hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.item-reveal {
  opacity: 1;
  transition: opacity 0.1s linear;
} */

.item:hover {
  transform: scale(1.05);
  /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mat-icon {
  vertical-align: middle;
  /* font-family: 'Material Icons'; */
}

.clickable {
  cursor: pointer;
}

.rtl-snackbar {
  direction: rtl !important;
  color: black !important;
  background-color: #feefd7 !important;
  border: 4px double #ffcf00 !important;
  min-width: 0 !important;
}

.rtl-error-snackbar {
  direction: rtl !important;
  color: black;
  background-color: #feefd7;
  border: 4px double #ff5e00;
  min-width: 0 !important;
}

.shuffle-item {
  transition: transform 1s;
  /* transition: ease-in 2s; */
}

*:focus,
button:focus {
  outline: none !important;
}

@font-face {
  font-family: Open Sans Hebrew;
  /* src: url(\assets\Fonts\OpenSans-VariableFont_wdthwght.ttf) format("opentype"); */
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl;
  text-align: right;
}

.bg-\[\#ffe0d8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 224 216 / var(--tw-bg-opacity)) /* #ffe0d8 */;
}

.text-xs {
  font-size: 0.75rem /* 14px */;
  line-height: 0.25rem /* 20px */;
}

.h-8 {
  height: 2rem /* 32px */;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-\[\#e98980\] {
  --tw-border-opacity: 1;
  border-color: rgb(233 137 128 / var(--tw-border-opacity)) /* #e98980 */;
}

.z-999 {
  z-index: 999;
}

.inset-0 {
  inset: 0px;
}

.fixed {
  position: fixed;
}

.mt-36 {
  margin-top: 9rem /* 144px */;
}
