/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


.mx-2-sm-mx-10 {
  margin-left: 0.5rem/* 8px */;
  margin-right: 0.5rem/* 8px */;
}

@media (min-width: 640px) {
  .mx-2-sm-mx-10{
      margin-left: 2.5rem/* 40px */;
      margin-right: 2.5rem/* 40px */;
  }
}
.h-36 {
  height: 9rem/* 144px */;
}
html,
body {
  height: 100%;
  font-family: 'rubik';
  /* overflow-y: scroll!important; */
  /* -webkit-text-size-adjust: auto; */
}

:root {
  --main-color: #ffa800 !important;
  --main-color-light: #ffd37c !important;
  --main-color-dark: #c28100 !important;
  --main-font-family: rubik;
  --screen-s: 480px;
  --screen-m: 768px;
  --screen-l: 1024px;
  --bottom-nav-height: 3rem;
  --top-nav-height: 4rem;
  --content-height: calc(100vh-3rem-4rem)
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'rubik' !important;
  background-color: #f8f9fa !important;
}

.item {
  transition: transform .2s;
}

/* .item-hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.item-reveal {
  opacity: 1;
  transition: opacity 0.1s linear;
} */

.item:hover {
  transform: scale(1.05);
  /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mat-icon {
  vertical-align: middle;
  /* font-family: 'Material Icons'; */
}

.clickable {
  cursor: pointer;
}

.rtl-snackbar {
  direction: rtl !important;
  color: black !important; 
  background-color: #feefd7 !important;
  border: 4px double #ffcf00 !important;
  min-width: 0 !important;
}

.rtl-error-snackbar {
  direction: rtl !important;
  color: black;
  background-color: #feefd7;
  border: 4px double #ff5e00;
  min-width: 0 !important;
}

.shuffle-item {
  transition: transform 1s;
  /* transition: ease-in 2s; */
}

*:focus,
button:focus {
  outline: none !important;
}

@font-face {
  font-family: rubik;
  src: url(\assets\Fonts\Rubik-VariableFont_wght.ttf) format("opentype");
}

::ng-deep .tooltip-class {
  font-size: 0.8rem;
  direction: rtl;
  text-align: right;
}
