* {
  direction: rtl;
}

app-card {
  max-width: 25vw;
}

.content {
  display: flex;
  flex-direction: row;
}

.card-pre-reveal {
  margin: 10px 10px;
  max-height: 85vh;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s linear;
}

.card-reveal {
  /* visibility: visible; */
  opacity: 1;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
}

.closeModalButton {
  margin-top: -3%;
}

.closeModalButton:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  app-card {
    max-width: 100%;
  }
}
