<div mat-dialog-title style="text-align: start;">
  <button class="iconButton" mat-icon-button (click)="closeDialog()">
      <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<!-- <div class="d-flex flex-column"> -->
  <!-- <button class="closeModalButton" mat-icon-button (click)="closeDialog()">
    <mat-icon>highlight_off</mat-icon>
  </button> -->
  <mat-dialog-content class="content">
  <!-- <div class="content"> -->
  <!-- <div [ngClass]="{'content': true, 'one-card': data.length == 1, 'two-card': data.length == 2,
    'three-card': data.length == 3, 'four-card': data.length == 4, 'five-card': data.length == 5}"> -->
    <!-- <div class="card-preview" *ngFor="let card of data"> -->
      <img *ngFor="let card of data" loading="eager" 
      [ngClass]="{'img-view': true, 'one-card': data.length == 1, 'two-card': data.length == 2,
      'three-card': data.length == 3, 'four-card': data.length == 4, 'five-card': data.length == 5}" 
      src={{card.imgUrl}} data-src={{card.imgUrl}}>
      <!-- <span class="badge badge-pill badge-light index">{{card.index}}</span> -->
    <!-- </div> -->
  <!-- </div> -->
  </mat-dialog-content>
  <!-- <div *ngIf="data.length > 1" id="rotate-screen-instruction">
    <mat-icon>screen_rotation</mat-icon>
    <span style="text-align: center;">לחווית שימוש מיטבית, כדאי לעבור לתצוגה אופקית.</span>
  </div> -->
<!-- </div> -->