* {
  direction: rtl;
}

app-card {
  max-width: 25vw;
}

.content {
  display: flex;
  flex-direction: row;
}

.one-card,
.two-card {
  height: 65vh;
}

.three-card,
.four-card {
  height: 45vh;
}

.five-card {
  height: 40vh;
}

.card-pre-reveal {
  margin: 10px 10px;
  max-height: 85vh;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s linear;
}

.card-reveal {
  /* visibility: visible; */
  opacity: 1;
}

.img-view {
  height: 95%;
}

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
  padding: 10px;
}

.index {
  width: 100%;
}

.card-preview {
  padding: 0.5em;
}

.closeModalButton {
  /* margin-top: -3%; */
  margin-top: 0px;
}

.closeModalButton:focus {
  outline: none;
}
