* {
  direction: rtl;
}

app-card {
  max-width: 25vw;
}

.content {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 1rem;
}

.one-card,
.two-card {
  height: 65vh;
}

.three-card,
.four-card {
  height: 45vh;
}

.five-card {
  height: 40vh;
}

.card-pre-reveal {
  margin: 10px 10px;
  max-height: 85vh;
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5s linear;
}

.card-reveal {
  /* visibility: visible; */
  opacity: 1;
}

.img-view {
  width: 100%;
  height: -webkit-fill-available;
}

.badge-light {
  font-size: 0.8rem;
  background-color: #efefef;
}

::ng-deep .mat-dialog-container {
  overflow: hidden;
  padding: 10px;
}

.index {
  width: 100%;
}

.card-preview {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.closeModalButton {
  /* margin-top: -3%; */
  margin-top: 0px;
}

.closeModalButton:focus {
  outline: none;
}

#rotate-screen-instruction {
  display: none;
  align-items: center;
  gap: 5px;
  font-size: small;
  justify-content: center;
  margin-top: 0.5rem;
}

@media screen and (orientation: portrait) {
  #rotate-screen-instruction {
    display: inherit;
  }

  .one-card,
  .two-card,
  .three-card,
  .four-card,
  .five-card {
    height: 65vh;
  }

  .content {
    flex-direction: column;
    overflow: auto;
    max-height: 55vh;
  }

}

/* @media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }
} */