<div class=" flex items-center justify-center flex-col">
    <div class="mt-8 sm:text-4xl text-2xl text-center font-bold">
        מנטור - קארדס <br>
        בית לערכות קלפים דיגיטליות
    </div>
    <div class="sm:w-[35vw] w-[90vw] text-center sm:text-base text-xs font-bold mt-8">
        ברוכים הבאים לעידן הנכון, המרחב בו קלפי עבודה השלכתיים הם דיגיטליים. <br class="hidden sm:block">
        עולם ומלואו של קלפי עבודה אינסופיים בפלטפורמה אחת מרוכזת, חדשנית, וכל כך קלה, פשוטה ונוחה לעבודה. <br>
        היה ואתם נמנים עם מקצועות הטיפול, הנחיה, אימון, ניהול, אנשי חינוך, מרצים, או פשוט אנשים שאוהבים לעבוד עם אנשים –
        מנטור-קארדס הוא הקלף המנצח שלכם.
    </div>
    <img src="/assets/New/home-page/sub-hero-logo.svg" alt="user image" class="my-12 w-[50vw] sm:w-[15vw]" />
</div>