<div class=" flex items-center justify-center flex-col">
    <div class="mt-8 text-4xl text-center font-bold">
        מנטור - קארדס <br>
        בית לערכות קלפים דיגיטליות
    </div>
    <div class="w-[35vw] text-center text-md font-bold mt-8">
        ברוכים הבאים לעידן הנכון, המרחב בו קלפי עבודה השלכתיים הם דיגיטליים. <br>
        עולם ומלואו של קלפי עבודה אינסופיים בפלטפורמה אחת מרוכזת, חדשנית, וכל כך קלה, פשוטה ונוחה לעבודה. <br>
        היה ואתם נמנים עם מקצועות הטיפול, הנחיה, אימון, ניהול, אנשי חינוך, מרצים, או פשוט אנשים שאוהבים לעבוד עם אנשים –
        מנטור-קארדס הוא הקלף המנצח שלכם.
    </div>
    <img src="/assets/New/home-page/sub-hero-logo.svg" alt="user image" class="my-12" />
</div>