
<div class="dialog-content-wrapper">
    <div mat-dialog-title style="text-align: center;">
        <button class="iconButton" mat-icon-button (click)="closeDialog()">
            <mat-icon>highlight_off</mat-icon>
        </button>
        <span id="title">תשלום באמצעות PayPal או כרטיס אשראי</span>
    </div>
    <div class="line"></div>
    <div id='summery' mat-dialog-content>
        <input type="checkbox" id="termsCheckbox" [(ngModel)]="termsAccepted" name="termsAccepted"/>
        <label for="termsCheckbox" style="font-size: medium;">אני מאשר/ת שקראתי ומסכים/ה ל <a (click)="openSiteRulesModal()">תנאים האלה</a> ומבין/ה שעלי לסמן תיבה זו כדי להמשיך לתשלום מאובטח.</label>
    </div>
    <div mat-dialog-actions>
        <button class="continue" (click)="openApprovePurchaseDialog()" [disabled]="!termsAccepted">המשך לתשלום</button>
    </div>
    </div>