<div
  style="border-radius: 15px; padding: 20px"
  [dir]="langDirectionService.currentLangDirection"
>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <span
      style="font-size: 1.2rem; font-weight: 600"
      [class.text-left]="langDirectionService.currentLangDirection === 'ltr'"
      [class.text-right]="langDirectionService.currentLangDirection === 'rtl'"
    >
      {{ "pages.readTermsDialog.title" | translate }}
    </span>
    <button (click)="closeDialog()">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
  <div class="line"></div>
  <div
    [ngClass]="{
      'text-right': langDirectionService.currentLangDirection === 'rtl',
      'text-left': langDirectionService.currentLangDirection === 'ltr'
    }"
    style="margin-top: 20px; display: flex; align-items: center; gap: 10px"
    [ngStyle]="{
      'flex-direction':
        langDirectionService.currentLangDirection === 'rtl'
          ? 'row'
          : 'row-reverse'
    }"
  >
    <input
      type="checkbox"
      id="termsCheckbox"
      [(ngModel)]="termsAccepted"
      name="termsAccepted"
    />
    <label
      for="termsCheckbox"
      style="font-size: medium; margin-right: 5px"
      [ngClass]="{
        'text-right': langDirectionService.currentLangDirection === 'rtl',
        'text-left': langDirectionService.currentLangDirection === 'ltr'
      }"
      >{{ "pages.readTermsDialog.termsText" | translate }}
      <a (click)="openSiteRulesModal()" style="color: #e67c73">{{
        "pages.readTermsDialog.termsLink" | translate
      }}</a>
      {{ "pages.readTermsDialog.termsDescription" | translate }}</label
    >
  </div>
  <div mat-dialog-actions>
    <button
      [ngStyle]="{
        'background-color': termsAccepted ? '#e67c73' : '#cacaca',
        color: termsAccepted ? 'white' : '#666',
        cursor: termsAccepted ? 'pointer' : 'not-allowed'
      }"
      class="w-full rounded-full py-2 text-lg font-semibold"
      (click)="openApprovePurchaseDialog()"
      [disabled]="!termsAccepted"
    >
      {{ "pages.readTermsDialog.continueButton" | translate }}
    </button>
  </div>
</div>
