/* mat-icon {
    font-family: 'Material Icons';
  }
  
  mat-toolbar {
    margin-top: -10px;
    background-color: transparent;
  }
  
  .warning-text {
    color: red;
    margin-bottom: 10px; 
  }
  
  .red-text {
    color: red;
    font-size: medium;
  }
  
  a {
    color: #007bff !important;
    text-decoration: underline !important;
    cursor: pointer !important;
  }
  
  .line {
    background-color: #ffa800;
    width: auto;
    height: 3px;
    margin-bottom: 1rem;
  }
  
  li {
    font-size: medium;
  }
  
  #title {
    font-size: large;
  }
  
  ul {
    line-height: 1.5rem;
    padding-right: 1rem;
  }
  
  ::ng-deep .tooltip-class {
    font-size: 0.8rem;
    direction: rtl !important;
    text-align: right;
  }
  
  #payment-title {
    font-size: medium;
    text-decoration: underline;
  }
  
  #payment-inst-list {
    font-weight: 600;
  }
  
  .mat-dialog-content {
    font-size: medium;
    max-height: initial;
    max-width: 35vw;
  }


  .checkbox {
    display: inline-block;
    max-width: 100%; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    border-color: red;
    white-space: pre-wrap;
  }

  .label-disabled {
    pointer-events: none; 
    opacity: 0.6; 
  }

  mat-dialog-actions {
    display: flex;
    justify-content: center; 
  }
  
  .continue {
    margin-left: 10px;
    height: 39px;
    border-radius: 5px;
    border: solid 1px white;
    background: var(--main-color);
    color: white;
    border-color: white;
    font-weight: 500;

    font-size: large;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, opacity .15s ease-in-out;
  }

#summery {
  display: flex;
  align-items: flex-start; 
}

#summery input[type="checkbox"] {
  margin-top: 4px; 
  margin-left: 8px; 
}

#summery label {
  font-size: medium;
}

  

  .continue:disabled {
    background: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    box-shadow: none; 
    border: solid 1px #ccc; 
  }

  @media screen and (max-width: 768px) {
    .mat-dialog-content {
      max-width: initial;
    }

    .scrollable-content {
      max-height: 400px; 
      overflow-y: auto; 
    }
  }
   */
