<div class="coupon-dialog-container">
  <div class="dialog-header">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <span class="dialog-title">?יש לך קוד הטבה</span>
  </div>

  <div class="dialog-content">
    <form class="coupon-form" [formGroup]="userForm">
      <div class="input-container">
        <input
          type="text"
          class="coupon-input"
          formControlName="couponCode"
          placeholder=""
          cdkFocusInitial
        />
        <div class="error-messages" *ngIf="formControls.couponCode.errors">
          <div
            class="error-message"
            *ngIf="formControls.couponCode.hasError('noSuchCoupon')"
          >
            קוד הטבה זה לא קיים
          </div>
          <div
            class="error-message"
            *ngIf="formControls.couponCode.hasError('userHasCoupon')"
          >
            קוד ההטבה כבר הוזן
          </div>
          <div
            class="error-message"
            *ngIf="
              formControls.couponCode.hasError('userAlreadyInOrganization')
            "
          >
            קוד הטבה עבור אירגון זה כבר פעיל
          </div>
          <div
            class="error-message"
            *ngIf="formControls.couponCode.hasError('notInOrganization')"
          >
            כתובת המייל שלך אינה נמצאת במאגרי המידע שברשותינו. אנא פנו לאיש הקשר
            באירגונכם
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="dialog-actions">
    <button
      id="enterCouponCode"
      class="update-price-button"
      type="button"
      (click)="enterGroup()"
      [disabled]="userForm.invalid || !inGroup"
    >
      עדכן מחיר
    </button>
  </div>
</div>
